<a href="https://colab.research.google.com/github/iamshirdi/ETL/blob/master/smart_price_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import requests

url = 'https://github.com/iamshirdi/ETL/blob/master/data/size_data.zip?raw=true'

r = requests.get(url, allow_redirects=True)
open('size_data.zip', 'wb').write(r.content)

6283825

In [0]:
!du -h size_data.zip

6.0M	size_data.zip

In [0]:
from zipfile import ZipFile

with ZipFile('size_data.zip', 'r') as zipObj:
  # Extract all the contents of zip file in current directory
  zipObj.extractall()

In [0]:
!du -h data.csv

121M	data.csv

In [0]:
import os
os.listdir()

['.config', 'size_data.zip', 'data.csv', 'sample_data']

In [0]:
import pandas as pd
pd.set_option("display.max_colwidth", -1) 
df=pd.read_csv('data.csv')
df.head(2)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      article_no  ...                                                    url
0  H&M/754108001  ...  https://www2.hm.com/sv_se/productpage.0754108001.html
1  H&M/754108001  ...  https://www2.hm.com/sv_se/productpage.0754108001.html

[2 rows x 8 columns]

In [0]:
df.count()

article_no    766026
gender        766026
category      766026
price         766026
size          766026
brand         766026
name          766009
url           766026
dtype: int64

In [0]:
df2=df[['gender','category','price','size','brand']]
df2.head(2)

   gender   category  price size brand
0  unisex  bodysuits  99     44   h&m
1  unisex  bodysuits  99     50   h&m

In [0]:
df2['price'].unique().size

1314

In [0]:
df2['category'].unique().size

201

In [0]:
df2['brand'].unique().size

657

In [0]:
import numpy as np
np.set_printoptions(threshold=np.inf)
df2['price'].dtype
df2['price'].unique()

array([  99,  179,   50,   30,   40,   15,   20,  149,  129,   70,   24,
        199,   80,   60,   90,  249,  399,   25,  499,  299,  159,  229,
        349,   11,  100,   10,   75,  699,  279,  119,   64,  449,  379,
         49,   79,  109,   89,   59,  139,  289,  339,  219,   69,  599,
        529,  169,  189,  209,  269,  259,  239,  419,  395,  132,  400,
        329,  380,  280,  450,   39,  429,  439,  309,  359,  389,  369,
        689,  479,  579,  319,  549,  489,  679,  799,  609,  469,  539,
        409,  509,  559,  245,  110,  130,  749,  254,  224,  589,  999,
        929,  899,  759,  839,  729,  659,  649,  829,  849,  949,  909,
        519, 1399, 1499,  779, 1069,  869, 1569, 1199,  629, 1119, 1295,
        979, 1299, 1169, 1098, 1099, 1009, 1129,  569,  789,  619,  709,
        459, 1799,  889, 2199, 1599, 1049, 1289, 1999, 1229,  719,  739,
        859,  959,  809,  639,  939,  300,  240,  480,  200,  600,  520,
        560,  440,  220,  180,  320,  140,  260,  880,    1,   72,  960,
         55,  360,   32,  640,  160,  680,  800,   96,   74,  150,  124,
        174,  114,  120,   51,   81,   35,  250,  304,  134,  107,  112,
         65,   97,  125,  104,  127,  187,  244,   77,  137,  167,  195,
        262,  172,   47,  103,  116,  210,  374,  524,  674,  111,  212,
         44,   41,   52,  879,  230,  170, 1045,  324,  669,  432, 1495,
        190,  378,  430, 1095, 1145,  350, 1445, 1195,  485, 1115,  500,
       1025, 1645,  540, 1075, 1245,  648,  330,  486,  270, 1545,  340,
       1175, 1345,  537, 1005, 1695,  650,  700, 1595, 1995,  750, 1395,
        490, 1795, 1155,  769, 1215,  410, 1379, 1159, 2145, 1059, 1909,
        265,  266, 2345,  191,  303,  550,  989,  969, 2095, 1055,  390,
       1015, 4445, 1125, 1305, 2245, 2045,  290,  530, 1945, 1505, 1205,
        425, 1895, 1549, 1475, 1745, 2195,  919,  900, 1105, 1209, 1315,
        895,  745,  690,  365,  325,  595,  665,  715,  435,  685,  735,
        475,  790,  835,  507,  613, 1060, 1185, 1335,  505,  555,  860,
        605,  755,  655,  705,  730,  985,  455,  405, 2419, 2519, 2679,
        415,  615, 1013,  853,  667,  453,  315, 1259,  295,  725,  495,
       1469, 1579,  910,  795,  545,  345,  695,  995,  525,  208,  176,
        192,  414,  474,  403,  460,  518,  575,  633,  805,  748,  225,
        445,  335, 1173, 1067, 3625, 3939, 1889, 2049,  385,  388,  444,
        332,  590,  285,  704,  288,  223, 1265, 1419, 1525, 1629, 2365,
        185,  470,  305,  558,  647,  762,  841,  932, 1021,  645,  205,
        234, 1839,  273,  411,  342,  514,  935, 1079,  535,  502,  593,
        684,  742,  856,  635,  298,  344, 1675,  465, 1225, 1355,  145,
        155,  625,  228,  628,  401,  206,  945,  458,  757,  252,  164,
        183, 1008, 1109,  515, 1389, 1485,  268,  316,  452,  564,  115,
        165,  175,  193,  221,  306,  201,  171,  188,  182,  196,  216,
        984, 1035, 1685, 1405,  423,  476,  631,  375,  135,  810, 1089,
       2839, 3099, 4829, 5199, 5669, 1030, 1150,  907, 1010, 1110, 1640,
       1735, 1369, 4729, 5569, 1200, 1789, 2469,  620,  863,  978, 2099,
       2575, 1039,  930, 1050,  785,  830,  905, 4199, 4569, 4939,  275,
        747, 1420, 1715,  947,  975, 1027, 1141, 1256, 1427, 1160,  697,
       1790,  630,  687,  572, 1084, 1370, 1819, 1915,  456,  548, 1589,
       1649,  857,  958, 5165, 5265, 2439, 2539, 2635, 2155, 2329, 2269,
       2499, 2605,  807,  908,  565,  815, 2299,  855,  203,  231,  154,
        373,  670,  740, 2889, 2995, 3149, 1679, 2259,  693,  710, 1869,
       1219, 1275,  571, 1699, 2969, 3209, 3399, 3359,  343, 2525, 2629,
        533, 2309, 2675, 1635, 1755, 1920, 3970, 3704, 1560, 1680, 3469,
       3835, 1302, 1539, 1602, 1702, 1840, 2040, 1100, 1670, 1965, 3979,
       4109,  973,  865, 1375, 3600, 3920, 3335, 3575, 2925, 3175, 3455,
       1400, 1500,  885,  840,  770, 1879, 1440, 2395, 2520, 2645, 1019,
       4465, 5409, 4989, 1555, 1730, 1930, 2729, 1230, 2100, 2350, 1850,
       2050, 2165, 2355, 3049, 3519, 3889, 1270, 4309, 1439, 1349, 2485,
       2769, 1655, 1815, 2545, 2865, 4779, 5249, 4675, 1865, 1990, 3415,
        950, 1070, 1470, 8035, 8559, 1065, 1184, 4885, 5989, 2319, 2585,
        503,  744, 4019, 4429, 4809, 7415, 7655, 5215, 5695, 3649, 3779,
       5015, 5179, 1373, 3589, 3829, 1619, 1719, 1365,   23,   45, 1949,
        235, 1029,  850, 1149, 1320, 3729, 6039, 1054,  594, 1939, 2105,
       3045,  845,  765, 1625, 1732,  391,  873,  925,  310,  796,  367,
        915,  580,  207, 2785, 2115, 1085,  870,  610,  712,  255,  819,
        896, 1575, 1529, 1269, 1359,  457, 1339,  437,  328, 2059, 1465,
       1590, 1180, 1120, 1615, 1740,  675,  775, 3255, 3539, 2039,  585,
       3159, 3445, 3685,  660, 1210, 2270,  965, 3259, 3679, 2209, 1430,
       1975, 2175, 2425, 4149, 5725, 1942, 2190, 1316, 1407, 1179, 2273,
       2248, 2500,  875,  644,  508, 1449, 1300,  562,  355, 1480, 1605,
        990, 2289, 2579, 3495, 1135, 5935, 6175, 2535, 2825,  606, 1805,
       3989, 4359, 1479, 1235,  215,  321, 1989, 1535, 1329,  126,  123,
        101, 2179, 2939, 1360, 1659, 1935,  370, 1279, 3230, 3475, 3725,
       2240, 3165, 3665, 2300, 2550,  970, 5149, 6249, 5515, 4535, 4905,
       5280, 2360, 2730, 5879, 6509, 7195, 1122, 1237, 1782, 1885, 2005,
       2220, 2470, 1249, 7615, 4619,  825, 1899, 4069, 4259, 2479, 2595,
       5739, 5979, 1429,  243, 3245, 3545, 3035,  576,  914, 1006, 1528,
       2168, 2417, 1986, 1153, 1303, 1080, 1425,  904, 1128,  955,  263,
        416,  448, 1240, 1304, 1364,  933,  996, 1197, 1571, 1639, 1721,
        791,  822, 2009, 1489, 3785, 4165, 1765, 1239, 1139, 3299, 3585,
       1775, 2255, 2445,  612,  663,  711,  420, 1071,  578,  616,  272,
        293, 3205, 5095,  147, 6985, 2389, 2705, 5305,  696,  764,  302,
       4045, 1900, 2600,  821,  971, 3419, 1519, 2999, 3369, 2265, 2375,
        678,  297,  296,  584,  780, 1000,  105,  496,  308,  138,  168,
         83,  222,  162,  156,  153,  204,  217,  186,  238,  283,  264,
        292,  588,  581,  504,  261,  118,  102,  214,  442,  213,  482,
        424,  146,  197,   84,  544, 2235,  233, 1309, 2405, 1559, 1319,
       2219, 1260, 1669, 2749, 4299, 2715, 1705, 1959, 1855, 1929, 2569,
       2036, 2250, 3879, 1380, 1919, 1285, 2065, 1515, 3069, 1211,  472,
       1330,  727,  923,  888,  384, 1042,  906, 2489, 2680,  846,  951,
       1396, 1665, 1483,  927, 1759, 1585,  783,  517,  510, 1343,  811,
        461, 3849,  671,  493,  433,  531,  454,  843,  731, 1231, 1280,
        608,  643, 2078, 1777, 2274, 1709, 1246, 1532, 2465, 1708, 1116,
       1063, 3039, 2580,  944,  741,  587, 1074, 3051,  363, 1830, 1414,
        826, 1190, 1144,  566, 2249,  412, 1613,  276, 2120,  804,  913,
        447, 1620, 1994, 2474,  752,  286, 1032, 1658, 1385,  994,  878,
        377,  426,  468,  314,  356,  993,  777,  353,  381,  251,  861,
        467,  546,  491,  703,  413,  404,  396,  364,  376,  986,  884,
        184,  382, 1496, 1413,  940,  563,  144,  592,  366,  427,  322,
        287,  291,  242,  398,  547,  227,  181, 1565, 3555, 3279, 1514,
       3315, 1609,  890,  108, 2169, 1875, 1286, 1352, 3505, 2075, 1415,
       1996, 2653, 2739, 1435,  832,  664,  980,  307, 2159,  301,  372,
        282,  258,  361,  318,  392,  473,  294,  202,  406,  357,  277,
        368,  211, 1207, 1401,  237,  636,  336,  334,  802,  387,  194,
        443,  394,  844,   95,   78,   88, 1189,  954,  911,  898, 2446,
        157,  538, 1371,  577,  552,  241,  312,  158,   56,   98,  161,
        178,   93,  311,  117,  624,  177,  136,  371,  417,  436,   76,
        488,   92,  128,   68,  438, 1203,  642, 1540, 2043,  567,  451,
        556,  542,  408, 1040, 1859, 1409,  797,  847, 1325, 1700, 1007,
       1518,  358,  256,  397,  720,  736,  421,  828,   63,   85,   53,
         87,   91, 1459,  483,  151,  596,  651,  354,  352,  253,  858,
        561,  143,  393,  284,  351,  347,  462,  441,  402,  623,  166,
        218,  348,  148,  536,  418,  338,  657,  274,  247,   82,  492,
        248,   71,  131,  477,  236,  323,   43,  516,   57,  582,  346,
        317,  341,  698,  498,  597,  598,  113,  333,  173,  281,  257,
        513,  198,  267,  481,  428,  902,  142, 1012,  246,  327,  383,
        494,  512,   54,   22,   27,   29,   46,   18,   21,   38,   42,
         66,   36,  422,  527,  487,  714,  570,  522,  604,  521,  407,
        511,  824,  337,  583,  717,  724,  632,  568, 1350,  618,  434,
        956,  637,  920,  532, 2400,  617,  622,   58,  602,  942,  897,
       1250,  141, 1600,  621,  801,  611,    2,    3,  837,  716,  701,
         34,  278,  957,   94,   31])

In [0]:
df2['size'].unique().size

240

In [0]:
df2['size']=df2['size'].astype('str')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
# list=['L','No Size','XS','XL','SL','M','S']
list=['SL']
df3=df2
for l in list:
  df3=df3[df3['size']!=l]

In [0]:
df3['size']=df3['size'].map(lambda x:x.replace('No Size','no size'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
# df3['size']=df3['size'].astype('int64')
# df3['size'].dtype

In [0]:
df3['size'].unique()#sl only remove #no size, xl,xs,sl,s,m,l

array(['44', '50', '56', '62', '68', '74', '80', '86', '92', '98', '104',
       '110', '116', '122', '128', '134', '130', '136', '152', '158',
       '164', '170', '51', '52', '53', '54', '55', '57', '58', '59', '60',
       '61', '63', '64', '65', '66', '67', '69', '70', '71', '72', '73',
       '75', '76', '77', '78', '79', '93', '94', '95', '96', '97', '99',
       '100', '101', '102', '103', '111', '112', '113', '114', '115',
       '123', '124', '125', '126', '127', '81', '82', '83', '84', '85',
       '87', '88', '89', '90', '91', '46', '47', '48', 'no size', '34',
       '45', '129', '131', '132', '133', '135', '137', '138', '139',
       '140', '141', '142', '143', '144', '145', '146', '147', '148',
       '149', '150', '42', '43', '38', 'S', 'M', 'L', '120', '117', '118',
       '119', '121', '151', '153', '154', '155', '156', '157', '159',
       '160', '161', '162', '163', '165', '166', '167', '168', '169',
       '36', '37', '40', '41', '105', '106', '107', '108', '109', 'XS',
       'XL', '4', '6', '49', '5', '1', '8', '12', '10', '14', '39', '3',
       '32', '2', '190', '25', '26', '27', '28', '29', '30', '31', '33',
       '35', '18', '19', '20', '16', '17', '23', '24', '21', '22', '171',
       '172', '173', '174', '175', '176', '11', '13', '15', '0', '182',
       '183', '184', '185', '186', '187', '188', '177', '178', '179',
       '180', '181', '189', '9', '7', '191', '192', '193', '194', '195',
       '196', '197', '198', '199', '200', '201', '202', '203', '204',
       '205', '206', '207', '208', '209', '210'], dtype=object)

In [0]:
df3['brand']=df3['brand'].map(lambda x: x.replace('unauthorized', 'no brand'))
df3[df3['brand']=='unauthorized']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [gender, category, price, size, brand]
Index: []

In [0]:
df3.head(2)

   gender   category  price size brand
0  unisex  bodysuits  99     44   h&m
1  unisex  bodysuits  99     50   h&m

In [0]:
X=df2[['size','gender','category','brand']]
X=pd.get_dummies(data=X)
X[0:3]

   size_0  size_1  size_10  ...  brand_zip and zoe  brand_zunblock  brand_åhléns
0  0       0       0        ...  0                  0               0
1  0       0       0        ...  0                  0               0
2  0       0       0        ...  0                  0               0

[3 rows x 1079 columns]

In [0]:
Y=df2[['price']]
Y[0:3]

   price
0  99
1  99
2  99

In [0]:
# df2['brand'].unique() #no brand
dt={}
dt['X']=X
dt['y']=Y

In [0]:
# train['y']=train['y'].astype('int64')
# train['X']=train['X'].astype('float32')

In [0]:
dt['y'].shape

(766026, 1)

In [0]:
import numpy as np
# np.unique(train['y'])

In [0]:
dt['X'].shape

(766026, 1079)

In [0]:
# train['X']=train['X'].to_numpy()
type(dt['X'])

pandas.core.frame.DataFrame

In [0]:
# train['y']=train['y'].to_numpy()
type(dt['y'])

pandas.core.frame.DataFrame

In [0]:
import time
start_time = time.time()
print('Start time in seconds is : {}'.format(start_time))

Start time in seconds is : 1567433091.731971

In [0]:
# train['y']=train['y'].astype('int64')
# train['X']=train['X'].astype('float32')

In [0]:
from sklearn.model_selection import train_test_split
# now we use the train_test_split function already available in sklearn library to split our data set
trainX, testX, Y_train, Y_test = train_test_split(dt['X'], dt['y'], test_size = .20, random_state = 42)

In [0]:
trainX.shape

(612820, 1079)

In [0]:
# find the largest house price in the training set and use it to
# scale our house prices to the range [0, 1] (this will lead to
# better training and convergence)
maxPrice = Y_train.max()
trainY = Y_train / maxPrice
testY = Y_test / maxPrice

In [0]:
# import the necessary packages
from keras.models import Sequential
from keras.layers.normalization import BatchNormalization
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.layers.core import Activation
from keras.layers.core import Dropout
from keras.layers.core import Dense
from keras.layers import Flatten
from keras.layers import Input
from keras.models import Model
 
def create_mlp(dim):
  model = Sequential()
    # define our MLP network
  model.add(Dense(500, activation='relu', input_dim=dim))
  model.add(Dropout(0.5))
  model.add(Dense(100, activation='relu'))
  model.add(Dropout(0.5))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(1, activation="linear"))
  return model

Using TensorFlow backend.

In [0]:
trainX.shape[1]

1079

In [0]:
model2=create_mlp(trainX.shape[1])
model2.summary()

WARNING: Logging before flag parsing goes to stderr.
W0902 14:04:59.115417 140132790368128 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0902 14:04:59.139088 140132790368128 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0902 14:04:59.142413 140132790368128 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0902 14:04:59.164453 140132790368128 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0902 14:04:59.260499 140132790368128 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 500)               540000
_________________________________________________________________
dropout_1 (Dropout)          (None, 500)               0
_________________________________________________________________
dense_2 (Dense)              (None, 100)               50100
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 51
=================================================================
Total params: 595,201
Trainable params: 595,201
Non-trainable params: 0
_________________________________________________________________

In [0]:
from keras import backend as K
K.tensorflow_backend._get_available_gpus()

W0902 14:04:59.353511 140132790368128 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

['/job:localhost/replica:0/task:0/device:GPU:0']

In [0]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 2690244343070220743
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 7769160834083578137
physical_device_desc: "device: XLA_CPU device"
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 17306861910547310635
physical_device_desc: "device: XLA_GPU device"
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 11330053735
locality {
  bus_id: 1
  links {
  }
}
incarnation: 3693690434116346514
physical_device_desc: "device: 0, name: Tesla K80, pci bus id: 0000:00:04.0, compute capability: 3.7"
]

In [0]:
#lr = self.lr * (1. / (1. + self.decay * self.iterations))

In [0]:
# Regression with KerasPython
# create our MLP and then compile the model using mean absolute
# percentage error as our loss, implying that we seek to minimize
# the absolute percentage difference between our price *predictions*
# and the *actual prices*
from keras.optimizers import adam

model = create_mlp(trainX.shape[1])
opt = adam(lr=1e-3, decay=1e-3 / 200)
model.compile(loss="mean_absolute_percentage_error", optimizer=opt)

# train the model
print("[INFO] training model...")
model.fit(trainX, trainY, validation_data=(testX, testY),
	epochs=20, batch_size=8)

W0902 14:05:00.039339 140132790368128 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

[INFO] training model...
Train on 612820 samples, validate on 153206 samples
Epoch 1/20
612820/612820 [==============================] - 509s 830us/step - loss: 52.2621 - val_loss: 37.2309
Epoch 2/20
612820/612820 [==============================] - 506s 826us/step - loss: 43.3510 - val_loss: 47.2900
Epoch 3/20
612820/612820 [==============================] - 508s 830us/step - loss: 40.2375 - val_loss: 34.1306
Epoch 4/20
612820/612820 [==============================] - 509s 830us/step - loss: 38.4660 - val_loss: 32.5179
Epoch 5/20
612820/612820 [==============================] - 508s 829us/step - loss: 37.6632 - val_loss: 38.4874
Epoch 6/20
612820/612820 [==============================] - 511s 833us/step - loss: 36.9052 - val_loss: 33.2449
Epoch 7/20
473400/612820 [======================>.......] - ETA: 1:48 - loss: 35.9899Buffered data was truncated after reaching the output size limit.

In [0]:
testY=testY.to_numpy()

In [0]:
# make predictions on the testing data
print("[INFO] predicting house prices...")
preds = model.predict(testX)
 
# compute the difference between the *predicted* house prices and the
# *actual* house prices, then compute the percentage difference and
# the absolute percentage difference
diff = preds.flatten() - testY
percentDiff = (diff / testY) * 100
absPercentDiff = np.abs(percentDiff)
 
# compute the mean and standard deviation of the absolute percentage
# difference
mean = np.mean(absPercentDiff)
std = np.std(absPercentDiff)
 
# finally, show some statistics on our model
locale.setlocale(locale.LC_ALL, "en_US.UTF-8")
print("[INFO] avg. house price: {}, std house price: {}".format(
	locale.currency(df["price"].mean(), grouping=True),
	locale.currency(df["price"].std(), grouping=True)))
print("[INFO] mean: {:.2f}%, std: {:.2f}%".format(mean, std))

In [0]:
test

In [0]:
type(testY.to_numpy())

In [0]:
preds