In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/nameit.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name           24897
brand          24897
gender         24897
category       24897
size           24897
price          24897
composition    24897
color          24897
url            24897
img_url        24897
article_no     24897
dtype: int64

,name,brand,gender,category,size,price,composition,color,url,img_url,article_no
0,BABY blommig Tunika,nameit,girl,ni-baby-dresses-skirts,50,"\n149,95 kr\n","95% Ekologisk bomull, 5% Elastan",Grön / Green Gables,https://www.nameit.com/se/sv/ni/baby---strl-40-74/klanningar-och-kjolar/baby-blommig-tunika-13167118.html?cgid=ni-baby-dresses-skirts&dwvar_colorPattern=13167118_GreenGables,https://www.nameit.com/dw/image/v2/ABBT_PRD/on/demandware.static/-/Sites-pim-catalog/default/dwaf17dba5/pim-static/large/13167118_GreenGables_001_ProductLarge.jpg?sw=685,13167118
1,BABY blommig Tunika,nameit,girl,ni-baby-dresses-skirts,56,"\n149,95 kr\n","95% Ekologisk bomull, 5% Elastan",Grön / Green Gables,https://www.nameit.com/se/sv/ni/baby---strl-40-74/klanningar-och-kjolar/baby-blommig-tunika-13167118.html?cgid=ni-baby-dresses-skirts&dwvar_colorPattern=13167118_GreenGables,https://www.nameit.com/dw/image/v2/ABBT_PRD/on/demandware.static/-/Sites-pim-catalog/default/dwaf17dba5/pim-static/large/13167118_GreenGables_001_ProductLarge.jpg?sw=685,13167118
2,BABY blommig Tunika,nameit,girl,ni-baby-dresses-skirts,62,"\n149,95 kr\n","95% Ekologisk bomull, 5% Elastan",Grön / Green Gables,https://www.nameit.com/se/sv/ni/baby---strl-40-74/klanningar-och-kjolar/baby-blommig-tunika-13167118.html?cgid=ni-baby-dresses-skirts&dwvar_colorPattern=13167118_GreenGables,https://www.nameit.com/dw/image/v2/ABBT_PRD/on/demandware.static/-/Sites-pim-catalog/default/dwaf17dba5/pim-static/large/13167118_GreenGables_001_ProductLarge.jpg?sw=685,13167118

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name           24668
brand          24668
gender         24668
category       24668
size           24668
price          24668
composition    24668
color          24668
url            24668
img_url        24668
article_no     24668
dtype: int64

In [6]:
df['price']=df['price'].str.strip()
df['price']=df['price'].str.split(' kr').str.get(0)
df['price']=df['price'].str.replace(',','.')


df['price']=df['price'].astype(float)
df['price']=df['price'].round()
df['price']=df['price'].astype(int)
df['price'].unique()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array([ 150,  160,  230,  500,  350,  180,  130,  280,  300,  330,  380,
        260,  250,  170,  200,  140,  110,  100,  220,  400,  120,  290,
        210,  270,  480,  450,  600,  430,  360,  390,  530,  320,  700,
        650,   90,  190,   70,   40,   60,   80,   50,  470,  240,  550,
        580,   30,  199,  340,  800,  780, 1000,  460,  440,  370,  750,
        850,  630,  900])

In [7]:
df2=df
df2['size'].unique()

array(['50', '56', '62', '68', '74', '80', '86', '92', '98', '74/80',
       '98/104', '86-92', '86/92', '110/116', '122/128', '62-68', '74-80',
       '98-104', '62/68', '110-116', '134-140', '122-128', '158-164',
       '146-152', '116', '122', '152', '128', '134', '140', '146', '158',
       '164', '170', '176', '170-176', '134/152', '158/176', '104', '110',
       'S', 'M', 'L', 'XL', '40', '44', '48', '50-56', 'ONE SIZE',
       '34/39', '40/44', '45/47', '50/56', '68/74', '19/21', '22/24',
       '25/27', '28/30', '80/86', '5', '6', '7', '8', '46/47', '48/49',
       '50/51', '4', '80-86', '92-98', '104-110', '68-74', '19-21',
       '21-23', '23-25', '20', '22', '23', '24', '25', '26', '27',
       '17-19', '25-27', '134/140', '146/152', '158/164', '104-116',
       '122-134', '140-152', '51/52', '52/53', '9', '31/33', '34/36',
       '37/39', '16/18', '31-33', '34-36', '37-39', '28-29', '30-31',
       '32-33', '34-35', '36-37', '55', '65', '53/55', '56/58', 'S/M',
       'M/L', '75'], dtype=object)

In [8]:
df2['size']=df2['size'].str.replace('/','-')
df2['size'].unique()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['50', '56', '62', '68', '74', '80', '86', '92', '98', '74-80',
       '98-104', '86-92', '110-116', '122-128', '62-68', '134-140',
       '158-164', '146-152', '116', '122', '152', '128', '134', '140',
       '146', '158', '164', '170', '176', '170-176', '134-152', '158-176',
       '104', '110', 'S', 'M', 'L', 'XL', '40', '44', '48', '50-56',
       'ONE SIZE', '34-39', '40-44', '45-47', '68-74', '19-21', '22-24',
       '25-27', '28-30', '80-86', '5', '6', '7', '8', '46-47', '48-49',
       '50-51', '4', '92-98', '104-110', '21-23', '23-25', '20', '22',
       '23', '24', '25', '26', '27', '17-19', '104-116', '122-134',
       '140-152', '51-52', '52-53', '9', '31-33', '34-36', '37-39',
       '16-18', '28-29', '30-31', '32-33', '34-35', '36-37', '55', '65',
       '53-55', '56-58', 'S-M', 'M-L', '75'], dtype=object)

In [9]:
colunms=['article_no','gender','category','price','size','brand']
df4=df2[colunms]
df4.head(2)

   article_no gender                category  price size   brand
0  13167118    girl   ni-baby-dresses-skirts  150    50   nameit
1  13167118    girl   ni-baby-dresses-skirts  150    56   nameit

In [10]:
dfr=df4
dfr.to_csv('nameit_cleaned.csv',index=False) #for rows not showing