In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/lager157.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          3514
brand         3514
gender        3514
category      3514
color         3514
size          3514
price         3514
url           3514
img_url       3514
article_no    3514
blob_url      0
dtype: int64

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url
0,"Shorts ""All star""",lager157,unisex,shorts,Pink 2,90,30.0,https://www.lager157.com/sv-se/article/shorts-all-star?attr1_id=100,https://www.lager157.com/media/SHORTS-ALL-STAR_13651_PINK_FRONT.jpg,13651,NaN
1,"Shorts ""All star""",lager157,unisex,shorts,Pink 2,100,30.0,https://www.lager157.com/sv-se/article/shorts-all-star?attr1_id=100,https://www.lager157.com/media/SHORTS-ALL-STAR_13651_PINK_FRONT.jpg,13651,NaN
2,"Shorts ""All star""",lager157,unisex,shorts,Pink 2,130,30.0,https://www.lager157.com/sv-se/article/shorts-all-star?attr1_id=100,https://www.lager157.com/media/SHORTS-ALL-STAR_13651_PINK_FRONT.jpg,13651,NaN

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          3514
brand         3514
gender        3514
category      3514
color         3514
size          3514
price         3514
url           3514
img_url       3514
article_no    3514
blob_url      0
dtype: int64

In [3]:
df['price'].unique()

array([ 30.,  80.,  35., 150., 200., 300.,  70., 250., 120.,  40.,  60.,
        50., 100.,  20.])

In [5]:
df2=df

df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)


df2['price'].unique()

array([ 30,  80,  35, 150, 200, 300,  70, 250, 120,  40,  60,  50, 100,
        20])

In [8]:
df3=df2
df3['size']=df3['size'].str.replace('/','-')
df3['size']=df3['size'].str.replace('Size ','')

df3['size'].unique()

array(['90', '100', '130', '150', '110', '160', '140', '120', '90-100',
       '110-120', '150-160', '130-140', '90-110', '80', 'One size',
       '25-30', '31-35', '20-24', '2', '1', '146-152', '134-140', '86-92',
       '158-164', '110-116', '98-104', '122-128', '35-36', '43-44',
       '39-40', '41-42', '45-46', '37-38', '41-45', '36-40'], dtype=object)

In [9]:
colunms=['article_no','gender','category','price','size','brand']
df4=df3[colunms]
df4.head(2)

   article_no  gender category  price size     brand
0  13651       unisex  shorts   30     90   lager157
1  13651       unisex  shorts   30     100  lager157

In [10]:
dfr=df4
dfr.to_csv('lager157_cleaned.csv',index=False) #for rows not showing