In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/kappah.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          12413
brand         12413
gender        12413
category      12413
size          12413
price         12413
color         12413
url           12413
img_url       12413
article_no    12413
blob_url      12413
dtype: int64

,name,brand,gender,category,size,price,color,url,img_url,article_no,blob_url
0,Mjukisshorts,NEWBIE BABY,boy,Shorts,56,99:-,Grön,https://www.kappahl.com/sv-SE/barn/shorts/mjukisshorts/585208,https://www.kappahl.com/ProductImages/585208/585208_F.jpg?preset=ProductImageMagnified,585208,https://storage.googleapis.com/urbankiddo/kappah/585208
1,Mjukisshorts,NEWBIE BABY,boy,Shorts,62,99:-,Grön,https://www.kappahl.com/sv-SE/barn/shorts/mjukisshorts/585208,https://www.kappahl.com/ProductImages/585208/585208_F.jpg?preset=ProductImageMagnified,585208,https://storage.googleapis.com/urbankiddo/kappah/585208
2,Mjukisshorts,NEWBIE BABY,boy,Shorts,68,99:-,Grön,https://www.kappahl.com/sv-SE/barn/shorts/mjukisshorts/585208,https://www.kappahl.com/ProductImages/585208/585208_F.jpg?preset=ProductImageMagnified,585208,https://storage.googleapis.com/urbankiddo/kappah/585208

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          3279
brand         3279
gender        3279
category      3279
size          3279
price         3279
color         3279
url           3279
img_url       3279
article_no    3279
blob_url      3279
dtype: int64

In [5]:
df['price'].unique()

array(['99:-', '199:-', '69,30:- 99:- -30%', '49,50:- 99:- -50%',
       '125,30:- 179:- -30%', '129:-', '149:-', '299:-',
       '64,50:- 129:- -50%', '74,50:- 149:- -50%', '209,30:- 299:- -30%',
       '179:-', '279:-', '249:-', '79,90:-', '90,30:- 129:- -30%',
       '55,93:- 79,90:- -30%', '39,95:- 79,90:- -50%',
       '44,50:- 149:- -70%', '89,50:- 179:- -50%', '104,30:- 149:- -30%',
       '139,30:- 199:- -30%', '139,50:- 279:- -50%',
       '195,30:- 279:- -30%', '699:-', '174,30:- 249:- -30%',
       '124,50:- 249:- -50%', '160,30:- 229:- -30%', '59,90:-',
       '24,95:- 49,90:- -50%', '99,50:- 199:- -50%',
       '279,30:- 399:- -30%', '159:-', '111,30:- 159:- -30%', '89,90:-',
       '49,90:-', '19,90:-', '69,90:-', '69,50:-', '59,50:-',
       '41,93:- 59,90:- -30%', '44,95:- 89,90:- -50%',
       '62,93:- 89,90:- -30%', '29,95:- 59,90:- -50%', '139:- 199:- -30%'],
      dtype=object)

In [9]:
df2=df
df2['price']=df2['price'].str.split(':-').str.get(0)
df2['price']=df2['price'].str.replace(",",".")

df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)
df2['price'].unique()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

array([ 99, 199,  69,  50, 125, 129, 149, 299,  64,  74, 209, 179, 279,
       249,  80,  90,  56,  40,  44, 104, 139, 140, 195, 699, 174, 124,
       160,  60,  25, 100, 159, 111,  20,  70,  42,  45,  63,  30])

In [16]:

df2['size']=df2['size'].str.split('- Ej i lager').str.get(0)

df2['size']=df2['size'].str.replace("/","-")
df2['size']=df2['size'].str.replace(" ","")
df2['size']=df2['size'].str.replace("cl","")


df2['size'].unique()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

array(['56', '62', '68', '74', '80', '86', '62-68', '74-80', '86-92',
       'Finnsibutik', '44', '50', '50-56', '98-104', '110-116', '122-128',
       'ONESIZE', '13-14', '15-16', '17-18', '19-20', '40-42', '44-46',
       '48-50', '92', '10-12', '13-15', '16-18', '52-54', '00-01Y',
       '01-02Y', '00-03M', '04-06M', '38-40', '42-44', '00-06M', '02-04Y',
       '04-06Y', '19-22'], dtype=object)

In [19]:
df3=df2[df2['size']!='Finnsibutik']
df3.head(2)

,name,brand,gender,category,size,price,color,url,img_url,article_no,blob_url
0,Mjukisshorts,NEWBIE BABY,boy,Shorts,56,99,Grön,https://www.kappahl.com/sv-SE/barn/shorts/mjukisshorts/585208,https://www.kappahl.com/ProductImages/585208/585208_F.jpg?preset=ProductImageMagnified,585208,https://storage.googleapis.com/urbankiddo/kappah/585208
1,Mjukisshorts,NEWBIE BABY,boy,Shorts,62,99,Grön,https://www.kappahl.com/sv-SE/barn/shorts/mjukisshorts/585208,https://www.kappahl.com/ProductImages/585208/585208_F.jpg?preset=ProductImageMagnified,585208,https://storage.googleapis.com/urbankiddo/kappah/585208

In [21]:
colunms=['article_no','gender','category','price','size','brand']
df4=df3[colunms]
df4.head(2)

   article_no gender category  price size        brand
0  585208      boy    Shorts   99     56   NEWBIE BABY
1  585208      boy    Shorts   99     62   NEWBIE BABY

In [22]:
dfr=df4
dfr.to_csv('kappah_cleaned.csv',index=False) #for rows not showing