In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/zalando.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          108393
brand         108393
gender        108393
category      108393
size          108393
price         108393
color         108393
url           108393
img_url       108393
article_no    108393
blob_url      108393
dtype: int64

,name,brand,gender,category,size,price,color,url,img_url,article_no,blob_url
0,Långärmad tröja - gold bugle,Polo Ralph Lauren,MALE,barn-klader-toppar,92,329 kr,bugle,https://www.zalando.se/polo-ralph-lauren-langaermad-troeja-gold-bugle-po224g0ad-f11.html,https://mosaic02.ztat.net/vgs/media/catalog-lg/PO/22/4G/0A/DF/11/PO224G0AD-F11@7.jpg,PO224G0AD-F11,https://storage.googleapis.com/urbankiddo/zalando/PO224G0AD-F11
1,Långärmad tröja - gold bugle,Polo Ralph Lauren,MALE,barn-klader-toppar,98,329 kr,bugle,https://www.zalando.se/polo-ralph-lauren-langaermad-troeja-gold-bugle-po224g0ad-f11.html,https://mosaic02.ztat.net/vgs/media/catalog-lg/PO/22/4G/0A/DF/11/PO224G0AD-F11@7.jpg,PO224G0AD-F11,https://storage.googleapis.com/urbankiddo/zalando/PO224G0AD-F11
2,Långärmad tröja - gold bugle,Polo Ralph Lauren,MALE,barn-klader-toppar,104,329 kr,bugle,https://www.zalando.se/polo-ralph-lauren-langaermad-troeja-gold-bugle-po224g0ad-f11.html,https://mosaic02.ztat.net/vgs/media/catalog-lg/PO/22/4G/0A/DF/11/PO224G0AD-F11@7.jpg,PO224G0AD-F11,https://storage.googleapis.com/urbankiddo/zalando/PO224G0AD-F11

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          106572
brand         106572
gender        106572
category      106572
size          106572
price         106572
color         106572
url           106572
img_url       106572
article_no    106572
blob_url      106572
dtype: int64

In [3]:
df['price'].unique()

array(['329\xa0kr', '429\xa0kr', '249\xa0kr', '349\xa0kr', '199\xa0kr',
       '259,95\xa0kr', '299\xa0kr', '499\xa0kr', '379\xa0kr', '279\xa0kr',
       '229\xa0kr', '399\xa0kr', '179,95\xa0kr', '169\xa0kr', '99\xa0kr',
       '479\xa0kr', '149\xa0kr', '129\xa0kr', '189\xa0kr', '199,95\xa0kr',
       '449\xa0kr', '179\xa0kr', '159\xa0kr', '139\xa0kr', '439\xa0kr',
       '529\xa0kr', '979\xa0kr', '549\xa0kr', '559\xa0kr', '879\xa0kr',
       '59\xa0kr', '229,95\xa0kr', '239\xa0kr', '599\xa0kr', '389\xa0kr',
       '169,95\xa0kr', '219\xa0kr', '119\xa0kr', '1\xa0045\xa0kr',
       '209\xa0kr', '259\xa0kr', '89\xa0kr', '679\xa0kr', '929\xa0kr',
       '249,95\xa0kr', '324\xa0kr', '779\xa0kr', '109\xa0kr', '609\xa0kr',
       '909\xa0kr', '359\xa0kr', '669\xa0kr', '619\xa0kr', '579\xa0kr',
       '319\xa0kr', '519\xa0kr', '859\xa0kr', '432\xa0kr',
       '1\xa0495\xa0kr', '589\xa0kr', '269\xa0kr', '629\xa0kr',
       '489\xa0kr', '689\xa0kr', '719\xa0kr', '79\xa0kr', '159,95\xa0kr',
       '649\xa0kr', '319,95\xa0kr', '729\xa0kr', '829\xa0kr', '699\xa0kr',
       '69\xa0kr', '409\xa0kr', '299,95\xa0kr', '849\xa0kr', '809\xa0kr',
       '289\xa0kr', '189,95\xa0kr', '378\xa0kr', '430\xa0kr',
       '149,95\xa0kr', '1\xa0095\xa0kr', '799\xa0kr', '339\xa0kr',
       '369\xa0kr', '419\xa0kr', '1\xa0145\xa0kr', '129,95\xa0kr',
       '509\xa0kr', '349,95\xa0kr', '949\xa0kr', '309\xa0kr', '459\xa0kr',
       '1\xa0445\xa0kr', '749\xa0kr', '139,95\xa0kr', '212\xa0kr',
       '739\xa0kr', '1\xa0195\xa0kr', '709\xa0kr', '485\xa0kr',
       '1\xa0115\xa0kr', '500\xa0kr', '899\xa0kr', '1\xa0025\xa0kr',
       '399,95\xa0kr', '1\xa0645\xa0kr', '939\xa0kr', '959\xa0kr',
       '540\xa0kr', '999\xa0kr', '839\xa0kr', '1\xa0075\xa0kr',
       '1\xa0245\xa0kr', '648\xa0kr', '759\xa0kr', '539\xa0kr',
       '279,95\xa0kr', '329,95\xa0kr', '486\xa0kr', '269,95\xa0kr',
       '1\xa0545\xa0kr', '339,95\xa0kr', '569\xa0kr', '429,95\xa0kr',
       '1\xa0175\xa0kr', '1\xa0295\xa0kr', '1\xa0345\xa0kr', '537\xa0kr',
       '1\xa0005\xa0kr', '219,95\xa0kr', '1\xa0695\xa0kr', '650\xa0kr',
       '350\xa0kr', '700\xa0kr', '450\xa0kr', '600\xa0kr',
       '1\xa0595\xa0kr', '1\xa0995\xa0kr', '750\xa0kr', '200\xa0kr',
       '400\xa0kr', '1\xa0395\xa0kr', '150\xa0kr', '180\xa0kr',
       '300\xa0kr', '490\xa0kr', '1\xa0099\xa0kr', '250\xa0kr',
       '1\xa0795\xa0kr', '1\xa0155\xa0kr', '1\xa0599\xa0kr', '769\xa0kr',
       '320\xa0kr', '1\xa0215\xa0kr', '360\xa0kr', '410\xa0kr',
       '1\xa0379\xa0kr', '1\xa0159\xa0kr', '659\xa0kr', '2\xa0145\xa0kr',
       '1\xa0059\xa0kr', '1\xa0009\xa0kr', '1\xa0909\xa0kr',
       '1\xa0799\xa0kr', '639\xa0kr', '265\xa0kr', '266\xa0kr',
       '379,95\xa0kr', '2\xa0345\xa0kr', '191\xa0kr', '303\xa0kr',
       '550\xa0kr', '359,95\xa0kr', '989\xa0kr', '969\xa0kr',
       '2\xa0095\xa0kr', '1\xa0055\xa0kr', '389,95\xa0kr',
       '1\xa0015\xa0kr', '789\xa0kr', '239,95\xa0kr', '4\xa0445\xa0kr',
       '1\xa0125\xa0kr', '1\xa0305\xa0kr', '889\xa0kr', '2\xa0245\xa0kr',
       '209,95\xa0kr', '499,95\xa0kr', '2\xa0045\xa0kr', '289,95\xa0kr',
       '469\xa0kr', '599,95\xa0kr', '529,95\xa0kr', '1\xa0945\xa0kr',
       '1\xa0505\xa0kr', '479,95\xa0kr', '449,95\xa0kr', '1\xa0205\xa0kr',
       '649,95\xa0kr', '425\xa0kr', '190\xa0kr', '800\xa0kr',
       '1\xa0895\xa0kr', '1\xa0499\xa0kr', '1\xa0299\xa0kr',
       '1\xa0549\xa0kr', '1\xa0475\xa0kr', '1\xa0745\xa0kr',
       '2\xa0195\xa0kr', '919\xa0kr'], dtype=object)

In [6]:
df[df['price']=='919\xa0kr']

,name,brand,gender,category,size,price,color,url,img_url,article_no,blob_url
108251,GRATA - Minikjol - gilver,Lili Gaufrette,FEMALE,barn-klader-kjolar,140,919 kr,gilver,https://www.zalando.se/lili-gaufrette-grata-minikjol-gilver-liy23e000-f11.html,https://mosaic02.ztat.net/vgs/media/catalog-lg/LI/Y2/3E/00/0F/11/LIY23E000-F11@2.jpg,LIY23E000-F11,https://storage.googleapis.com/urbankiddo/zalando/LIY23E000-F11
108252,GRATA - Minikjol - gilver,Lili Gaufrette,FEMALE,barn-klader-kjolar,152,919 kr,gilver,https://www.zalando.se/lili-gaufrette-grata-minikjol-gilver-liy23e000-f11.html,https://mosaic02.ztat.net/vgs/media/catalog-lg/LI/Y2/3E/00/0F/11/LIY23E000-F11@2.jpg,LIY23E000-F11,https://storage.googleapis.com/urbankiddo/zalando/LIY23E000-F11

In [9]:
df2=df
df2['price']=df2['price'].str.strip()
df2['price']=df2['price'].str.replace('\xa0','')
df2['price']=df2['price'].str.replace('kr','')
df2['price']=df2['price'].str.replace(',','.')
df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)


df2['price'].unique()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array([ 329,  429,  249,  349,  199,  260,  299,  499,  379,  279,  229,
        399,  180,  169,   99,  479,  149,  129,  189,  200,  449,  179,
        159,  139,  439,  529,  979,  549,  559,  879,   59,  230,  239,
        599,  389,  170,  219,  119, 1045,  209,  259,   89,  679,  929,
        250,  324,  779,  109,  609,  909,  359,  669,  619,  579,  319,
        519,  859,  432, 1495,  589,  269,  629,  489,  689,  719,   79,
        160,  649,  320,  729,  829,  699,   69,  409,  300,  849,  809,
        289,  190,  378,  430,  150, 1095,  799,  339,  369,  419, 1145,
        130,  509,  350,  949,  309,  459, 1445,  749,  140,  212,  739,
       1195,  709,  485, 1115,  500,  899, 1025,  400, 1645,  939,  959,
        540,  999,  839, 1075, 1245,  648,  759,  539,  280,  330,  486,
        270, 1545,  340,  569, 1175, 1295, 1345,  537, 1005,  220, 1695,
        650,  700,  450,  600, 1595, 1995,  750, 1395,  490, 1099, 1795,
       1155, 1599,  769, 1215,  360,  410, 1379, 1159,  659, 2145, 1059,
       1009, 1909, 1799,  639,  265,  266,  380, 2345,  191,  303,  550,
        989,  969, 2095, 1055,  390, 1015,  789,  240, 4445, 1125, 1305,
        889, 2245,  210, 2045,  290,  469,  530, 1945, 1505,  480, 1205,
        425,  800, 1895, 1499, 1299, 1549, 1475, 1745, 2195,  919])

In [14]:
df3=df2
df3['size']=df3['size'].str.replace('xREG','')

df3['size'].unique()
# df3[df3['size']=='56-80m']

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['92', '98', '104', '110', '116', '134', '122/128', '140-146',
       '152-158', '164-176', '116-122', '128-140', '152-164', '74', '80',
       '86', '128', '140', '152', '164', '176', '122', '122/134',
       '134/140', '152/164', '164/176', '62', '146', '158', '56', '68',
       '146/152', '158/164', '170/176', '182/188', '170', '128/134',
       '110/116', '98/104', '128/137', '137/147', '147/158', '104/110',
       '116/122', '92/98', '158/170', '80/86', '86/92', '68/74',
       '104/116', '140/146', '152/158', '90', '100', '120', '130', '150',
       '160', '128/140', '140/152', '140-152', '56-62', '62-68', '68-80',
       '80-86', '82', '104-110', '110-116', '86-92', '92-98', '98-104',
       '44', '50', '50-62', '158-170', '122-128', '164-170', '50/56',
       '62/68', '74/80', '60', '67', '71', '81', '94', '56/68', '68/80',
       '86-98', '95', '56/62', '76-84', '84-92', '53', '59', '134-140',
       '146-152', '158-164', '170-176', '164/170', '50-56', '50-68',
       '74-80', '104/110xSLIM', '116/122xSLIM', '128/134xSLIM',
       '92/98xSLIM', '114', '138', '174', '68-74', '162', '134/140xSLIM',
       '146/152xSLIM', '158/164xSLIM', '170/176xSLIM', '188', '128-134',
       '80-92', '106', '155', '108', '115', '125', '60/62', '164/172',
       '75', '116-128', '120/130', '130/140', '140/150', '150/160',
       '160/170', '56-68', 'One Size', '85', '146/156', '156/166',
       '137/146', 'S', 'M', 'L', 'XL', '35-37.5', '34-38', '38-42',
       '19/22', '116/128', '28', '28.5', '29.5', '30', '31', '35.5', '36',
       '36.5', '37.5', '38', '38.5', '39', '40', '27.5', '32', '33',
       '33.5', '34', '35', '29', '36 2/3', '37 1/3', '38 2/3', '39 1/3',
       '31.5', '37', '37,5', '38,5', '30.5', '17', '18.5', '19.5', '21',
       '22', '23.5', '25', '26', '27', '4', '5', '6', '35,5', '32.5',
       '34.5', '39.5', '23', '24', '18', '19', '20', '32,5', '34,5',
       '36,5', '30,5', '21.5', '22.5', '24.5', '25.5', '26.5', '27,5',
       '31,5', '41', '25/26', '27/28', '32/33', '16', '108-120',
       '120-130', '130-140', '140-150', '150-160', '160-170', '56-80m',
       '100-108', '92-100', '84', '96', '40/44', '68-76', '74-86',
       '23-26', '27-30', '31-34', '35-38', '134/146', '80/92', '17-18',
       '19-22', '134-146', '39-42', '16-17', '18-19', '43-45', '32-33',
       '34-36', '31-36.5', '37-39.5', '19-20', '21-22', '23-24', '25-26',
       '27-28', '29-30', '15-16', '26-27', '28-30', '31-33', '37-39',
       '23/24', '29/30', '31/32', '33/34', '35/36', '37/38', '27/30',
       '31/34', '35/38', '43/46', '36-39', '32-35', '20-22', 'XS',
       '15-18', '39/42', '50/68', '124-135', '145-157', '104/128',
       '140/176', '52', '54', '48-49', '52-53', '54-55', '46', '48', '65',
       '70', '50-52', '53-55', '56-58', '116/134', '140/158', '92-104',
       '58', '50-51', '49', '51', '47-49', '104-116', '122-140',
       '152-176', '110/122', '128/146', '55', '52-54', '1', '110-128',
       '140-176', '43', '45', '47', '92-116', '62/74', '51/52', '48/49',
       '52/53', '41-44', '46-47', '14y/16y', '2y/5y', '50/51', '6y/12y',
       '62-74', '57', '46-52', '48-54', '50-58', '2', '51-53', '54-56',
       '21-29', '49-51', '42', '80-98', '54/55', '55-57', '45-49',
       '44-46', '8.5', '9', '9.5', '111', '133', '144', '166', '165',
       '102', '145', '128xregular', '134xregular', '134xwide',
       '140xregular', '140xslim', '140xwide', '146xregular', '146xwide',
       '152xregular', '152xwide', '158xregular', '164xregular',
       '164xslim', '164xwide', '170xregular', '176xregular', '176xwide',
       '158xwide', '170xslim', '170xwide', '176xslim', '92xregular',
       '146xSLIM', '158xSLIM', '170xSLIM', '176xSLIM', '134xslim',
       '116xSLIM', '140xSLIM', '128xSLIM', '13y', '36-42', '43-46',
       '170-180', '40.5', '42.5', '38/39', '28/29', '20/21', '60AA',
       '65AA', '65A', '70AA', '70A', '70B', '75A', '160-165', '60xAA',
       '65xA', '65xAA', '70xA', '70xAA', '75xA', '75xAA', '55A', '60A',
       '65B', '75AA', '35-39', '19-21', '22-24', '25-27', '33-35',
       '116-134', '146-158', '152/176', '98/110', '31-36', '37-40',
       '48-51'], dtype=object)

In [29]:
c=0
sz_list=df3['size'].tolist()
new_sz=[]
for s in sz_list:
    if s.find("/")!=-1:
        s=s.replace("/","-")
        
    if s in ['128xregular', '134xregular', '134xwide',
       '140xregular', '140xslim', '140xwide', '146xregular', '146xwide',
       '152xregular', '152xwide', '158xregular', '164xregular',
       '164xslim', '164xwide', '170xregular', '176xregular', '176xwide',
       '158xwide', '170xslim', '170xwide', '176xslim', '92xregular',
       '146xSLIM', '158xSLIM', '170xSLIM', '176xSLIM', '134xslim',
       '116xSLIM', '140xSLIM', '128xSLIM','60AA',
       '65AA', '65A', '70AA', '70A', '70B', '75A', '160-165', '60xAA',
       '65xA', '65xAA', '70xA', '70xAA', '75xA', '75xAA', '55A', '60A',
       '65B', '75AA', '116/122xSLIM','128/134xSLIM','134/140xSLIM','146/152xSLIM','158/164xSLIM','170/176xSLIM','92/98xSLIM', '56-80m',
             '104-110xSLIM']:
        c=c+1
        s='Na'
    if s.find("SLIM")!=-1:
        s='Na'
    s=s.replace("y","Y")
    if s.find(" ")!=-1:
        s=s.split(" ")[0]
    s=s.replace("One","One Size")
    new_sz.append(s)
    
print(c)
set(new_sz)

228

{'1',
 '100',
 '100-108',
 '102',
 '104',
 '104-110',
 '104-116',
 '104-128',
 '106',
 '108',
 '108-120',
 '110',
 '110-116',
 '110-122',
 '110-128',
 '111',
 '114',
 '115',
 '116',
 '116-122',
 '116-128',
 '116-134',
 '120',
 '120-130',
 '122',
 '122-128',
 '122-134',
 '122-140',
 '124-135',
 '125',
 '128',
 '128-134',
 '128-137',
 '128-140',
 '128-146',
 '130',
 '130-140',
 '133',
 '134',
 '134-140',
 '134-146',
 '137-146',
 '137-147',
 '138',
 '13Y',
 '140',
 '140-146',
 '140-150',
 '140-152',
 '140-158',
 '140-176',
 '144',
 '145',
 '145-157',
 '146',
 '146-152',
 '146-156',
 '146-158',
 '147-158',
 '14Y-16Y',
 '15-16',
 '15-18',
 '150',
 '150-160',
 '152',
 '152-158',
 '152-164',
 '152-176',
 '155',
 '156-166',
 '158',
 '158-164',
 '158-170',
 '16',
 '16-17',
 '160',
 '160-170',
 '162',
 '164',
 '164-170',
 '164-172',
 '164-176',
 '165',
 '166',
 '17',
 '17-18',
 '170',
 '170-176',
 '170-180',
 '174',
 '176',
 '18',
 '18-19',
 '18.5',
 '182-188',
 '188',
 '19',
 '19-20',
 '19-21',
 '19-22',
 '19.5',
 '2',
 '20',
 '20-21',
 '20-22',
 '21',
 '21-22',
 '21-29',
 '21.5',
 '22',
 '22-24',
 '22.5',
 '23',
 '23-24',
 '23-26',
 '23.5',
 '24',
 '24.5',
 '25',
 '25-26',
 '25-27',
 '25.5',
 '26',
 '26-27',
 '26.5',
 '27',
 '27,5',
 '27-28',
 '27-30',
 '27.5',
 '28',
 '28-29',
 '28-30',
 '28.5',
 '29',
 '29-30',
 '29.5',
 '2Y-5Y',
 '30',
 '30,5',
 '30.5',
 '31',
 '31,5',
 '31-32',
 '31-33',
 '31-34',
 '31-36',
 '31-36.5',
 '31.5',
 '32',
 '32,5',
 '32-33',
 '32-35',
 '32.5',
 '33',
 '33-34',
 '33-35',
 '33.5',
 '34',
 '34,5',
 '34-36',
 '34-38',
 '34.5',
 '35',
 '35,5',
 '35-36',
 '35-37.5',
 '35-38',
 '35-39',
 '35.5',
 '36',
 '36,5',
 '36-39',
 '36-42',
 '36.5',
 '37',
 '37,5',
 '37-38',
 '37-39',
 '37-39.5',
 '37-40',
 '37.5',
 '38',
 '38,5',
 '38-39',
 '38-42',
 '38.5',
 '39',
 '39-42',
 '39.5',
 '4',
 '40',
 '40-44',
 '40.5',
 '41',
 '41-44',
 '42',
 '42.5',
 '43',
 '43-45',
 '43-46',
 '44',
 '44-46',
 '45',
 '45-49',
 '46',
 '46-47',
 '46-52',
 '47',
 '47-49',
 '48',
 '48-49',
 '48-51',
 '48-54',
 '49',
 '49-51',
 '5',
 '50',
 '50-51',
 '50-52',
 '50-56',
 '50-58',
 '50-62',
 '50-68',
 '51',
 '51-52',
 '51-53',
 '52',
 '52-53',
 '52-54',
 '53',
 '53-55',
 '54',
 '54-55',
 '54-56',
 '55',
 '55-57',
 '56',
 '56-58',
 '56-62',
 '56-68',
 '57',
 '58',
 '59',
 '6',
 '60',
 '60-62',
 '62',
 '62-68',
 '62-74',
 '65',
 '67',
 '68',
 '68-74',
 '68-76',
 '68-80',
 '6Y-12Y',
 '70',
 '71',
 '74',
 '74-80',
 '74-86',
 '75',
 '76-84',
 '8.5',
 '80',
 '80-86',
 '80-92',
 '80-98',
 '81',
 '82',
 '84',
 '84-92',
 '85',
 '86',
 '86-92',
 '86-98',
 '9',
 '9.5',
 '90',
 '92',
 '92-100',
 '92-104',
 '92-116',
 '92-98',
 '94',
 '95',
 '96',
 '98',
 '98-104',
 '98-110',
 'L',
 'M',
 'Na',
 'One Size',
 'S',
 'XL',
 'XS'}

In [30]:
df3['new_size']=new_sz
colunms=['article_no','gender','category','price','new_size','brand']
df4=df3[colunms]
df4.head(2)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      article_no gender            category  price new_size              brand
0  PO224G0AD-F11  MALE   barn-klader-toppar  329    92       Polo Ralph Lauren
1  PO224G0AD-F11  MALE   barn-klader-toppar  329    98       Polo Ralph Lauren

In [31]:
dfr=df4
dfr.to_csv('zalando_cleaned.csv',index=False) #for rows not showing