In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/kidsbrandstore.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          8969
brand         8969
gender        8969
category      8969
size          8969
price         8969
url           8969
img_url       8969
article_no    8969
blob_url      8969
dtype: int64

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
0,ESSENTIAL SCANTON SLIM,Tommy Hilfiger,boy,BYXOR,10 år,\n599 SEK749 SEK,https://kidsbrandstore.se/tommy-hilfiger-essential-scanton-slim-35919,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/tommy-hilfiger_byxor_bla_barnklader_35919-gnxv.jpg,product-entry-id-35919,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-35919
1,ESSENTIAL SCANTON SLIM,Tommy Hilfiger,boy,BYXOR,12 år,\n599 SEK749 SEK,https://kidsbrandstore.se/tommy-hilfiger-essential-scanton-slim-35919,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/tommy-hilfiger_byxor_bla_barnklader_35919-gnxv.jpg,product-entry-id-35919,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-35919
2,ESSENTIAL SCANTON SLIM,Tommy Hilfiger,boy,BYXOR,14 år,\n599 SEK749 SEK,https://kidsbrandstore.se/tommy-hilfiger-essential-scanton-slim-35919,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/tommy-hilfiger_byxor_bla_barnklader_35919-gnxv.jpg,product-entry-id-35919,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-35919

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          8969
brand         8969
gender        8969
category      8969
size          8969
price         8969
url           8969
img_url       8969
article_no    8969
blob_url      8969
dtype: int64

In [5]:
df2=df
df2['price']=df2['price'].str.strip()
df2['price']=df2['price'].str.split(' ').str.get(0)
df2['price'].unique()

array(['599', '319', '959', '799', '439', '559', '639', '479', '537',
       '519', '299', '389', '359', '539', '318', '351', '317', '239',
       '419', '399', '227', '280', '180', '240', '503', '719', '679',
       '329', '449', '340', '549', '314', '249', '209', '269', '477',
       '315', '417', '699', '749', '179', '149', '221', '569', '200',
       '260', '220', '369', '258', '70', '99', '83', '53', '59', '119',
       '759', '897', '1', '899', '558', '879', '509', '600', '659', '779',
       '2', '839', '410', '869', '777', '640', '3', '629', '919', '689',
       '678', '837', '598', '289', '320', '358', '716', '287', '597',
       '500', '250', '387', '375', '140', '60', '556', '251', '300',
       '516', '160', '349', '229', '237', '285', '137', '100', '107',
       '199', '489', '657', '167', '155', '169', '270', '30', '20', '80',
       '263', '279', '215', '39', '520', '623', '90', '701', '717', '929',
       '398', '420', '380', '357', '34', '849', '999', '327', '278',
       '636', '190', '257', '587', '467', '343', '957', '207', '40'],
      dtype=object)

In [6]:
df2['size'].unique()

array(['10 år', '12 år', '14 år', '16 år', 'S', 'M', 'L', 'XL', '130 cm',
       '140 cm', '150 cm', '160 cm', '170 cm', '134-140 cm', '146-152 cm',
       '158-164 cm', '176 cm', 'Size 8', 'Size 10', 'Size 12', 'Size 14',
       'Size 16', 'Size 18', 'Size 20', '11 år', '13 år', '15 år',
       '8-9 år', '10-11 år', '12-13 år', '14-15 år', '8-10 år',
       '10-12 år', '13-15 år', '128 cm', '152 cm', '164 cm', '23', '24',
       '25', '26', '27', '28', '29', '15-16 år', '8 år', '134 cm',
       '146 cm', '158 cm', 'XXL', '122-128 cm', '170-176 cm', 'One size',
       '37-39', '40-45', '36-40', '40-46', 'XS', '140-146 cm',
       '152-158 cm', '164-170 cm', '16-17 år', '152-164', '7-8 år',
       '9-10 år', '11-12 år', '13-14 år', '12-14 år', '14-16 år',
       '120 cm', '30', '25/140', '26/146', '28/158', '30/170', 'L/XL',
       'Rött snöre', 'Vitt snöre', '90 ', '85', '28 ', '32 ', '110 ',
       '34-36', '35-38', '39-42', 'Size 7', '80 '], dtype=object)

In [20]:
df3=df2
df3['size']=df3['size'].str.replace(' år','Y')
df3['size']=df3['size'].str.replace('Size ','')
df3['size']=df3['size'].str.replace(' cm','')
df3['size']=df3['size'].str.replace('L/XL','L-XL')

In [21]:
df3=df3[df3['size']!='Rött snöre']
df3=df3[df3['size']!='Vitt snöre']
df3['size'].unique()

array(['10Y', '12Y', '14Y', '16Y', 'S', 'M', 'L', 'XL', '130', '140',
       '150', '160', '170', '134-140', '146-152', '158-164', '176', '8',
       '10', '12', '14', '16', '18', '20', '11Y', '13Y', '15Y', '8-9Y',
       '10-11Y', '12-13Y', '14-15Y', '8-10Y', '10-12Y', '13-15Y', '128',
       '152', '164', '23', '24', '25', '26', '27', '28', '29', '15-16Y',
       '8Y', '134', '146', '158', 'XXL', '122-128', '170-176', 'One size',
       '37-39', '40-45', '36-40', '40-46', 'XS', '140-146', '152-158',
       '164-170', '16-17Y', '152-164', '7-8Y', '9-10Y', '11-12Y',
       '13-14Y', '12-14Y', '14-16Y', '120', '30', '25/140', '26/146',
       '28/158', '30/170', 'L-XL', '90 ', '85', '28 ', '32 ', '110 ',
       '34-36', '35-38', '39-42', '7', '80 '], dtype=object)

In [9]:
df3[df3['size']=='140-146 cm']

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
1268,Maur gilet,Garcia,boy,JACKOR/VäSTAR,140-146 cm,299,https://kidsbrandstore.se/garcia-maur-gilet-33722,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/garcia_jackor-vastar_-ingen-_barnklader_33722-73rr.jpg,product-entry-id-33722,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-33722
1544,Boys Jacket,Garcia,boy,JACKOR/VäSTAR,140-146 cm,659,https://kidsbrandstore.se/garcia-boys-jacket-30809,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/garcia_jackor-vastar_svart_barnklader_30809-xzp0.jpg,product-entry-id-30809,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-30809
2882,BOYS SHIRT,Garcia,boy,SKJORTOR,140-146 cm,239,https://kidsbrandstore.se/garcia-boys-shirt-35645,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/garcia_skjortor_bla_barnklader_35645-fzj_.jpg,product-entry-id-35645,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-35645
5855,GIRLS JACKET,Garcia,girl,JACKOR/VäSTAR,140-146 cm,299,https://kidsbrandstore.se/garcia-girls-jacket-35650,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/garcia_jackor-vastar_vit_barnklader_35650-1019.jpg,product-entry-id-35650,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-35650
6276,Chiara gilet,Garcia,girl,JACKOR/VäSTAR,140-146 cm,299,https://kidsbrandstore.se/garcia-chiara-gilet-33719,https://d1zubn5gsgrqpe.cloudfront.net/images/product/thumb/garcia_jackor-vastar_bla_barnklader_33719-e9_o.jpg,product-entry-id-33719,https://storage.googleapis.com/urbankiddo/kidsbrandstore/product-entry-id-33719

In [22]:
colunms=['article_no','gender','category','price','size','brand']
df4=df3[colunms]
df4.head(2)

               article_no gender category price size           brand
0  product-entry-id-35919  boy    BYXOR    599   10Y  Tommy Hilfiger
1  product-entry-id-35919  boy    BYXOR    599   12Y  Tommy Hilfiger

In [ ]:

df4=df4.rename(columns={'article_no':'article_no','gender':'gender','category':'category','price':'new_price','size':'size','brand':'brand'})
df4.head(2)

In [24]:
dfr=df4
dfr.to_csv('kidsbrandstore_cleaned.csv',index=False) #for rows not showing