In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/cdon.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          8129
brand         8129
gender        8129
category      8129
size          8129
price         8129
color         8129
url           8129
img_url       8129
article_no    8129
dtype: int64

,name,brand,gender,category,size,price,color,url,img_url,article_no
0,"Babyset Teddy 5 delar, Pink",Ellos Kids,\r\nBarn\t\t\t,BODIES & SPARKDRÄKTER,50,119 kr\n\n 449 kr,\r\nRosa\t\t\t,https://cdon.se/klader/babyset-teddy-5-delar-p46611322-62114086,https://cdn.cdon.com/media-dynamic/images/product/clothing/clothing/image150/babyset_teddy_5_delar-46611322-62114086-org.jpg,46611322
1,"Babyset Teddy 5 delar, Pink",Ellos Kids,\r\nBarn\t\t\t,BODIES & SPARKDRÄKTER,56,119 kr\n\n 449 kr,\r\nRosa\t\t\t,https://cdon.se/klader/babyset-teddy-5-delar-p46611322-62114086,https://cdn.cdon.com/media-dynamic/images/product/clothing/clothing/image150/babyset_teddy_5_delar-46611322-62114086-org.jpg,46611322
2,"Babyset Teddy 5 delar, Pink",Ellos Kids,\r\nBarn\t\t\t,BODIES & SPARKDRÄKTER,62,119 kr\n\n 449 kr,\r\nRosa\t\t\t,https://cdon.se/klader/babyset-teddy-5-delar-p46611322-62114086,https://cdn.cdon.com/media-dynamic/images/product/clothing/clothing/image150/babyset_teddy_5_delar-46611322-62114086-org.jpg,46611322

In [3]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          8108
brand         8108
gender        8108
category      8108
size          8108
price         8108
color         8108
url           8108
img_url       8108
article_no    8108
dtype: int64

In [3]:

df['gender'].str.strip().unique()

array(['Barn', 'Pojke', 'Flicka', 'Barn - Unisex', 'Junior'], dtype=object)

In [4]:
df['article_no'].unique().shape

(1280,)

In [4]:
pr_list=df['url'].tolist()
len(pr_list)

8108

In [ ]:
pr

In [8]:
import requests
from bs4 import BeautifulSoup

new_pr=[]
for c,pr in enumerate(pr_list):
    try:
        html_doc=requests.get(pr).content.decode()
        soup = BeautifulSoup(html_doc, 'html.parser')
        pri=soup.find("meta",attrs={"itemprop":"price"})['content']
        new_pr.append(pri)
        if c%300==0 & c!=0:
            print(c)
            print(new_pr)
        
    except:
        print(pr)
        new_pr.append('Na')

        continue

https://cdon.se/klader/babyset-teddy-5-delar-p46611322-62114085
https://cdon.se/klader/body-stripe-p46611327-62114266
https://cdon.se/klader/body-stripe-p46611327-62114266
https://cdon.se/klader/body-hug-p46715395-62114065
https://cdon.se/klader/body-dot-p46619663-62114273
https://cdon.se/klader/body-dot-p46619663-62114273
https://cdon.se/klader/babybody-i-bambu-p45233857
https://cdon.se/klader/body-heart-p46570486-62114270
https://cdon.se/klader/body-heart-p46570486-62114270
https://cdon.se/klader/body-heart-p46570486-62114270
https://cdon.se/klader/body-dot-p46619663-62114271
https://cdon.se/klader/body-dot-p46619663-62114271
https://cdon.se/klader/body-dot-p46619663-62114271
https://cdon.se/klader/body-dot-p46619663-62114272
https://cdon.se/klader/body-dot-p46619663-62114272
https://cdon.se/klader/body-journey-p46734377-62114068
https://cdon.se/klader/body-journey-p46734377-62114068
https://cdon.se/klader/hummel-fashion-shaun-badshorts-p46966819-61102916
https://cdon.se/klader/hummel-fashion-shaun-badshorts-p46966819-61102916
https://cdon.se/klader/hummel-fashion-shaun-badshorts-p46966819-61102916
https://cdon.se/klader/hummel-fashion-shaun-badshorts-p46966819-61102916
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-dandy-uv-badshorts-p46452995-59181808
https://cdon.se/klader/soft-gallery-don-uv-badshorts-p46477497-59263992
https://cdon.se/klader/soft-gallery-don-uv-badshorts-p46477497-59263992
https://cdon.se/klader/soft-gallery-don-uv-badshorts-p46477497-59263992
https://cdon.se/klader/soft-gallery-don-uv-badshorts-p46477497-59263992
https://cdon.se/klader/soft-gallery-don-uv-badshorts-p46477497-59263992
https://cdon.se/klader/soft-gallery-pamela-uv-shorts-p46477498-59264003
https://cdon.se/klader/soft-gallery-pamela-uv-shorts-p46477498-59264003
https://cdon.se/klader/soft-gallery-pamela-uv-shorts-p46477498-59264003
https://cdon.se/klader/soft-gallery-pamela-uv-shorts-p46477498-59264003
https://cdon.se/klader/soft-gallery-pamela-uv-shorts-p46477498-59264003
https://cdon.se/klader/soft-gallery-mina-uv-bikinitrosa-p46458374-59200754
https://cdon.se/klader/soft-gallery-mina-uv-bikinitrosa-p46458374-59200754
https://cdon.se/klader/soft-gallery-mina-uv-bikinitrosa-p46458374-59200754
https://cdon.se/klader/soft-gallery-mina-uv-bikinitrosa-p46458374-59200754
https://cdon.se/klader/soft-gallery-mina-uv-bikinitrosa-p46458374-59200754
https://cdon.se/klader/soft-gallery-mina-uv-bikinitrosa-p46458374-59200754
https://cdon.se/klader/hummel-fashion-spot-badshorts-p46966821-61102939
https://cdon.se/klader/hummel-fashion-spot-badshorts-p46966821-61102939
https://cdon.se/klader/hummel-fashion-spot-badshorts-p46966821-61102939
https://cdon.se/klader/swettisbyxor-timmy-p46545393-62113367
https://cdon.se/klader/byxor-p46685092-62114340
https://cdon.se/klader/swettisbyxor-mike-p46554394-62113082
https://cdon.se/klader/swettisbyxor-mike-p46554394-62113082
https://cdon.se/klader/mjukisbyxor-journey-p46734378-62114069
https://cdon.se/klader/shorts-p46638064-62113789
https://cdon.se/klader/shorts-p46638064-62113789
https://cdon.se/klader/mjukisbyxor-journey-p46734378-62114070
https://cdon.se/klader/mjukisbyxor-journey-p46734378-62114070
https://cdon.se/klader/mjukisbyxor-journey-p46734378-62114070
https://cdon.se/klader/mjukisbyxor-dot-p46611328-62114284
https://cdon.se/klader/sweatshirtbyxor-basic-p46651666-62114419
https://cdon.se/klader/sweatshirtbyxor-basic-p46651666-62114419
https://cdon.se/klader/phister-philina-habit-sully-byxor-p41230979-37854329
https://cdon.se/klader/name-it-theo-jeans-p42793781-42971608
https://cdon.se/klader/jeans-i-femficksmodell-regular-p46307091-62109663
https://cdon.se/klader/jeans-i-femficksmodell-regular-p46307091-62109663
https://cdon.se/klader/jeans-med-handbrush-effekt-slim-fit-p46307951-62110448
https://cdon.se/klader/fleecebyxa-leo-p46350436-62110610
https://cdon.se/klader/mjukisbyxor-dot-p46611328-62114283
https://cdon.se/klader/mjukisbyxor-dot-p46611328-62114283
https://cdon.se/klader/mjukisbyxor-dot-p46611328-62114283
https://cdon.se/klader/mjukisbyxor-dot-p46611328-62114285
https://cdon.se/klader/mjukisbyxor-dot-p46611328-62114285
https://cdon.se/klader/sweatshirtbyxor-basic-p46651666-66386366
https://cdon.se/klader/bobo-choses-apples-bermuda-shorts-p46696247-60106661
https://cdon.se/klader/bobo-choses-apples-bermuda-shorts-p46696247-60106661
https://cdon.se/klader/bobo-choses-apples-bermuda-shorts-p46696247-60106661
https://cdon.se/klader/bobo-choses-apples-bermuda-shorts-p46696247-60106661
https://cdon.se/klader/hummel-fashion-habit-limar-byxor-p46836085-60666004
https://cdon.se/klader/byxor-i-culottemodell-p46896508-62114631
https://cdon.se/klader/byxor-i-culottemodell-p46896508-62114631
https://cdon.se/klader/hummel-fashion-scar-shorts-p47357305-62328292
https://cdon.se/klader/name-it-theo-jeans-p42793781-42971608
https://cdon.se/klader/jeans-i-femficksmodell-regular-p46307091-62109663
https://cdon.se/klader/jeans-i-femficksmodell-regular-p46307091-62109663
https://cdon.se/klader/jeans-med-handbrush-effekt-slim-fit-p46307951-62110448
https://cdon.se/klader/shorts-p46638064-62113789
https://cdon.se/klader/shorts-p46638064-62113789
https://cdon.se/klader/chinosshorts-brayden-p46611274-66019344
https://cdon.se/klader/chinosshorts-brayden-p46611274-66019344
https://cdon.se/klader/klanning-aicha-p46309068-62112565
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-elli-p46309203-62112837
https://cdon.se/klader/klanning-aicha-p46309068-62112564
https://cdon.se/klader/sweatshirtklanning-yrsa-p46495384-62113709
https://cdon.se/klader/klanning-hedvig-p46570465-62113743
https://cdon.se/klader/klanning-hedvig-p46570465-62113743
https://cdon.se/klader/klanning-elli-p46309203-62112838
https://cdon.se/klader/klanning-felicia-p46309073-62112579
https://cdon.se/klader/klanning-lea-p46309101-62112647
https://cdon.se/klader/klanning-lea-p46309101-62112647
https://cdon.se/klader/klanning-corinne-p46309197-62112830
https://cdon.se/klader/cardigan-i-ekologisk-bomull-p46306896-62109393
https://cdon.se/klader/t-shirt-spiderman-p47360546
https://cdon.se/klader/t-shirt-hector-p46545396-62113416
https://cdon.se/klader/t-shirt-stefan-p46545394-62113400
https://cdon.se/klader/t-shirt-stefan-p46545394-62113400
https://cdon.se/klader/t-shirt-stefan-p46545394-62113400
https://cdon.se/klader/t-shirt-jonas-p46545395-62113414
https://cdon.se/klader/t-shirt-esias-p47295343-62113431
https://cdon.se/klader/t-shirt-raul-p46685068-62113352
https://cdon.se/klader/t-shirt-raul-p46685068-62113352
https://cdon.se/klader/t-shirt-ebbe-p47295349-62114581
https://cdon.se/klader/t-shirt-cars-p47937169
https://cdon.se/klader/t-shirt-ricky-p46611288-62113347
https://cdon.se/klader/t-shirt-maximus-p46809944-62113333
https://cdon.se/klader/t-shirt-leon-p46611276-62113059
https://cdon.se/klader/t-shirt-leon-p46611276-62113059
https://cdon.se/klader/t-shirt-leon-p46611276-62113059
https://cdon.se/klader/t-shirt-leon-p46611276-62113059
https://cdon.se/klader/t-shirt-leon-p46611276-62113059
https://cdon.se/klader/t-shirt-harry-p46619647-62113323
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46458379-59200759
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46458379-59200759
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46458379-59200759
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46458379-59200759
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46458379-59200759
https://cdon.se/klader/t-shirt-thor-p46619650-62113397
https://cdon.se/klader/t-shirt-thor-p46619650-62113397
https://cdon.se/klader/t-shirt-thor-p46619650-62113397
https://cdon.se/klader/t-shirt-claes-p47295347-62114545
https://cdon.se/klader/t-shirt-claes-p47295347-62114545
https://cdon.se/klader/t-shirt-ossian-p46619649-62113395
https://cdon.se/klader/t-shirt-ossian-p46619649-62113395
https://cdon.se/klader/t-shirt-ossian-p46619649-62113395
https://cdon.se/klader/t-shirt-l-s-tee-martin-p46309085-62112599
https://cdon.se/klader/t-shirt-victor-p46309022-62112496
https://cdon.se/klader/soft-gallery-mille-uv-baddrakt-p46452994-59181789
https://cdon.se/klader/soft-gallery-mille-uv-baddrakt-p46452994-59181789
https://cdon.se/klader/soft-gallery-mille-uv-baddrakt-p46452994-59181789
https://cdon.se/klader/soft-gallery-mille-uv-baddrakt-p46452994-59181789
https://cdon.se/klader/soft-gallery-mille-uv-baddrakt-p46452994-59181789
https://cdon.se/klader/soft-gallery-mille-uv-baddrakt-p46452994-59181789
https://cdon.se/klader/soft-gallery-baby-astin-uv-troja-p46458376-59200756
https://cdon.se/klader/soft-gallery-baby-astin-uv-troja-p46458376-59200756
https://cdon.se/klader/soft-gallery-baby-astin-uv-troja-p46458376-59200756
https://cdon.se/klader/soft-gallery-baby-astin-uv-troja-p46458376-59200756
https://cdon.se/klader/soft-gallery-baby-astin-uv-troja-p46458376-59200756
https://cdon.se/klader/soft-gallery-baby-astin-uv-troja-p46458376-59200756
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46477501-59264040
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46477501-59264040
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46477501-59264040
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46477501-59264040
https://cdon.se/klader/soft-gallery-astin-uv-troja-p46477501-59264040
https://cdon.se/klader/hummel-fashion-zab-badklader-p46966822-61102967
https://cdon.se/klader/hummel-fashion-zab-badklader-p46966822-61102967
https://cdon.se/klader/hummel-fashion-zab-badklader-p46966822-61102967
https://cdon.se/klader/hummel-fashion-oyster-uv-t-shirt-p46966825-61103064
https://cdon.se/klader/hummel-fashion-oyster-uv-t-shirt-p46966825-61103064
https://cdon.se/klader/hummel-fashion-oyster-uv-t-shirt-p46966825-61103064
https://cdon.se/klader/hummel-fashion-oyster-uv-t-shirt-p46966825-61103064
https://cdon.se/klader/t-shirt-esias-p47295343-66370425
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/lego-wear-troja-p48246576-66391999
https://cdon.se/klader/sweatshirt-p46651665-62114403
https://cdon.se/klader/sweatshirt-p46651665-62114403
https://cdon.se/klader/sweatshirt-harriet-p46309072-60009417
https://cdon.se/klader/sweatshirt-harriet-p46309072-62112575
https://cdon.se/klader/sweatshirt-harriet-p46309072-62112575
https://cdon.se/klader/huvtroja-elize-p46309074-62112585
https://cdon.se/klader/sweatshirt-p46797959-62114415
https://cdon.se/klader/sweatshirt-p46797959-62114415
https://cdon.se/klader/sweatshirt-p46797959-62114415
https://cdon.se/klader/sweatshirt-theo-p46545392-62113362
https://cdon.se/klader/sweatshirt-theo-p46545392-62113362
https://cdon.se/klader/jultroja-milton-p46309319-62113070
https://cdon.se/klader/jultroja-milton-p46309319-62113070
https://cdon.se/klader/sweatshirt-p46685091-62114337
https://cdon.se/klader/sweatshirtjacka-med-huva-p46797958-62114398
https://cdon.se/klader/sweatshirtjacka-med-huva-p46797958-62114398
https://cdon.se/klader/sockar-7-pack-p46308041-62110614
https://cdon.se/klader/my-little-pony-2-pack-halksockar-p46965269
https://cdon.se/klader/my-little-pony-2-pack-halksockar-p46965269
https://cdon.se/klader/my-little-pony-2-pack-halksockar-p46965269
https://cdon.se/klader/3-par-trosor-frozen-frost-p47773005
https://cdon.se/klader/hipstertrosa-i-ekologisk-bomull-p46350174-62109460
https://cdon.se/klader/pyjamas-teddy-friends-i-2-pack-p47717101-63527460
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/vinteroverall-med-avtagbar-huva-p46306954-62109601
https://cdon.se/klader/pyjamas-teddy-friends-i-2-pack-p47717101-63527460
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/weather-report-tusi-junior-p42310179-41385589
https://cdon.se/klader/vinteroverall-med-avtagbar-huva-p46306954-62109601
https://cdon.se/klader/tenson-sky-stripe-kid-s-rainset-p42264959-41241226
https://cdon.se/klader/tenson-sky-stripe-kid-s-rainset-p42264959-41241226
https://cdon.se/klader/tenson-sky-stripe-kid-s-rainset-p42264959-41241226
https://cdon.se/klader/tenson-sky-stripe-kid-s-rainset-p42264959-41241226
https://cdon.se/klader/tenson-sky-stripe-kid-s-rainset-p42264959-41241226
https://cdon.se/klader/vattentat-fleecefodrad-regnoverall-p46306936-62109453

In [11]:
df['new_price']=new_pr

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df['new_price'].unique()

array(['179', '149', 'Na', '59', '125', '99', '199', '119', '129', '219',
       '139', '69', '84', '142', '110', '299', '101', '229', '409', '159',
       '79', '169', '349', '109', '359', '309', '249', '77', '89', '104',
       '90', '209', '25', '29', '49', '174', '449', '345', '399', '279',
       '195', '193', '499', '379', '100', '107', '97', '55', '75', '329',
       '144', '128', '41', '50', '127', '99,5', '259', '319', '161',
       '114,5', '239', '183,2', '469', '699', '509', '432,65', '322,15',
       '439', '289', '519', '529', '369', '465', '112', '162', '189',
       '505', '204', '183', '419', '455', '265', '269', '255', '389',
       '175', '385', '459', '167', '244', '133', '137', '799', '181',
       '188', '549', '124,5', '140', '74', '74,5', '94,5', '200', '89,5',
       '65', '173', '244,3', '106', '116', '111', '93', '899', '418,9',
       '160', '31', '63', '339', '599', '186', '939', '559', '609', '489',
       '296,65', '339,15'], dtype=object)

In [19]:
df[df['new_price']!='Na'].count()

name          218
brand         218
gender        218
category      218
size          218
price         218
color         218
url           218
img_url       218
article_no    218
new_price     218
dtype: int64

In [20]:
df2=df[df['new_price']!='Na']

In [23]:
pd.options.display.float_format = '{:,.0f}'.format
df2.new_price=df2.new_price.str.replace(",",".")



df2['new_price']=df2['new_price'].astype(float)
df2['new_price']=df2['new_price'].round()
df2['new_price']=df2['new_price'].astype(int)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
df2['new_price'].unique()

array([179, 149,  59, 125,  99, 199, 119, 129, 219, 139,  69,  84, 142,
       110, 299, 101, 229, 409, 159,  79, 169, 349, 109, 359, 309, 249,
        77,  89, 104,  90, 209,  25,  29,  49, 174, 449, 345, 399, 279,
       195, 193, 499, 379, 100, 107,  97,  55,  75, 329, 144, 128,  41,
        50, 127, 259, 319, 161, 114, 239, 183, 469, 699, 509, 433, 322,
       439, 289, 519, 529, 369, 465, 112, 162, 189, 505, 204, 419, 455,
       265, 269, 255, 389, 175, 385, 459, 167, 244, 133, 137, 799, 181,
       188, 549, 124, 140,  74,  94, 200,  65, 173, 106, 116, 111,  93,
       899, 160,  31,  63, 339, 599, 186, 939, 559, 609, 489, 297])

In [9]:
len(new_pr)

8108

In [8]:
df[df['gender'].str.strip()=='Barn'].count()

name          2116
brand         2116
gender        2116
category      2116
size          2116
price         2116
color         2116
url           2116
img_url       2116
article_no    2116
dtype: int64

In [26]:
# df2['size'].unique()

In [55]:
# set(sz_list)

In [56]:
df2[df2['size']=='110-116 cl']

,name,brand,gender,category,size,price,color,url,img_url,article_no,new_price
675,"Swimpy, UV-shorts Mumin, Rosa/Svart",Ellos Kids,\r\nFlicka\t\t\t,UV-KLÄDER,110-116 cl,119 kr\n\n 449 kr,\r\nGul\t\t\t,https://cdon.se/skonhet-halsa/swimpy-uv-shorts-mumin-rosa-svart-p40056189,https://cdn.cdon.com/media-dynamic/images/product/toy/kladerochvaskor/image0/swimpy_uv-shorts_moomin_pinkblack-40056189-1.jpg,40056189,29
682,"Swimpy, UV-shorts Mumin, Blå/Svart",Ellos Kids,\r\nFlicka\t\t\t,UV-KLÄDER,110-116 cl,119 kr\n\n 449 kr,\r\nGul\t\t\t,https://cdon.se/skonhet-halsa/swimpy-uv-shorts-mumin-bla-svart-p40056114,https://cdn.cdon.com/media-dynamic/images/product/toy/kladerochvaskor/image2/swimpy_uv-shorts_moomin_blueblack-40056114-1.jpg,40056114,29

In [80]:
sz_list=df2['size'].tolist()

new_sz=[]
for s in sz_list:
    s=s.strip(' - Bevaka storlek')
    
    if s.find(',')!=-1:
        s=s.replace('Grey, ','')
        
    if s.find(' (')!=-1:
        s=s.split(' (') [0]
    if s.find(' å')!=-1:
        s=s.replace(' å','Y')
    if s.find(' y')!=-1:
        s=s.replace(' y','Y')

    if s.find(' cm')!=-1:
        s=s.split(' cm')[0]
        
    if s.find('m')!=-1:
        s=s.replace('m','M')
    if s.find(' M')!=-1:
        s=s.split(' M')[0]+'M'
    
    s=s.strip('c')
    
    if s.find('cl')!=-1:
        s=s.split('cl')[0]
    if s.find(", ")!=-1:
        s=s.split(', ')[1]
    if s.find("NattlinneM")!=-1:
        s=s.strip('NattlinneM')
    if s.find(" ")!=-1:
        s=s.split(" ")[0]
    if s in ['Child', 'Dark110/116', 'Dark122/128', 'L', 'Larg', 'M', 'MediuM', 'MediuM,M', 'No','SM', 'X-Larg',
            ]:
        s='Na'
    if s.find("One"):
        s=s.replace("One","One size")
    if s.find("Yr"):
        s=s.replace("Yr","Y")
    
    new_sz.append(s)
set(new_sz)

{'0-6M',
 '1-2Y',
 '10-11Y',
 '100',
 '100/3Y',
 '104',
 '104-110',
 '104/110',
 '104/4Y',
 '10Y',
 '11-12Y',
 '110',
 '110-116',
 '110/116',
 '110/120',
 '110/5Y',
 '116',
 '116-122',
 '116/122',
 '116/6Y',
 '12-18M',
 '12-24M',
 '120',
 '120/6Y',
 '122',
 '122-128',
 '122/128',
 '122/7Y',
 '128',
 '128-134',
 '128/134',
 '128/8Y',
 '12M',
 '12Y',
 '13-14Y',
 '130',
 '130/140',
 '130/8Y',
 '134',
 '134-140',
 '134/140',
 '134/9Y',
 '140',
 '140/10Y',
 '140/146',
 '146',
 '146-152',
 '146/11Y',
 '146/152',
 '14Y',
 '15/18',
 '150',
 '150/12Y',
 '152',
 '152/12Y',
 '158',
 '158-164',
 '158/164',
 '16-18',
 '16/18',
 '160',
 '160/14Y',
 '164',
 '164-170',
 '164/14Y',
 '170',
 '170-176',
 '170/16Y',
 '176/16Y',
 '18-24M',
 '18/22',
 '18M',
 '19-21',
 '19/21',
 '1Y',
 '2',
 '2-3Y',
 '2-4',
 '2-4Ys',
 '2/3',
 '2/3Y',
 '20',
 '21',
 '22',
 '22-24',
 '22/24',
 '23',
 '23/26',
 '24',
 '24-36M',
 '24M',
 '25',
 '25-27',
 '25/27',
 '26',
 '27',
 '27-30',
 '27/30',
 '28',
 '28-30',
 '28/30',
 '29',
 '2Y',
 '3-4Y',
 '30',
 '30-35',
 '31',
 '31-33',
 '31-34',
 '31/33',
 '31/34',
 '32',
 '33',
 '34',
 '34/36',
 '35',
 '37/39',
 '3Y',
 '4',
 '4-5Y',
 '4-6',
 '4-6Y',
 '4/5Y',
 '40/42',
 '44',
 '48',
 '4Y',
 '5-6Y',
 '50',
 '50/56',
 '56',
 '56/1M',
 '5Y',
 '6',
 '6-12M',
 '6-7Y',
 '6-7å',
 '6/7',
 '6/8',
 '6/8Y',
 '62',
 '62/3M',
 '62/68',
 '68',
 '68/6M',
 '68/74',
 '68M',
 '6Y',
 '7-8Y',
 '70',
 '74',
 '74-80',
 '74/80',
 '74/9M',
 '7Y',
 '8-9Y',
 '80',
 '80/1Y',
 '80/86',
 '86',
 '86-92',
 '86/1½Y',
 '86/92',
 '8Y',
 '9-10Y',
 '90',
 '90/2Y',
 '92',
 '92-98',
 '92/110',
 '92/2Y',
 '92/98',
 '98',
 '98-104',
 '98/104',
 '98/3Y',
 'Na',
 'One',
 'S',
 'XL',
 'XS',
 'XXL',
 'XXXL'}

In [81]:
df2['new_size']=new_sz

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
df2['brand'].unique()

array(['Ellos Kids', 'Petter&Kajsa', 'Petter & Kajsa', 'Walking',
       'Walking Bamboo', 'BÄBIS', 'Me Too', 'Disney Baby', 'Soft Gallery',
       'Walking Newborn', 'Fixoni', 'mi&u design', 'Small Rags',
       'Hello Kitty', 'Bobo Choses', 'Hummel Fashion', 'Piikaboo',
       'Reimatec', 'Milly & Willy', 'Name it', 'Riot Club', 'DC Shoes',
       'Mickey Mouse', 'Star Wars', 'Frozen', 'Lucky Ellen', 'Paddington',
       'Avengers', 'Minnie Mouse', 'My Little Pony', 'Phister & Philina',
       'Popupshop', 'Lindberg Sweden', 'THE NEW', 'eStore', 'Sugar Squad',
       'Nova Kids', 'Pippi Långstrump', 'Creamie', 'Disney Princess',
       'Disney Frozen', 'Revival', 'Super Mario Bros', 'Paw Patrol',
       'Spiderman', 'Cars', 'Disney', 'Angry Birds', 'Pinkoholic',
       'Street Life', 'Minions', 'Monster High', 'Joha', 'Vingino',
       'Reima', 'Lego Wear', 'Disney Pixar Cars', 'Emil i Lönneberga',
       'Helly Hansen', 'Asics', 'Burton', 'Smiley', 'Björn Borg',
       'Pierre Robert', 'Spider-Man', 'SC', 'Lundmyr Of Sweden', 'Sanrio',
       'D6 Soul', 'True North', 'Weather  Report', 'Mini A Ture',
       'Snowtex', 'Celavi', 'RainBusters', 'Tenson', 'Color Kids',
       'Mikk-Line', 'Bagheera', 'Viking'], dtype=object)

In [85]:
df2['gender']=df2['gender'].str.strip()
df2['gender'].unique()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['Barn', 'Pojke', 'Flicka', 'Barn - Unisex', 'Junior'], dtype=object)

In [86]:
colunms=['article_no','gender','category','new_price','new_size','brand']
df3=df2[colunms]
df3.head(2)

   article_no gender               category  new_price new_size       brand
0  46611322    Barn   BODIES & SPARKDRÄKTER  179        50       Ellos Kids
1  46611322    Barn   BODIES & SPARKDRÄKTER  179        56       Ellos Kids

In [89]:
df4=df3.rename(columns={'article_no':'article_no','gender':'gender','category':'category','new_price':'new_price','new_size':'size','brand':'brand'})
df4.head(2)

   article_no gender               category  price new_size       brand
0  46611322    Barn   BODIES & SPARKDRÄKTER  179    50       Ellos Kids
1  46611322    Barn   BODIES & SPARKDRÄKTER  179    56       Ellos Kids

In [90]:
dfr=df4
dfr.to_csv('cdon_cleaned.csv',index=False) #for rows not showing

In [91]:
df['category'].unique()

array(['BODIES & SPARKDRÄKTER', 'BADBYXOR', 'BADDRÄKTER', 'UV-KLÄDER',
       'byxor', 'jeans', 'shorts', 'skirts', 'dresses', 'costumes',
       'pyjamas', 'kardagins', 'tops', 'sweaters', 'underpants',
       'leggings', 'socks', 'panties', 'jackets', 'overall', 'rainwear'],
      dtype=object)