In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/kavat.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          5115
brand         5115
gender        5115
category      5115
size          5115
price         5115
color         5115
url           5115
img_url       5115
article_no    5085
dtype: int64

,name,brand,gender,category,size,price,color,url,img_url,article_no
0,\nAmmenäs EP Mörkblå\n,kavat,unisex,shoe,24,\n300 SEK\n\n Jämför med 600 SEK\n\n,Mörkblå\n,https://www.kavat.se/collections/barn/products/ammenas-ep-morkbla-2#1598892474439,https://cdn.shopify.com/s/files/1/0368/1233/products/SS19_AmmenasEP_R_B_1381271_989_blue.jpg?v=1551452105,Artikel 1381271
1,\nAmmenäs EP Mörkblå\n,kavat,unisex,shoe,25,\n300 SEK\n\n Jämför med 600 SEK\n\n,Mörkblå\n,https://www.kavat.se/collections/barn/products/ammenas-ep-morkbla-2#1598892474439,https://cdn.shopify.com/s/files/1/0368/1233/products/SS19_AmmenasEP_R_B_1381271_989_blue.jpg?v=1551452105,Artikel 1381271
2,\nAmmenäs EP Mörkblå\n,kavat,unisex,shoe,26,\n300 SEK\n\n Jämför med 600 SEK\n\n,Mörkblå\n,https://www.kavat.se/collections/barn/products/ammenas-ep-morkbla-2#1598892474439,https://cdn.shopify.com/s/files/1/0368/1233/products/SS19_AmmenasEP_R_B_1381271_989_blue.jpg?v=1551452105,Artikel 1381271

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          5115
brand         5115
gender        5115
category      5115
size          5115
price         5115
color         5115
url           5115
img_url       5115
article_no    5085
dtype: int64

In [3]:
df['price'].unique()

array(['\n300 SEK\n\n                    Jämför med 600 SEK\n\n',
       '\n240 SEK\n\n                    Jämför med 480 SEK\n\n',
       '\n480 SEK\n',
       '\n200 SEK\n\n                    Jämför med 400 SEK\n\n',
       '\n400 SEK\n', '\n600 SEK\n', '\n520 SEK\n', '\n(Kommer snart)\n',
       '\n560 SEK\n',
       '\n280 SEK\n\n                    Jämför med 560 SEK\n\n',
       '\n440 SEK\n',
       '\n220 SEK\n\n                    Jämför med 440 SEK\n\n',
       '\n180 SEK\n\n                    Jämför med 360 SEK\n\n',
       '\n320 SEK\n', '\n119 SEK\n', '\n280 SEK\n',
       '\n140 SEK\n\n                    Jämför med 280 SEK\n\n',
       '\n80 SEK\n\n                    Jämför med 160 SEK\n\n',
       '\n260 SEK\n\n                    Jämför med 520 SEK\n\n',
       '\n880 SEK\n\n                    Jämför med 1 760 SEK\n\n',
       '\n1 520 SEK\n', '\n72 SEK\n', '\n960 SEK\n', '\n79 SEK\n',
       '\n55 SEK\n', '\n40 SEK\n', '\n360 SEK\n', '\n32 SEK\n',
       '\n320 SEK\n\n                    Jämför med 640 SEK\n\n',
       '\n640 SEK\n', '\n160 SEK\n', '\n680 SEK\n', '\n519 SEK\n',
       '\n800 SEK\n', '\n80 SEK\n', '\n96 SEK\n'], dtype=object)

In [4]:
df2=df
df2['price']=df2['price'].str.strip()
df2['price']=df2['price'].str.split(' ').str.get(0)
df2['price'].unique()

array(['300', '240', '480', '200', '400', '600', '520', '(Kommer', '560',
       '280', '440', '220', '180', '320', '119', '140', '80', '260',
       '880', '1', '72', '960', '79', '55', '40', '360', '32', '640',
       '160', '680', '519', '800', '96'], dtype=object)

In [5]:
df2['size'].unique()

array(['24 ', '25 ', '26 ', '27 ', '28 ', '29 ', '30 ', '31 ', '32 ',
       '33 ', '34 ', '35 ', '19 ', '20 ', '21 ', '22 ', '23 ', '36 ',
       '37 ', '38 ', '39 ', '23/24 ', '25/26 ', '27/28 ', '29/30 ', '40 ',
       '41 ', '42 ', '43 ', '44 ', '45 ', '46 ', 'Neutral ', '19', '25',
       '31', '37', '43', 'Skoborste ', 'Mörkbrun ', 'Svart ', '22/23 ',
       '24/25 ', '26/27 ', '28/29 ', '30/31 ', '32/33 ', '34/35 ',
       'Putsduk ', '120ml '], dtype=object)

In [6]:
df3=df2
df3['size']=df2['size'].str.strip()
df3['size']=df2['size'].str.replace('Skoborste','Na')
df3['size']=df2['size'].str.replace('Mörkbrun','Na')
df3['size']=df2['size'].str.replace('Svart','Na')
df3['size']=df2['size'].str.replace('Putsduk','Na')
df3['size']=df2['size'].str.replace('120ml','Na')
df3['size']=df2['size'].str.replace('/','-')
df3['size']=df2['size'].str.replace('Neutral','Na')

df3['size'].unique()

array(['24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '19', '20', '21', '22', '23', '36', '37', '38', '39',
       '23-24', '25-26', '27-28', '29-30', '40', '41', '42', '43', '44',
       '45', '46', 'Na', '22-23', '24-25', '26-27', '28-29', '30-31',
       '32-33', '34-35'], dtype=object)

In [7]:
colunms=['article_no','gender','category','price','size','brand']
df4=df3[colunms]
df4.head(2)

        article_no  gender category price size  brand
0  Artikel 1381271  unisex  shoe     300   24   kavat
1  Artikel 1381271  unisex  shoe     300   25   kavat

In [8]:
dfr=df4
dfr.to_csv('kavat_cleaned.csv',index=False) #for rows not showing