In [1]:
import pandas as pd
result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/babyshop.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          87008
brand         87008
gender        87008
category      87008
size          87008
price         86828
url           87008
img_url       87008
article_no    87008
blob_url      87008
dtype: int64

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
0,Bordeaux Red Pique Polo,\nLacoste\n,boy,overdelar/s/629,3 years,800 kr,https://www.babyshop.se/bordeaux-red-pique-pol...,https://www.babyshop.com/images/638844/x_large...,460256_476,https://storage.googleapis.com/urbankiddo/baby...
1,Bordeaux Red Pique Polo,\nLacoste\n,boy,overdelar/s/629,4 years,800 kr,https://www.babyshop.se/bordeaux-red-pique-pol...,https://www.babyshop.com/images/638844/x_large...,460256_476,https://storage.googleapis.com/urbankiddo/baby...
2,Bordeaux Red Pique Polo,\nLacoste\n,boy,overdelar/s/629,5 years,800 kr,https://www.babyshop.se/bordeaux-red-pique-pol...,https://www.babyshop.com/images/638844/x_large...,460256_476,https://storage.googleapis.com/urbankiddo/baby...

In [20]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          85916
brand         85916
gender        85916
category      85916
size          85916
price         85737
url           85916
img_url       85916
article_no    85916
blob_url      85916
dtype: int64

In [3]:
df['category'].unique()

array(['overdelar/s/629', 'trojor-stickat/s/1291', 'klanningar/s/631',
       'underdelar/s/630', 'shorts/s/646', 'kladset/s/1560',
       'kostymer/s/1597', 'fleece/s/662', 'jackor/s/658',
       'overaller/s/659', 'overdragsbyxor/s/1621', 'regnklader/s/661',
       'sovklader/s/635', 'underklader/s/632', 'understall/s/663',
       'uv-badklader/s/634', 'barnskor/s/620', 'accessoarer/s/637',
       'babyprodukter/s/621', 'barnvagnar/s/622', 'kjolar/s/643',
       'bilbarnstolar/s/623'], dtype=object)

In [4]:
df['price'].unique()

array(['800 kr', '900 kr', '- Få i lager', '- En i lager', '- I lager',
       '1105 kr', '1209 kr', '1315 kr', '895 kr', '999 kr', '650 kr',
       '700 kr', '550 kr', nan, '745 kr', '690 kr', '365 kr', '439 kr',
       '325 kr', '395 kr', '240 kr', '210 kr', '595 kr', '665 kr',
       '715 kr', '435 kr', '490 kr', '560 kr', '685 kr', '735 kr',
       '425 kr', '475 kr', '790 kr', '835 kr', '507 kr', ' 560 kr',
       '613 kr', '560 kr\r', '1060 kr', '1185 kr', '1335 kr', '505 kr',
       '555 kr', '860 kr', '960 kr', '605 kr', '755 kr', '655 kr',
       '705 kr', '730 kr', '985 kr', '455 kr', ' - En i lager', '405 kr',
       '2419 kr', '2519 kr', '2679 kr', '350 kr', '400 kr', '415 kr',
       '459 kr', '509 kr', '615 kr', '199 kr', '229 kr', '450 kr',
       '300 kr', '600 kr', '1119 kr', '1013 kr', '853 kr', '799 kr',
       '667 kr', '453 kr', '280 kr', '315 kr', '1259 kr', '949 kr',
       '789 kr', '839 kr', '579 kr', '629 kr', '1159 kr', ' - I lager',
       ' - Få i lager', '295 kr', '349 kr', '500 kr', '725 kr', '409 kr',
       '495 kr', '289 kr', '1469 kr', '1579 kr', '529 kr', '599 kr',
       '379 kr', '449 kr', '910 kr', '795 kr', '545 kr', '345 kr',
       ' 895 kr', '695 kr', '995 kr', '525 kr', '208 kr', '176 kr',
       '192 kr', '414 kr', '474 kr', '403 kr', '460 kr', '518 kr',
       '575 kr', '633 kr', '805 kr', '748 kr', '269 kr', '299 kr',
       '329 kr', '359 kr', '1049 kr', '225 kr', '249 kr', '679 kr',
       '749 kr', '239 kr', '209 kr', '445 kr', '339 kr', '335 kr',
       '1173 kr', '1067 kr', '3625 kr', '3939 kr', '1889 kr', '2049 kr',
       '385 kr', '389 kr', '489 kr', '388 kr', '444 kr', '332 kr',
       '279 kr', '485 kr', ' 485 kr', '540 kr', '590 kr', '689 kr',
       '759 kr', '399 kr', '569 kr', '285 kr', '129 kr', '149 kr',
       '559 kr', '245 kr', '265 kr', '479 kr', '309 kr', '549 kr',
       '704 kr', '288 kr', '220 kr', '223 kr', '1265 kr', '1419 kr',
       '1525 kr', '1629 kr', '139 kr', '2365 kr', '219 kr', '699 kr',
       '185 kr', '470 kr', '305 kr', '558 kr', '647 kr', '762 kr',
       '841 kr', '932 kr', '1021 kr', '179 kr', ' 359 kr', '259 kr',
       '235 kr', '275 kr', '645 kr', '205 kr', '234 kr', '360 kr',
       ' 305 kr', '480 kr', ' 249 kr', '1839 kr', '273 kr', '320 kr',
       '411 kr', '342 kr', '514 kr', '419 kr', '935 kr', '1079 kr',
       '535 kr', ' 405 kr', '502 kr', '593 kr', '684 kr', '742 kr',
       '856 kr', '635 kr', '298 kr', '344 kr', '319 kr', '1675 kr',
       '465 kr', '1225 kr', '1355 kr', '145 kr', '155 kr', '625 kr',
       '228 kr', '628 kr', '401 kr', '206 kr', '809 kr', '945 kr',
       '458 kr', '757 kr', '252 kr', '939 kr', '989 kr', '164 kr',
       '183 kr', '1008 kr', '1109 kr', '515 kr', '1389 kr', '1485 kr',
       '268 kr', '316 kr', ' 295 kr', '452 kr', '564 kr', '69 kr',
       '115 kr', '137 kr', '195 kr', '165 kr', '175 kr', '132 kr',
       '193 kr', '221 kr', '306 kr', '324 kr', '174 kr', '201 kr',
       '171 kr', '188 kr', '182 kr', '196 kr', '216 kr', '879 kr',
       '984 kr', '1035 kr', '1685 kr', '1405 kr', '(Slut)', '423 kr',
       '476 kr', '524 kr', '631 kr', '375 kr', '135 kr', '170 kr',
       '810 kr', '520 kr', '1089 kr', '2839 kr', '3099 kr', '4829 kr',
       '5199 kr', '5669 kr', '1075 kr', '1030 kr', '1150 kr', '907 kr',
       '959 kr', '1010 kr', '1110 kr', '1640 kr', ' 685 kr', '1735 kr',
       '1369 kr', '739 kr', ' 810 kr', '829 kr', '899 kr', '4729 kr',
       '5569 kr', '869 kr', '1200 kr', '1789 kr', '2469 kr', '620 kr',
       ' 1030 kr', '1195 kr', '863 kr', '978 kr', '2099 kr', '2575 kr',
       '1395 kr', '1495 kr', '1295 kr', '1695 kr', '429 kr', '1039 kr',
       '930 kr', '1050 kr', '785 kr', '830 kr', '905 kr', '4199 kr',
       '4569 kr', '4939 kr', '369 kr', '747 kr', '1420 kr', '1545 kr',
       '1715 kr', '1175 kr', '769 kr', '947 kr', '1095 kr', '975 kr',
       '1027 kr', '1141 kr', '1256 kr', '1427 kr', '1160 kr', '697 kr',
       '1790 kr', '659 kr', '719 kr', '630 kr', '687 kr', '572 kr',
       '1084 kr', '1199 kr', '1370 kr', '539 kr', '729 kr', '1819 kr',
       '1915 kr', '909 kr', '1005 kr', '519 kr', '456 kr', '548 kr',
       '639 kr', '1589 kr', '1649 kr', '857 kr', '958 kr', '5165 kr',
       '5265 kr', '2439 kr', '2539 kr', '2635 kr', '2155 kr', '2329 kr',
       '2269 kr', '2499 kr', '2605 kr', '807 kr', '908 kr', '565 kr',
       '815 kr', '2299 kr', '469 kr', '855 kr', '609 kr', '203 kr',
       '231 kr', '154 kr', '373 kr', '440 kr', '670 kr', '740 kr',
       '410 kr', '380 kr', '640 kr', '680 kr', '2889 kr', '2995 kr',
       '3149 kr', ' 490 kr', '1679 kr', '499 kr', '1795 kr', '2259 kr',
       '693 kr', ' 693 kr', '710 kr', ' 469 kr', '1869 kr', '1219 kr',
       '1275 kr', '571 kr', '1569 kr', '1699 kr', '2969 kr', '3209 kr',
       '3399 kr', '77 kr', '109 kr', '3359 kr', '343 kr', '649 kr',
       '2525 kr', '2629 kr', '533 kr', '1895 kr', '2309 kr', '2675 kr',
       '1635 kr', '1755 kr', '1920 kr', '3970 kr', '3704 kr', '1560 kr',
       '1680 kr', '3469 kr', '3835 kr', '1302 kr', '1539 kr', '1602 kr',
       '1702 kr', '1840 kr', '2040 kr', '1100 kr', '1670 kr', '1965 kr',
       '3979 kr', '4109 kr', '973 kr', '865 kr', '929 kr', '1375 kr',
       '3600 kr', '$product.Price.Formatted', '3920 kr', '3335 kr',
       '3575 kr', '2925 kr', '3175 kr', '3455 kr', '709 kr', '1400 kr',
       '1500 kr', '885 kr', '840 kr', '770 kr', '1595 kr', '1879 kr',
       '1229 kr', '1440 kr', '2395 kr', '2520 kr', '2645 kr', '1019 kr',
       '4465 kr', '5409 kr', '4989 kr', '1555 kr', '1730 kr', '1930 kr',
       '2729 kr', '1230 kr', ' 1230 kr', '2100 kr', '2350 kr', '1850 kr',
       '2050 kr', '1799 kr', '1995 kr', '2045 kr', '2165 kr', '2355 kr',
       '3049 kr', '3519 kr', '3889 kr', '1270 kr', ' 1265 kr', '4309 kr',
       '1299 kr', '1439 kr', '1009 kr', '1349 kr', '2485 kr', '2769 kr',
       '1655 kr', '1815 kr', '2545 kr', '2865 kr', '4779 kr', '5249 kr',
       '4675 kr', ' 409 kr', '1865 kr', '1990 kr', '1445 kr', '1305 kr',
       '3415 kr', '950 kr', '1025 kr', '1070 kr', ' 785 kr', '1345 kr',
       '1470 kr', '8035 kr', '8559 kr', '1065 kr', '1184 kr', '4885 kr',
       '5989 kr', '2195 kr', '2319 kr', '2585 kr', '503 kr', '744 kr',
       '1055 kr', '4019 kr', '4429 kr', '4809 kr', '1139 kr', '1235 kr',
       '7415 kr', '7655 kr', '5215 kr', '5695 kr', '3649 kr', '3779 kr',
       '5015 kr', '5179 kr', '1373 kr', '3589 kr', '3829 kr', '1619 kr',
       '1719 kr', '1365 kr', ' 495 kr', '779 kr', '427 kr', '23 kr',
       '45 kr', '1949 kr', '979 kr', '1029 kr', '849 kr', '750 kr',
       '850 kr', '1149 kr', '1320 kr', '3729 kr', '6039 kr', '1054 kr',
       '594 kr', ' 649 kr', '1939 kr', '2105 kr', '3045 kr', '845 kr',
       '765 kr', '589 kr', '1625 kr', '1732 kr', '391 kr', '873 kr',
       '925 kr', '310 kr', '374 kr', '1099 kr', '669 kr', ' 629 kr',
       ' 665 kr', ' 449 kr', '796 kr', '367 kr', '390 kr', '915 kr',
       '1205 kr', ' 799 kr', '580 kr', '207 kr', '290 kr', '2785 kr',
       ' 605 kr', '2115 kr', '1085 kr', '870 kr', '610 kr', '712 kr',
       '169 kr', '189 kr', '255 kr', ' 599 kr', '819 kr', '896 kr',
       '1015 kr', '1575 kr', '1529 kr', '1269 kr', '1359 kr', '1059 kr',
       '1125 kr', '457 kr', '1339 kr', '437 kr', '328 kr', '2345 kr',
       '2059 kr', '1465 kr', '1590 kr', '1180 kr', '1120 kr', '1615 kr',
       '1740 kr', ' 769 kr', ' 1335 kr', '859 kr', '675 kr', '775 kr',
       '619 kr', '3255 kr', '3539 kr', '2039 kr', '585 kr', '3159 kr',
       '3445 kr', '3685 kr', '919 kr', '969 kr', ' 919 kr', '660 kr',
       '1245 kr', '1210 kr', '2270 kr', '965 kr', '3259 kr', '3679 kr',
       '2209 kr', '1430 kr', '1975 kr', '2175 kr', '2425 kr', '4149 kr',
       ' (Slut)', ' 4989 kr', '5725 kr', ' 399 kr', '1942 kr', '2190 kr',
       '1316 kr', '1407 kr', '1045 kr', '1179 kr', ' 1179 kr', '2273 kr',
       '2248 kr', '2500 kr', ' 875 kr', '875 kr', '644 kr', '508 kr',
       '1449 kr', ' 1315 kr', '1300 kr', '1155 kr', '779 kr\r', ' 619 kr',
       '562 kr', '355 kr', ' 855 kr', '1480 kr', '1605 kr', ' 1099 kr',
       '990 kr', ' 675 kr', '2289 kr', '2579 kr', '3495 kr', '1135 kr',
       '5935 kr', '6175 kr', ' 1019 kr', '2535 kr', '2825 kr', '2245 kr',
       '889 kr', '606 kr', '1999 kr', '1805 kr', '3989 kr', '4359 kr',
       '119 kr', '1479 kr', '215 kr', ' 245 kr', '321 kr', '1989 kr',
       '1535 kr', '1329 kr', '126 kr', '123 kr', '101 kr', '104 kr',
       '2179 kr', '2939 kr', '510 kr', '1945 kr', '1360 kr', '1029 kr\r',
       '1599 kr', '1659 kr', '1935 kr', ' 699 kr', '370 kr', ' 800 kr',
       '1279 kr', ' 1329 kr', '3230 kr', '3475 kr', '3725 kr', '2240 kr',
       '3165 kr', '3665 kr', '2300 kr', '2550 kr', '970 kr', '5149 kr',
       '6249 kr', '5515 kr', '4535 kr', '4905 kr', '5280 kr', '2360 kr',
       '2730 kr', '5879 kr', '6509 kr', '7195 kr', '1122 kr', '1237 kr',
       '1782 kr', '1885 kr', '2005 kr', '2220 kr', '2470 kr', '1249 kr',
       '1379 kr', '7615 kr', '4619 kr', '825 kr', '1899 kr', '4069 kr',
       '4259 kr', '2479 kr', '2595 kr', '5739 kr', '5979 kr', '1429 kr',
       '243 kr', '3245 kr', '3545 kr', '3035 kr', '576 kr', '254 kr',
       '263 kr', '258 kr', ' 479 kr', '125 kr', '159 kr', '180 kr',
       '914 kr', '1006 kr', '1528 kr', ' 1006 kr', '2168 kr', '2417 kr',
       '1986 kr', '1153 kr', '1303 kr', ' 549 kr', '1080 kr', '1425 kr',
       '904 kr', '1128 kr', '955 kr', '416 kr', '448 kr', '1240 kr',
       '1304 kr', '1364 kr', '933 kr', '996 kr', '1197 kr', '1571 kr',
       '1639 kr', '1721 kr', '791 kr', '822 kr', ' 899 kr', ' 749 kr',
       '2009 kr', '1499 kr', '1489 kr', '3785 kr', '4165 kr', '1765 kr',
       '1145 kr', '1239 kr', ' 1199 kr', '3299 kr', '3585 kr', ' 1775 kr',
       '1775 kr', '2255 kr', '2445 kr', '612 kr', '663 kr', '711 kr',
       '420 kr', '200 kr', '1071 kr', '578 kr', '616 kr', '100 kr',
       '116 kr', '272 kr', '293 kr', '3205 kr', '5095 kr', '147 kr',
       '6985 kr', ' 1595 kr', '2389 kr', '2705 kr', '5305 kr', '696 kr',
       '764 kr', '302 kr', '262 kr', '89 kr', '99 kr', '59 kr', '79 kr',
       '4045 kr', ' 4045 kr', '1900 kr', '2600 kr', ' 949 kr', '250 kr',
       '821 kr', '971 kr', '3419 kr', '1295 kr\r', '1519 kr', '2999 kr',
       '3369 kr', '2265 kr', '2375 kr', ' 579 kr', '678 kr', '1399 kr',
       '297 kr', '296 kr', '90 kr', '112 kr', '584 kr'], dtype=object)

In [36]:
pd.set_option('display.max_colwidth', -1) #full colunm dispaly
df2=df
df2['price']=df2['price'].str.strip()
df2=df2[df2['price']!='- Få i lager']
df2=df2[df2['price']!='- En i lager']
df2=df2[df2['price']!='- I lager']
df2=df2[df2['price']!='$product.Price.Formatted']
df2=df2[df2['price']!='(Slut)']
df2=df2[df2['price']!= 'nan']

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
df2['price'].unique()[10]

nan

In [37]:
df2['price'].unique()

array(['800 kr', '900 kr', '1105 kr', '1209 kr', '1315 kr', '895 kr',
       '999 kr', '650 kr', '700 kr', '550 kr', nan, '745 kr', '690 kr',
       '365 kr', '439 kr', '325 kr', '395 kr', '240 kr', '210 kr',
       '595 kr', '665 kr', '715 kr', '435 kr', '490 kr', '560 kr',
       '685 kr', '735 kr', '425 kr', '475 kr', '790 kr', '835 kr',
       '507 kr', '613 kr', '1060 kr', '1185 kr', '1335 kr', '505 kr',
       '555 kr', '860 kr', '960 kr', '605 kr', '755 kr', '655 kr',
       '705 kr', '730 kr', '985 kr', '455 kr', '405 kr', '2419 kr',
       '2519 kr', '2679 kr', '350 kr', '400 kr', '415 kr', '459 kr',
       '509 kr', '615 kr', '199 kr', '229 kr', '450 kr', '300 kr',
       '600 kr', '1119 kr', '1013 kr', '853 kr', '799 kr', '667 kr',
       '453 kr', '280 kr', '315 kr', '1259 kr', '949 kr', '789 kr',
       '839 kr', '579 kr', '629 kr', '1159 kr', '295 kr', '349 kr',
       '500 kr', '725 kr', '409 kr', '495 kr', '289 kr', '1469 kr',
       '1579 kr', '529 kr', '599 kr', '379 kr', '449 kr', '910 kr',
       '795 kr', '545 kr', '345 kr', '695 kr', '995 kr', '525 kr',
       '208 kr', '176 kr', '192 kr', '414 kr', '474 kr', '403 kr',
       '460 kr', '518 kr', '575 kr', '633 kr', '805 kr', '748 kr',
       '269 kr', '299 kr', '329 kr', '359 kr', '1049 kr', '225 kr',
       '249 kr', '679 kr', '749 kr', '239 kr', '209 kr', '445 kr',
       '339 kr', '335 kr', '1173 kr', '1067 kr', '3625 kr', '3939 kr',
       '1889 kr', '2049 kr', '385 kr', '389 kr', '489 kr', '388 kr',
       '444 kr', '332 kr', '279 kr', '485 kr', '540 kr', '590 kr',
       '689 kr', '759 kr', '399 kr', '569 kr', '285 kr', '129 kr',
       '149 kr', '559 kr', '245 kr', '265 kr', '479 kr', '309 kr',
       '549 kr', '704 kr', '288 kr', '220 kr', '223 kr', '1265 kr',
       '1419 kr', '1525 kr', '1629 kr', '139 kr', '2365 kr', '219 kr',
       '699 kr', '185 kr', '470 kr', '305 kr', '558 kr', '647 kr',
       '762 kr', '841 kr', '932 kr', '1021 kr', '179 kr', '259 kr',
       '235 kr', '275 kr', '645 kr', '205 kr', '234 kr', '360 kr',
       '480 kr', '1839 kr', '273 kr', '320 kr', '411 kr', '342 kr',
       '514 kr', '419 kr', '935 kr', '1079 kr', '535 kr', '502 kr',
       '593 kr', '684 kr', '742 kr', '856 kr', '635 kr', '298 kr',
       '344 kr', '319 kr', '1675 kr', '465 kr', '1225 kr', '1355 kr',
       '145 kr', '155 kr', '625 kr', '228 kr', '628 kr', '401 kr',
       '206 kr', '809 kr', '945 kr', '458 kr', '757 kr', '252 kr',
       '939 kr', '989 kr', '164 kr', '183 kr', '1008 kr', '1109 kr',
       '515 kr', '1389 kr', '1485 kr', '268 kr', '316 kr', '452 kr',
       '564 kr', '69 kr', '115 kr', '137 kr', '195 kr', '165 kr',
       '175 kr', '132 kr', '193 kr', '221 kr', '306 kr', '324 kr',
       '174 kr', '201 kr', '171 kr', '188 kr', '182 kr', '196 kr',
       '216 kr', '879 kr', '984 kr', '1035 kr', '1685 kr', '1405 kr',
       '423 kr', '476 kr', '524 kr', '631 kr', '375 kr', '135 kr',
       '170 kr', '810 kr', '520 kr', '1089 kr', '2839 kr', '3099 kr',
       '4829 kr', '5199 kr', '5669 kr', '1075 kr', '1030 kr', '1150 kr',
       '907 kr', '959 kr', '1010 kr', '1110 kr', '1640 kr', '1735 kr',
       '1369 kr', '739 kr', '829 kr', '899 kr', '4729 kr', '5569 kr',
       '869 kr', '1200 kr', '1789 kr', '2469 kr', '620 kr', '1195 kr',
       '863 kr', '978 kr', '2099 kr', '2575 kr', '1395 kr', '1495 kr',
       '1295 kr', '1695 kr', '429 kr', '1039 kr', '930 kr', '1050 kr',
       '785 kr', '830 kr', '905 kr', '4199 kr', '4569 kr', '4939 kr',
       '369 kr', '747 kr', '1420 kr', '1545 kr', '1715 kr', '1175 kr',
       '769 kr', '947 kr', '1095 kr', '975 kr', '1027 kr', '1141 kr',
       '1256 kr', '1427 kr', '1160 kr', '697 kr', '1790 kr', '659 kr',
       '719 kr', '630 kr', '687 kr', '572 kr', '1084 kr', '1199 kr',
       '1370 kr', '539 kr', '729 kr', '1819 kr', '1915 kr', '909 kr',
       '1005 kr', '519 kr', '456 kr', '548 kr', '639 kr', '1589 kr',
       '1649 kr', '857 kr', '958 kr', '5165 kr', '5265 kr', '2439 kr',
       '2539 kr', '2635 kr', '2155 kr', '2329 kr', '2269 kr', '2499 kr',
       '2605 kr', '807 kr', '908 kr', '565 kr', '815 kr', '2299 kr',
       '469 kr', '855 kr', '609 kr', '203 kr', '231 kr', '154 kr',
       '373 kr', '440 kr', '670 kr', '740 kr', '410 kr', '380 kr',
       '640 kr', '680 kr', '2889 kr', '2995 kr', '3149 kr', '1679 kr',
       '499 kr', '1795 kr', '2259 kr', '693 kr', '710 kr', '1869 kr',
       '1219 kr', '1275 kr', '571 kr', '1569 kr', '1699 kr', '2969 kr',
       '3209 kr', '3399 kr', '77 kr', '109 kr', '3359 kr', '343 kr',
       '649 kr', '2525 kr', '2629 kr', '533 kr', '1895 kr', '2309 kr',
       '2675 kr', '1635 kr', '1755 kr', '1920 kr', '3970 kr', '3704 kr',
       '1560 kr', '1680 kr', '3469 kr', '3835 kr', '1302 kr', '1539 kr',
       '1602 kr', '1702 kr', '1840 kr', '2040 kr', '1100 kr', '1670 kr',
       '1965 kr', '3979 kr', '4109 kr', '973 kr', '865 kr', '929 kr',
       '1375 kr', '3600 kr', '3920 kr', '3335 kr', '3575 kr', '2925 kr',
       '3175 kr', '3455 kr', '709 kr', '1400 kr', '1500 kr', '885 kr',
       '840 kr', '770 kr', '1595 kr', '1879 kr', '1229 kr', '1440 kr',
       '2395 kr', '2520 kr', '2645 kr', '1019 kr', '4465 kr', '5409 kr',
       '4989 kr', '1555 kr', '1730 kr', '1930 kr', '2729 kr', '1230 kr',
       '2100 kr', '2350 kr', '1850 kr', '2050 kr', '1799 kr', '1995 kr',
       '2045 kr', '2165 kr', '2355 kr', '3049 kr', '3519 kr', '3889 kr',
       '1270 kr', '4309 kr', '1299 kr', '1439 kr', '1009 kr', '1349 kr',
       '2485 kr', '2769 kr', '1655 kr', '1815 kr', '2545 kr', '2865 kr',
       '4779 kr', '5249 kr', '4675 kr', '1865 kr', '1990 kr', '1445 kr',
       '1305 kr', '3415 kr', '950 kr', '1025 kr', '1070 kr', '1345 kr',
       '1470 kr', '8035 kr', '8559 kr', '1065 kr', '1184 kr', '4885 kr',
       '5989 kr', '2195 kr', '2319 kr', '2585 kr', '503 kr', '744 kr',
       '1055 kr', '4019 kr', '4429 kr', '4809 kr', '1139 kr', '1235 kr',
       '7415 kr', '7655 kr', '5215 kr', '5695 kr', '3649 kr', '3779 kr',
       '5015 kr', '5179 kr', '1373 kr', '3589 kr', '3829 kr', '1619 kr',
       '1719 kr', '1365 kr', '779 kr', '427 kr', '23 kr', '45 kr',
       '1949 kr', '979 kr', '1029 kr', '849 kr', '750 kr', '850 kr',
       '1149 kr', '1320 kr', '3729 kr', '6039 kr', '1054 kr', '594 kr',
       '1939 kr', '2105 kr', '3045 kr', '845 kr', '765 kr', '589 kr',
       '1625 kr', '1732 kr', '391 kr', '873 kr', '925 kr', '310 kr',
       '374 kr', '1099 kr', '669 kr', '796 kr', '367 kr', '390 kr',
       '915 kr', '1205 kr', '580 kr', '207 kr', '290 kr', '2785 kr',
       '2115 kr', '1085 kr', '870 kr', '610 kr', '712 kr', '169 kr',
       '189 kr', '255 kr', '819 kr', '896 kr', '1015 kr', '1575 kr',
       '1529 kr', '1269 kr', '1359 kr', '1059 kr', '1125 kr', '457 kr',
       '1339 kr', '437 kr', '328 kr', '2345 kr', '2059 kr', '1465 kr',
       '1590 kr', '1180 kr', '1120 kr', '1615 kr', '1740 kr', '859 kr',
       '675 kr', '775 kr', '619 kr', '3255 kr', '3539 kr', '2039 kr',
       '585 kr', '3159 kr', '3445 kr', '3685 kr', '919 kr', '969 kr',
       '660 kr', '1245 kr', '1210 kr', '2270 kr', '965 kr', '3259 kr',
       '3679 kr', '2209 kr', '1430 kr', '1975 kr', '2175 kr', '2425 kr',
       '4149 kr', '5725 kr', '1942 kr', '2190 kr', '1316 kr', '1407 kr',
       '1045 kr', '1179 kr', '2273 kr', '2248 kr', '2500 kr', '875 kr',
       '644 kr', '508 kr', '1449 kr', '1300 kr', '1155 kr', '562 kr',
       '355 kr', '1480 kr', '1605 kr', '990 kr', '2289 kr', '2579 kr',
       '3495 kr', '1135 kr', '5935 kr', '6175 kr', '2535 kr', '2825 kr',
       '2245 kr', '889 kr', '606 kr', '1999 kr', '1805 kr', '3989 kr',
       '4359 kr', '119 kr', '1479 kr', '215 kr', '321 kr', '1989 kr',
       '1535 kr', '1329 kr', '126 kr', '123 kr', '101 kr', '104 kr',
       '2179 kr', '2939 kr', '510 kr', '1945 kr', '1360 kr', '1599 kr',
       '1659 kr', '1935 kr', '370 kr', '1279 kr', '3230 kr', '3475 kr',
       '3725 kr', '2240 kr', '3165 kr', '3665 kr', '2300 kr', '2550 kr',
       '970 kr', '5149 kr', '6249 kr', '5515 kr', '4535 kr', '4905 kr',
       '5280 kr', '2360 kr', '2730 kr', '5879 kr', '6509 kr', '7195 kr',
       '1122 kr', '1237 kr', '1782 kr', '1885 kr', '2005 kr', '2220 kr',
       '2470 kr', '1249 kr', '1379 kr', '7615 kr', '4619 kr', '825 kr',
       '1899 kr', '4069 kr', '4259 kr', '2479 kr', '2595 kr', '5739 kr',
       '5979 kr', '1429 kr', '243 kr', '3245 kr', '3545 kr', '3035 kr',
       '576 kr', '254 kr', '263 kr', '258 kr', '125 kr', '159 kr',
       '180 kr', '914 kr', '1006 kr', '1528 kr', '2168 kr', '2417 kr',
       '1986 kr', '1153 kr', '1303 kr', '1080 kr', '1425 kr', '904 kr',
       '1128 kr', '955 kr', '416 kr', '448 kr', '1240 kr', '1304 kr',
       '1364 kr', '933 kr', '996 kr', '1197 kr', '1571 kr', '1639 kr',
       '1721 kr', '791 kr', '822 kr', '2009 kr', '1499 kr', '1489 kr',
       '3785 kr', '4165 kr', '1765 kr', '1145 kr', '1239 kr', '3299 kr',
       '3585 kr', '1775 kr', '2255 kr', '2445 kr', '612 kr', '663 kr',
       '711 kr', '420 kr', '200 kr', '1071 kr', '578 kr', '616 kr',
       '100 kr', '116 kr', '272 kr', '293 kr', '3205 kr', '5095 kr',
       '147 kr', '6985 kr', '2389 kr', '2705 kr', '5305 kr', '696 kr',
       '764 kr', '302 kr', '262 kr', '89 kr', '99 kr', '59 kr', '79 kr',
       '4045 kr', '1900 kr', '2600 kr', '250 kr', '821 kr', '971 kr',
       '3419 kr', '1519 kr', '2999 kr', '3369 kr', '2265 kr', '2375 kr',
       '678 kr', '1399 kr', '297 kr', '296 kr', '90 kr', '112 kr',
       '584 kr'], dtype=object)

In [47]:
df2=df2.dropna() #na drop values

In [48]:
pd.options.display.float_format = '{:,.0f}'.format

df2.price=df2.price.str.replace("\r", "")
df2.price=df2.price.str.strip(' kr')



df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)

df2.head(2)

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
0,Bordeaux Red Pique Polo,\nLacoste\n,boy,overdelar/s/629,3 years,800,https://www.babyshop.se/bordeaux-red-pique-polo/p/303662,https://www.babyshop.com/images/638844/x_large.jpg,460256_476,https://storage.googleapis.com/urbankiddo/babyshop/460256_476
1,Bordeaux Red Pique Polo,\nLacoste\n,boy,overdelar/s/629,4 years,800,https://www.babyshop.se/bordeaux-red-pique-polo/p/303662,https://www.babyshop.com/images/638844/x_large.jpg,460256_476,https://storage.googleapis.com/urbankiddo/babyshop/460256_476

In [98]:
df3=df2
df3['brand']=df3['brand'].str.strip()
df3.head(2)

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url,new_size
0,Bordeaux Red Pique Polo,Lacoste,boy,overdelar/s/629,3 years,800,https://www.babyshop.se/bordeaux-red-pique-polo/p/303662,https://www.babyshop.com/images/638844/x_large.jpg,460256_476,https://storage.googleapis.com/urbankiddo/babyshop/460256_476,3Y
1,Bordeaux Red Pique Polo,Lacoste,boy,overdelar/s/629,4 years,800,https://www.babyshop.se/bordeaux-red-pique-polo/p/303662,https://www.babyshop.com/images/638844/x_large.jpg,460256_476,https://storage.googleapis.com/urbankiddo/babyshop/460256_476,4Y

In [56]:
df3['size'].unique()

array(['3 years', '4 years', '5 years', '6 years', '8 years', '10 years',
       '12 years', '14 years', '16 years', '2 years', '6 months',
       '9 months', '12 months', '18 months', '24 months',
       '92 (18-24 months)', '7 years', '12+ years', '3 år', '4 år',
       '5 år', '6 år', '8 år', '10 år', '12 år', '3-4 years (104 cm)',
       '4-5 years (110 cm)', '5-6 years (116 cm)', '6-7 years (122 cm)',
       '7-8 years (128 cm)', '8-9 years (134 cm)', '9-10 years (140 cm)',
       '10-11 years (146 cm)', '11-12 years (152 cm)',
       '12-13 years (158 cm)', '13-14 years (164 cm)', '1 year',
       '3-4 years', '4-5 years', '5-6 years', '6-7 years', '7-8 years',
       '8-9 years', '10-11 years', '12-13 years', '14-15 years',
       'S (8 years)', '15-16 years', '8-10 years', '10-12 years',
       '13-15 years', '12 mån', '18 mån', '24 mån', '3-6 months', '2 år',
       '122-128cm (7-8 years)', '92cm (2 years)', '3 mån', '6 mån',
       'S (10 years)', 'M (12 years)', 'L (14 years)', '3 months',
       '36 months', '6-9 months', '9-12 months', '24-30 months',
       '11-12 years', '13-14 years', '9-10 years', '0-6 months',
       '6-12 months', '12-18 months', 'S (10 år)', 'XS (4-5 år)',
       'S (6-7 år)', 'XL (11-12 år)', 'M (8-9 år)', 'L (10-11 år)',
       'XXL (14 år)', '12m/80cm', '18m/86cm', '4y/104cm', '5y/110cm',
       '12-18 mån', '18-24 mån', '36 mån', '74 cm (6-9 mån)',
       '80 cm (9-12 mån)', '86 cm (1-1,5 år)', '92 cm (1,5-2 år)',
       '98 cm (2-3 år)', '110 cm (4-5 år)', '116 cm (5-6 år)',
       '122 cm (6-7 år)', '18-24 months', '0-3 months', '6-12 mån',
       'M (8 år)', 'L (9-10 år)', '6-8 years', '14-16 years', '2-3 years',
       '68 cm (4-6 mån)', '13 years', '104 cm (3-4 år)',
       '128 cm (7-8 år)', '134 cm (8-9 år)', '140 cm (9-10 år)',
       '146 cm (10-11 år)', '152 cm (11-12 år)', 'XXS (2-3 years)',
       'S (6-7 years)', 'M (8-9 years)', 'L (10-11 years)',
       'XL (12-13 years)', 'XXL (14-15 years)', 'XS (4-5 years)',
       '31-34 (8-10 years)', '35-38 (11-14 years)', '23-26 (3-4 years)',
       '27-30 (4-7 years)', '62 cm (2-4 mån)', '2-4 (EU 22-27)',
       '4-7 (EU 28-30)', '8-9.5 (EU 31-34)', '1-2 years',
       '100 cm (3-4 år)', '120 cm (6-7 år)', '7 år', '14 år',
       '25 (UK 7.5)', '27 (UK 9)', '28 (UK 10)', '32 (UK 13)',
       '33 (UK 1)', '35 (UK 2.5)', '36 (UK 3.5)', '31 (UK 12.5)',
       '34 (UK 2)', '26 (UK 8.5)', '29 (UK 11)', '30 (UK 12)',
       '22.5 (UK 6)', '23 (UK 6.5)', '24 (UK 7)', '25.5 (UK 8)',
       '27.5 (UK 9.5)', '28.5 (UK 10.5)', '29.5 (UK 11.5)',
       '32.5 (UK 13.5)', '33.5 (UK 1.5)', '22 (UK 5)', '23 (UK 5.5)',
       '37 (UK 4.5)', '38 (UK 5)', '39 (UK 6)', '40 (UK 7)', '31 (UK 12)',
       '37 (UK 4)', '30 (UK 11.5)', '34 (UK 1.5)', '36 (UK 3)',
       '21 (UK 4.5)', '22 (UK 5.5)', '23 (UK 6)', '25 (UK 8)',
       '27 (UK 10)', '28 (UK 11)', '31 (UK 13)', '32 (UK 1)', '33 (UK 2)',
       '34 (UK 2.5)', '31 (12.5UK)', '32 (UK 13.5)', '37 1/3 (UK 4.5)',
       '38 2/3 (UK 5.5)', '37 (UK 5)', '38 (UK 5.5)', '34.5 (UK 3)',
       '29 (UK 11.5)', '36 (UK 4)', '35 (UK 2)', '27.5 (UK 10)',
       '28.5 (UK 11)', '31.5 (UK 13)', '35.5 (UK 3)', '36.5 (UK 4)',
       '39.5 (UK 6.5)', '41 (UK 8)', '25 EU', '26 EU', '27 EU', '28 EU',
       '29 EU', '30 EU', '31 EU', '32 EU', '20 (UK 4)', '28 (UK 10.5)',
       '36 2/3 (UK 4)', '20 EU', '21 EU', '22 EU', '23 EU', '24 EU',
       '33 EU', '34 EU', '35 EU', '18 EU', '19 EU', '37 13 (UK4 12)',
       '21 (UK 5)', '38 EU', '29/30 (UK 12)', '33/34 (UK 1/2)',
       '37.5 (UK 4.5)', '17-18 (0-6 months)', '19-20 (6-12 months)',
       '21-22 (12-18 months)', '23-24 (1-24 months)', '21 (UK 4)',
       '30 (11.5)', '19.5 (UK 3.5)', '21.5 (UK 5)', '35 (UK 3.5)',
       '34.5 (UK 2)', '30.5 (UK 12)', '39 (UK 5.5)', '27 (UK 9.5)',
       '27.5 (UK 10.5)', '31.5 (UK 13.5)', '32.5 (UK 1.5)',
       '36.5 (UK 4.5)', '37 EU', '40 (UK 6.5)', '41 (UK 7)', '26 (UK 9)',
       '29/30 (UK 10/11)', '41/42 (UK 6/7)', '25/26 (UK 7)',
       '31/32 (UK 12)', '23 (US 6,5)', '28 (US 10,5)', '29 (US 11,5)',
       '31 (US 13)', '32 (US 13,5)', '46 (9 months)', '48 (12 months)',
       '50 (18-2 years)', '52 (3 years)', '44 (6 months)', '2-4 years',
       '5-8 years', '10-14 years', '4-6 years', '7-10 years',
       'One Size (5-6 years)', 'One Size (2-4 years)', '52 (4-6 years)',
       '54 (7-10 years)', '12 years\r', 'S (7 years)',
       'Newborn (3-18 mån)', 'Small (3-6 år)', 'Medium (6-8 år)',
       'Petite (1-3 år)', '80/86 cm', '92/98 cm', '104/110 cm',
       '116/122 cm', '128/134 cm', '140/146 cm', '4-5 år', '8-9 år',
       '2-3 år', '3-4 år', '6-7 år', '10-11 år', '2y/92cm', '6y/116cm',
       '14 years\r', '1 mån', '24-36 mån', '5-6 år', '6-8 år', '8-10 år',
       '7-8 år', '9-10 år', '11-12 år', '12-13 år', 'Large (8-10 år)',
       '6m/68cm', '9m/74cm', 'M (7-8 år)', 'L (8-9 år)', 'XL (10-11 år)',
       'EL (11-12 år)', '9 mån', '8y/128cm', '2-4 år', '9-18 Month',
       '4 Years', '8 Years', 'S (4-5 years)', 'M (6-7 years)',
       'L (8-9 years)', 'XL (10-12+ years)', '90 cm (1,5-2 år)',
       '130 cm (7-8 år)', 'J3 (EU 34/35)', 'C6 (EU 22/23)',
       'C7 (EU 23/24)', 'C8 (EU 24/25)', 'C9 (EU 25/26)',
       'C10 (EU 27/28)', 'C11 (EU 28/29)', 'C12 (EU 29/30)',
       'C13 (EU 30/31)', 'J1 (EU 32/33)', 'J2 (EU 33/34)',
       'C10 (EU 27-28)', 'C11 (EU 28-29)', 'C12 (EU 29-30)',
       'C13 (EU 30-31)', 'C6 (EU 22-23)', 'C7 (EU 23-24)',
       'C8 (EU 24-25)', 'C9 (EU 25-26)', 'J1 (EU 32-33)', 'J2 (EU 33-34)',
       'J3 (EU 34-35)', '2-3 år/92-98 cm', '4 år/104-110 cm',
       '6-7 år/116-122 cm', '8-9 år/128-134 cm', '10 år/ 140 cm',
       '25-26 (2-3 år)', '27-28 (4-5 år)', '29-30 (5-6 år)',
       '31-32 (6-7 Years)', '33-34 (7-8 Years)', '21-22 (12-18 år)',
       '23-24 (1-2 år)', '1-2 år', '4-6 år', '6-9 år', '9-11 Years',
       '23-26 (UK 5-8.5)', '27-30 (UK 9-11.5)', '31-34 (UK 12.5-1.5)',
       '35-38 (UK 2.5-5)', '19-22 (9-12 mån)', '31-34 (6-8 år)',
       '12-14 years', '38.5 (UK 5.5)', '27.5 (UK 9.5)\r', '35 (UK 3)',
       '40 (UK 6)', '33 (UK 1.5)', '23.5 (UK 6.5)', '19 (UK 3.5)',
       '27/28 (UK 10/11)', '20/21 (UK 4)', '22/23 (UK 5-6)', '36 EU',
       '39 EU', '40 EU', '29 (UK 10.5)', '25-26 (2-3 years)', '19 (UK 3)',
       '28 (UK10)', 'C4 (EU 19-20)', 'C5 (EU 20-21)', '22', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '3-6 mån', '9-12 mån', '3-6 år', 'T1 (4-8 years)',
       'T2 (10-12 years)', '0-6 mån', '12-24 mån', '5-7 år',
       '53cm (4 years+)', '55cm (8 years +)', '45 cm', '47 cm', '49 cm',
       '36/38 cm', '48/50 cm', '52/54 cm', '98 (3 years)', '74/80 cm',
       '122/128 cm', '134/140 cm', '12 Months', '18 Months', '50/56 cm',
       '62/68 cm', '110/116 cm', '0-3 mån', '50/56', '62/68',
       '74/80 (7 - 12 mån)', '86/92 (1 - 2 år)', '98/104', '110/116',
       '122/128', '134/140', '146/152 (8 - 9 år)', '92 cm', '98 cm',
       '104 cm', '110 cm', '116 cm', '122 cm', '128 cm', '22-23 EU',
       '24-25 EU', '26-27 EU', '28-29 EU', '30-31 EU', '32-33 EU',
       '34-35 EU', '36-37 EU', '26/27 (UK 9)', '80 cm', '90 cm', '100 cm',
       '120 cm', '130 cm', 'C6 (22-23)', 'C7 (23-24)', 'C8 (24-25)',
       'C9 (25-26)', 'C10 (27-28)', 'C11 (28-29)', 'C12 (29-30)',
       'C13 (30-31)', '56/62 cm', '68/74 cm', '0 (19/21)', '2 (22/24)',
       '8 (33/36)', '10 (37/39)', '6 (29/32)', '4 (25/28)',
       '70 (6-12 mån)', '90 (2-3 år)', '100 (3-4 år)', '110 (4-6 år)',
       '120 (6-8 år)', '130 (8-10 år)', '140 (10-12 år)',
       '150 cm (12-14 y)', '160 cm (14-16 y)', '60 (0-6 mån)',
       '80 (1-2 år)', '38 cm (prematur)', '44 cm (prematur)', '0-12 mån',
       '6-9 years', '9-11 years', '26 (UK 8)', '32 (UK 2)', '33 (UK 2.5)',
       '34 (UK 3)', '22 (US 5,5)', '24 (US 7,5)', '25 (US 8)',
       '26 (US 9)', '27 (US 10)', '30 (US 12)', '33 (US 1,5)',
       '34 (US 2)', '35 (US 3)', '36 (US 4)', '38 (US 5,5)',
       '18/19 (UK 2-3)', '37 (US 4,5)', 'C4 (EU 19/20)', 'C5 (EU 20/21)',
       '17-18 (6-9 mån)', '19-20 (9-12 mån)', '21 (UK 4,5)', '26 (UK8,5)',
       '30 (UK 11,5)', '34 (UK 1,5)', '35 (UK 2,5)', '38 (US 5)',
       '39 (US 5.5)', 'S (52 cm)', 'XS (50cm) 2-3 years', 'M (54 cm)',
       'L (56 cm)', '52 cm', '54 cm', '56 cm', '46/48 cm', '50/52 cm',
       '54/56 cm', '44/46 cm', '0-3 mån (38-42 cm)', '3-9 mån (42-46 cm)',
       'S 1-2 år (46-48 cm)', 'M 3 år+ (48-52 cm)', 'L 4-8 år (52-56 cm)',
       'XS', 'S', 'L', 'XL', 'M', '37GR', '7GR'], dtype=object)

In [99]:
sz_list=df3['size'].tolist()

new_sz=[]
for s in sz_list:
    
    if s.find("(")!=-1:
        s=s.split("(")[0]
#     s=s.replace(" ","")
    
    if s.find("years")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('years','Y')
    
    
    if s.find("Years")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('Years','Y')

    if s.find("months")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('months','M')

        
    if s.find("år")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('år','Y')

    if s.find("mån")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('mån','M')
    
    if s.find("Months")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('Months','M')
    
    
    if s.find("Month")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('Month','M')
    
    
    if s.find("year")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('year','Y')
    
    
    

    if s.find("m")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.replace('m','M')
    
    s=s.replace("cm","")
    s=s.replace("cM","")

    s=s.replace("\r","")
    s=s.replace("EU","")

    s=s.replace("+Y","Y")
    s=s.replace("y","Y")
    
    s=s.split(".")[0]
    s=s.split("/")[0]
    if s.find("-")!=-1:
        s=s.split("-")[1]
    
    s=s.replace(" Y","Y")
    s=s.replace(" M","M")
    s=s.replace("+","")
    
    if s.find(" ")!=-1:
        s=s.split(" ")[0]
    
    new_sz.append(s)
set(new_sz) #unique values

{'0',
 '10',
 '100',
 '104',
 '10Y',
 '110',
 '116',
 '11Y',
 '120',
 '122',
 '128',
 '12M',
 '12Y',
 '130',
 '134',
 '13Y',
 '140',
 '146',
 '14Y',
 '150',
 '152',
 '15Y',
 '160',
 '16Y',
 '18',
 '18M',
 '19',
 '1M',
 '1Y',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '24M',
 '25',
 '26',
 '27',
 '28',
 '29',
 '2Y',
 '30',
 '30M',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '36M',
 '37',
 '37GR',
 '38',
 '39',
 '3M',
 '3Y',
 '4',
 '40',
 '41',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '4Y',
 '50',
 '52',
 '53',
 '54',
 '55',
 '56',
 '5Y',
 '6',
 '60',
 '62',
 '68',
 '6M',
 '6Y',
 '7',
 '70',
 '74',
 '7GR',
 '7Y',
 '8',
 '80',
 '86',
 '8Y',
 '9',
 '90',
 '92',
 '98',
 '9M',
 '9Y',
 'C10',
 'C11',
 'C12',
 'C13',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'EL',
 'J1',
 'J2',
 'J3',
 'L',
 'Large',
 'M',
 'MediuM',
 'Newborn',
 'One',
 'Petite',
 'S',
 'SMall',
 'T1',
 'T2',
 'XL',
 'XS',
 'XXL',
 'XXS'}

In [100]:
new_siz=[]
for s in new_sz:
    if s=='One':
        s=1
        
    if s=='SMall':
        s='S'
    if s=='MediuM':
        s='M'
    if s=='Large':
        s='L'
    if s in ['T1','T2','Petite','Newborn','C10', 'C11', 'C12', 'C13', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'EL', 'J1', 'J2', 'J3','7GR'
            ,'37GR']:
        new_siz.append('Nan')
    else:
        new_siz.append(s)
set(new_siz)

{'0',
 1,
 '10',
 '100',
 '104',
 '10Y',
 '110',
 '116',
 '11Y',
 '120',
 '122',
 '128',
 '12M',
 '12Y',
 '130',
 '134',
 '13Y',
 '140',
 '146',
 '14Y',
 '150',
 '152',
 '15Y',
 '160',
 '16Y',
 '18',
 '18M',
 '19',
 '1M',
 '1Y',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '24M',
 '25',
 '26',
 '27',
 '28',
 '29',
 '2Y',
 '30',
 '30M',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '36M',
 '37',
 '38',
 '39',
 '3M',
 '3Y',
 '4',
 '40',
 '41',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '4Y',
 '50',
 '52',
 '53',
 '54',
 '55',
 '56',
 '5Y',
 '6',
 '60',
 '62',
 '68',
 '6M',
 '6Y',
 '7',
 '70',
 '74',
 '7Y',
 '8',
 '80',
 '86',
 '8Y',
 '9',
 '90',
 '92',
 '98',
 '9M',
 '9Y',
 'L',
 'M',
 'Nan',
 'S',
 'XL',
 'XS',
 'XXL',
 'XXS'}

In [101]:
df3['new_size']=new_siz

In [102]:
df3=df3[df3['new_size']!='Nan']

In [103]:
df3['new_size'].unique()

array(['3Y', '4Y', '5Y', '6Y', '8Y', '10Y', '12Y', '14Y', '16Y', '2Y',
       '6M', '9M', '12M', '18M', '24M', '92', '7Y', '9Y', '11Y', '13Y',
       '1Y', '15Y', 'S', '128', '3M', 'M', 'L', '36M', '30M', 'XS', 'XL',
       'XXL', '74', '80', '86', '98', '110', '116', '122', '68', '104',
       '134', '140', '146', '152', 'XXS', '34', '38', '26', '30', '62',
       '4', '7', '9', '100', '120', '25', '27', '28', '32', '33', '35',
       '36', '31', '29', '22', '23', '24', '37', '39', '40', '21', '41',
       '20', '18', '19', '46', '48', '50', '52', '44', 1, '54', '1M',
       '90', '130', '53', '55', '45', '47', '49', '56', '0', '2', '8',
       '10', '6', '70', '150', '160', '60'], dtype=object)

In [104]:
colunms=['article_no','gender','category','price','new_size','brand']
df4=df3[colunms]
df4.head(2)

   article_no gender         category  price new_size    brand
0  460256_476  boy    overdelar/s/629  800    3Y       Lacoste
1  460256_476  boy    overdelar/s/629  800    4Y       Lacoste

In [105]:
dfr=df4
dfr.to_csv('babyshop_cleaned.csv',index=False) #for rows not showing

In [88]:
df4[df4['new_size']=='37GR']
# df2[df2['article_no']=='548609_legendmar']

      article_no gender             category  price new_size   brand
85665  N-597-1    girl   babyprodukter/s/621  149    37GR     Medela