In [1]:
import pandas as pd
result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/bonprix.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name           6143
brand          6143
gender         6143
category       6143
size           6143
price          6143
color          6134
composition    6143
url            6143
img_url        6143
article_no     6143
blob_url          0
dtype: int64

,name,brand,gender,category,size,price,color,composition,url,img_url,article_no,blob_url
0,Glänsande offshoulder-klänning,bpc bonprix collection,girl,Dresses,\nStorlek128/134\n\t,79kr,roséguld,"Yttermaterial: 95% polyester, 5% elastan, Fode...",https://www.bonprix.se/produkt/glaensande-offs...,https://image01.bonprix.se/assets/460x644/1545...,90352981,NaN
1,Glänsande offshoulder-klänning,bpc bonprix collection,girl,Dresses,\nStorlek140/146\n\t,79kr,roséguld,"Yttermaterial: 95% polyester, 5% elastan, Fode...",https://www.bonprix.se/produkt/glaensande-offs...,https://image01.bonprix.se/assets/460x644/1545...,90352981,NaN
2,Glänsande offshoulder-klänning,bpc bonprix collection,girl,Dresses,\nStorlek152/158\n\t,79kr,roséguld,"Yttermaterial: 95% polyester, 5% elastan, Fode...",https://www.bonprix.se/produkt/glaensande-offs...,https://image01.bonprix.se/assets/460x644/1545...,90352981,NaN

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name           6143
brand          6143
gender         6143
category       6143
size           6143
price          6143
color          6134
composition    6143
url            6143
img_url        6143
article_no     6143
blob_url          0
dtype: int64

In [3]:
df['price'].unique()

array(['79kr', '59kr', '139kr', '129kr', '199kr', '149kr', '89kr',
       '159kr', '169kr', '279kr', '249kr', '99kr', '69kr', '219kr',
       '229kr', '299kr', '119kr', '49kr', '269kr', '419kr', '399kr',
       '499kr', '699kr', '549kr', '349kr', '449kr', '329kr', '189kr',
       '389kr', '289kr', '179kr', '479kr', '259kr'], dtype=object)

In [4]:
df2=df
df2['price']=df2['price'].str.strip('kr')
df2['price'].unique()

array(['79', '59', '139', '129', '199', '149', '89', '159', '169', '279',
       '249', '99', '69', '219', '229', '299', '119', '49', '269', '419',
       '399', '499', '699', '549', '349', '449', '329', '189', '389',
       '289', '179', '479', '259'], dtype=object)

In [5]:
df3=df2
df3['size']=df3['size'].str.strip()
df3['size']=df3['size'].str.replace('Storlek','')


df3['size'].unique()

array(['128/134', '140/146', '152/158', '164/170', '116/122', '176/182',
       '128', '134', '140', '146', '152', '158', '164', '170', '176',
       '104/110', '116', '122', '92/98', '182', '35-38', '39-42', '43-46',
       '47/48', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '35', '34', '46', '32', '33', '24', '25', '26', '27', '28',
       '29', '30', '31'], dtype=object)

In [10]:
sz_list=df3['size'].tolist()

new_siz=[]

for s in sz_list:
    
    if s.find("/")!=-1:
        s=s.split("/")[1]

    if s.find("-")!=-1:
        s=s.split("-")[1]
        
    new_siz.append(s)
set(new_siz)

{'110',
 '116',
 '122',
 '128',
 '134',
 '140',
 '146',
 '152',
 '158',
 '164',
 '170',
 '176',
 '182',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '48',
 '98'}

In [11]:
df3['new_size']=new_siz

In [12]:
colunms=['article_no','gender','category','price','new_size','brand']
df4=df3[colunms]
df4.head(2)

   article_no gender category price new_size                   brand
0    90352981   girl  Dresses    79      134  bpc bonprix collection
1    90352981   girl  Dresses    79      146  bpc bonprix collection

In [13]:
dfr=df4
dfr.to_csv('bonprix_cleaned.csv',index=False) #for rows not showing