In [1]:
import pandas as pd
result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/afound.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          11459
brand         11459
gender        11459
category      11459
size          11459
price         11459
url           11459
img_url       11459
article_no    11459
dtype: int64

,name,brand,gender,category,size,price,url,img_url,article_no
0,Stig Mini Multi Blue/sage/grey,Sandqvist,unisex,accessoarer,ONE SIZE,895 SEK,https://www.afound.com/sv-se/produkter/stig-mi...,https://www.afound.com/globalassets/1/kids/acc...,1831483
1,Stig Mini Plum,Sandqvist,unisex,accessoarer,ONE SIZE,895 SEK,https://www.afound.com/sv-se/produkter/stig-mi...,https://www.afound.com/globalassets/1/kids/acc...,1831495
2,Stig Mini Multi Sage/forest Green/grey,Sandqvist,unisex,accessoarer,ONE SIZE,895 SEK,https://www.afound.com/sv-se/produkter/stig-mi...,https://www.afound.com/globalassets/1/kids/acc...,1831507

In [12]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          9730
brand         9730
gender        9730
category      9730
size          9730
price         9730
url           9730
img_url       9730
article_no    9730
dtype: int64

In [96]:
df['category'].unique()

array(['accessoarer', 'bodies', 'tops', 'klanningar', 'kjolar',
       'jackor-kapor', 'funktionklader', 'kladset', 'skor', 'shorts',
       'byxor', 'accesories', 'klanningnar-kjolar', 'jackor',
       'traningsklader', 'toppar', 'klanningar-kjolar', 'funktionsklader',
       'trainingsklader', 'byxor-leggings', 'toppar-trojar'], dtype=object)

In [13]:
df['price'].unique()

array(['895 SEK', '149 SEK', '99 SEK', '199 SEK', '179 SEK', '229 SEK',
       '249 SEK', '399 SEK', '299 SEK', '190 SEK', '549 SEK', '499 SEK',
       '449 SEK', '349 SEK', '290 SEK', '375 SEK', '189 SEK', '159 SEK',
       '429 SEK', '300 SEK', '250 SEK', '450 SEK', '289 SEK', '279 SEK',
       '529 SEK', '329 SEK', '129 SEK', '260 SEK', '500 SEK', '550 SEK',
       '475 SEK', '439 SEK', '629 SEK', '999 SEK', '1\xa0114 SEK',
       '762 SEK', '849 SEK', '350 SEK', '1\xa0299 SEK', '699 SEK',
       '700 SEK', '599 SEK', '200 SEK', '400 SEK', '1\xa0199 SEK',
       '749 SEK', '650 SEK', '850 SEK', '795 SEK', '379 SEK', '139 SEK',
       '79,90 SEK', '230 SEK', '649 SEK', '330 SEK', '799 SEK',
       '1\xa0599 SEK', '1\xa0000 SEK', '1\xa0100 SEK', '1\xa0300 SEK',
       '692 SEK', '1\xa0447 SEK', '1\xa0364 SEK', '697 SEK', '832 SEK',
       '1\xa0078 SEK', '1\xa0600 SEK', '1\xa0353 SEK', '1\xa0711 SEK',
       '1\xa0799 SEK', '600 SEK', '800 SEK', '863 SEK', '744 SEK',
       '476 SEK', '490 SEK', '80 SEK', '120 SEK', '49,90 SEK',
       '1\xa0399 SEK', '780 SEK', '955 SEK', '815 SEK', '1\xa0450 SEK',
       '1\xa0499 SEK', '621 SEK', '569 SEK', '916 SEK', '280 SEK',
       '359 SEK', '1\xa0095 SEK', '1\xa0341 SEK', '680 SEK',
       '1\xa0424 SEK', '686 SEK', '819 SEK', '1\xa0061 SEK',
       '1\xa0337 SEK', '1\xa0683 SEK', '1\xa0769 SEK', '853 SEK',
       '732 SEK', '468 SEK', '767 SEK', '940 SEK', '801 SEK',
       '1\xa0426 SEK', '611 SEK', '559 SEK', '905 SEK'], dtype=object)

In [37]:
v1=u'1\xa0114 SEK'.strip(' SEK')
v1

'1\xa0114'

In [46]:
v1.replace("\xa0", "")

'1114'

In [30]:
v1.strip()

'1\xa0114'

In [48]:
pd.set_option('display.max_colwidth', -1) #full colunm dispaly
df[df['price']=='1\xa0061']

,name,brand,gender,category,size,price,url,img_url,article_no
9308,Regatta Great Outdoors Childrens/kids Aptitude Ii Waterproof Jacket,Regatta,boy,jackor,7-8Y FÅ KVAR!,1 061,https://www.afound.com/sv-se/produkter/regatta-great-outdoors-childrenskids-aptitude-ii-waterproof-jacket_ync4cur7,https://www.afound.com/globalassets/1/kids/jackets--coats/501818_061d71981ef174956553881d9f2cd054.jpg?preset=w100h100,1950622
9309,Regatta Great Outdoors Childrens/kids Aptitude Ii Waterproof Jacket,Regatta,boy,jackor,9-10Y FÅ KVAR!,1 061,https://www.afound.com/sv-se/produkter/regatta-great-outdoors-childrenskids-aptitude-ii-waterproof-jacket_ync4cur7,https://www.afound.com/globalassets/1/kids/jackets--coats/501818_061d71981ef174956553881d9f2cd054.jpg?preset=w100h100,1950622

In [50]:
pd.options.display.float_format = '{:,.0f}'.format
df2=df
df2.price=df2.price.str.strip(' SEK')

df2.price=df2.price.str.replace("\xa0", "")
df2.price=df2.price.str.replace(",",".")

df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)

df2.head(2)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,name,brand,gender,category,size,price,url,img_url,article_no
0,Stig Mini Multi Blue/sage/grey,Sandqvist,unisex,accessoarer,ONE SIZE,895,https://www.afound.com/sv-se/produkter/stig-mini-multi-bluesagegrey_h9744upl,https://www.afound.com/globalassets/1/kids/accessories/bags/505226_a08cdadf056c57d555a56be2f8df7c9c.jpg?preset=w100h100,1831483
1,Stig Mini Plum,Sandqvist,unisex,accessoarer,ONE SIZE,895,https://www.afound.com/sv-se/produkter/stig-mini-plum_vz63v0ri,https://www.afound.com/globalassets/1/kids/accessories/bags/505223_e27accca8d23ed93b4070c3a05b5d42b.jpg?preset=w100h100,1831495

In [52]:
df2['size'].unique()

array(['ONE SIZE', '54 FÅ KVAR!', '56', '0Y', '2Y', '4Y', '6Y', '52',
       '54', '0-1M', '0-2M FÅ KVAR!', '2-6M FÅ KVAR!', '6-12M FÅ KVAR!',
       '1-2Y FÅ KVAR!', '52/54 FÅ KVAR!', 'XXS FÅ KVAR!', '2-6M',
       '3-4Y FÅ KVAR!', '5-6Y FÅ KVAR!', 'S FÅ KVAR!', '0-6M FÅ KVAR!',
       'S', 'M FÅ KVAR!', '2-4Y FÅ KVAR!', '6Y FÅ KVAR!', '6-12M',
       '48/50 FÅ KVAR!', 'ONE SIZE FÅ KVAR!', '1-2Y', '3-4Y', '5-6Y',
       '62 FÅ KVAR!', '68', '74 FÅ KVAR!', '80', '86 FÅ KVAR!',
       '92 FÅ KVAR!', '1M FÅ KVAR!', '3M FÅ KVAR!', '6M FÅ KVAR!',
       '9M FÅ KVAR!', '56 FÅ KVAR!', '74', '68 FÅ KVAR!', '80 FÅ KVAR!',
       '92', '70', '90', '50', '62', '86', '104', '104 FÅ KVAR!',
       '50/56 FÅ KVAR!', '62/68 FÅ KVAR!', '62/68', '98 FÅ KVAR!',
       '110 FÅ KVAR!', '116 FÅ KVAR!', '12M FÅ KVAR!', '18M FÅ KVAR!',
       '6M', '24M FÅ KVAR!', '1M', '9M', '12M', '2Y FÅ KVAR!',
       '90 FÅ KVAR!', '110', '120 FÅ KVAR!', '130', '140', '150', '160',
       '80/86 FÅ KVAR!', '3-6M FÅ KVAR!', '6-9M FÅ KVAR!',
       '110/116 FÅ KVAR!', '134/140 FÅ KVAR!', '158/164 FÅ KVAR!',
       '170 FÅ KVAR!', '116', '104/110 FÅ KVAR!', '116/122 FÅ KVAR!',
       '122 FÅ KVAR!', '140 FÅ KVAR!', '152', '164', '120',
       '86/92 FÅ KVAR!', '122/128 FÅ KVAR!', '146/152 FÅ KVAR!',
       '170/176 FÅ KVAR!', '128/134 FÅ KVAR!', '128 FÅ KVAR!',
       '134 FÅ KVAR!', '122/128', '134/140', '128', '98', '130 FÅ KVAR!',
       '3M', '100', '122', '134', '152 FÅ KVAR!', '160 FÅ KVAR!',
       '100 FÅ KVAR!', '18-24M FÅ KVAR!', '146', '158', '170', '3-5Y',
       '7-8Y', '9-10Y', '11-12Y', '13-14Y', 'EU 21 FÅ KVAR!',
       'EU 22 FÅ KVAR!', 'EU 23 FÅ KVAR!', 'EU 28 FÅ KVAR!', 'EU 19',
       'EU 20', 'EU 21', 'EU 22', 'EU 23', 'EU 24', 'EU 25', 'EU 26',
       'EU 27', 'EU 28', 'EU 29', 'EU 30', 'EU 24 FÅ KVAR!',
       'EU 25 FÅ KVAR!', 'EU 27 FÅ KVAR!', 'EU 31', 'EU 33', 'EU 36',
       'EU 37', 'EU 20 FÅ KVAR!', 'EU 34 FÅ KVAR!', 'EU 35 FÅ KVAR!',
       'EU 18', 'EU 26 FÅ KVAR!', 'EU 29 FÅ KVAR!', 'EU 30 FÅ KVAR!',
       'EU 31 FÅ KVAR!', 'EU 33 FÅ KVAR!', 'EU 19 FÅ KVAR!', 'EU 25.5',
       'EU 26/27', 'EU 32', 'EU 34', 'EU 18.5 FÅ KVAR!', 'EU 18/19',
       'EU 21.5', 'EU 23.5', 'EU 17', 'EU 18.5', 'EU 22/23',
       'EU 17 FÅ KVAR!', 'EU 35', '50 FÅ KVAR!', '98/104', '110/116',
       'EU 3', 'EU 4', 'EU 5', '4-6Y FÅ KVAR!', '6-8Y FÅ KVAR!',
       '8-10Y FÅ KVAR!', 'EU 5 FÅ KVAR!', 'M', 'XS', '0M',
       '98/104 FÅ KVAR!', '3Y FÅ KVAR!', '4Y FÅ KVAR!', '5Y FÅ KVAR!',
       '8Y FÅ KVAR!', '164 FÅ KVAR!', '10Y FÅ KVAR!', '158 FÅ KVAR!',
       '12Y FÅ KVAR!', '12Y', '5-7Y', '7-8Y FÅ KVAR!', '146 FÅ KVAR!',
       '11-12Y FÅ KVAR!', '9-10Y FÅ KVAR!', 'L FÅ KVAR!', '146/152',
       '158/164', '170/176', 'EU 32 FÅ KVAR!', 'EU 28.5', 'EU 33.5',
       'EU 38', 'EU 30.5', 'EU 38 FÅ KVAR!', 'EU 39 FÅ KVAR!', 'EU 27.5',
       'EU 31.5', '10-11Y FÅ KVAR!', '12-13Y FÅ KVAR!', '150 FÅ KVAR!',
       '10Y', '14Y FÅ KVAR!', '4-5Y', '16Y FÅ KVAR!', '12-13Y',
       '8-9Y FÅ KVAR!', '10-11Y', '14-15Y', '8-9Y', '152/158 FÅ KVAR!',
       'EU 35.5', 'EU 36 2/3', 'EU 37 1/3', 'EU 38 2/3', 'EU 39 1/3',
       'EU 40', 'EU 34.5', 'EU 36.5', 'EU 31.5 FÅ KVAR!', 'EU 32.5',
       'EU 39', 'EU 37.5 FÅ KVAR!', 'EU 38.5', 'EU 36 FÅ KVAR!',
       'EU 37.5', 'EU 38.5 FÅ KVAR!', 'EU 37 FÅ KVAR!',
       'EU 36.5 FÅ KVAR!', 'EU 36 2/3 FÅ KVAR!', 'EU 39 1/3 FÅ KVAR!',
       '176', '176 FÅ KVAR!', '10-12Y FÅ KVAR!', '13-15Y',
       '4-5Y FÅ KVAR!', '6-7Y FÅ KVAR!', '6-7Y', '14Y', '16Y'],
      dtype=object)

In [60]:
sz_list=df2['size'].tolist()

In [87]:
new_sz=[]
for s in sz_list:
    
    s=s.strip(' FÅ KVAR!')
    s=s.strip('EU ')
    if s.find("/")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.split(" ")[0]

    if s.find("/")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.split("/")[0]
    
    if s.find('Y')!=-1:
        new_sz.append('NaN')
        continue
    
    
    if s.find('M')!=-1:
        new_sz.append('NaN')
        continue
    if s.find('.')!=-1:
        s=s.split('.')[0]
    new_sz.append(s)
set(new_sz) #unique values

{'100',
 '104',
 '110',
 '116',
 '120',
 '122',
 '128',
 '130',
 '134',
 '140',
 '146',
 '150',
 '152',
 '158',
 '160',
 '164',
 '17',
 '170',
 '176',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '3',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '4',
 '40',
 '48',
 '5',
 '50',
 '52',
 '54',
 '56',
 '62',
 '68',
 '70',
 '74',
 '80',
 '86',
 '90',
 '92',
 '98',
 'L',
 'NaN',
 'ONE SIZ',
 'S',
 'XS',
 'XXS'}

In [88]:
df2['new_size']=new_sz

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
colunms=['article_no','gender','category','price','new_size','brand']
df3=df2[colunms]
df3.head(2)

   article_no  gender     category  price new_size      brand
0  1831483     unisex  accessoarer  895    ONE SIZ  Sandqvist
1  1831495     unisex  accessoarer  895    ONE SIZ  Sandqvist

In [90]:
df3['new_size'].unique()

array(['ONE SIZ', '54', '56', 'NaN', '52', 'XXS', 'S', '48', '62', '68',
       '74', '80', '86', '92', '70', '90', '50', '104', '98', '110',
       '116', '120', '130', '140', '150', '160', '134', '158', '170',
       '122', '152', '164', '146', '128', '100', '21', '22', '23', '28',
       '19', '20', '24', '25', '26', '27', '29', '30', '31', '33', '36',
       '37', '34', '35', '18', '32', '17', '3', '4', '5', 'XS', 'L', '38',
       '39', '40', '176'], dtype=object)

In [91]:
df3=df3[df3['new_size']!='NaN']
df3=df3[df3['new_size']!='ONE SIZ']

In [92]:
df3['new_size'].unique()

array(['54', '56', '52', 'XXS', 'S', '48', '62', '68', '74', '80', '86',
       '92', '70', '90', '50', '104', '98', '110', '116', '120', '130',
       '140', '150', '160', '134', '158', '170', '122', '152', '164',
       '146', '128', '100', '21', '22', '23', '28', '19', '20', '24',
       '25', '26', '27', '29', '30', '31', '33', '36', '37', '34', '35',
       '18', '32', '17', '3', '4', '5', 'XS', 'L', '38', '39', '40',
       '176'], dtype=object)

In [93]:
df4=df3
df4.head(2)

   article_no  gender     category  price new_size       brand
3  1896392     unisex  accessoarer  149    54       Didriksons
4  1896392     unisex  accessoarer  149    56       Didriksons

In [94]:
df4.dtypes

article_no    int64
gender        object
category      object
price         int64
new_size      object
brand         object
dtype: object

In [95]:
dfr=df4
dfr.to_csv('afound_cleaned.csv',index=False) #for rows not showing

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'col':['one','two',np.nan,np.nan,np.nan,'two','two']})
df.head() #count not showing nan

   col
0  one
1  two
2  NaN
3  NaN
4  NaN

In [11]:
df.drop_duplicates().head() #no Nan vslues drop

   col
0  one
1  two
2  NaN