In [1]:
import pandas as pd
result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/ahlens.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          28848
brand         28848
gender        28848
category      28848
color         28848
size          28848
price         28848
url           28848
img_url       28848
article_no    28848
blob_url      28848
dtype: int64

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url
0,"Omlottbody mönstrad, ljusrosa",Åhléns,unisex,tops and bodies,"Ljusrosa,Ljusgrön,",44,89:-,https://www.ahlens.se/Barn/nyfodd-stl-44-68/ov...,https://www.ahlens.se/INTERSHOP/static/WFS/Ahl...,88836791,https://storage.googleapis.com/urbankiddo/ahle...
1,"Omlottbody mönstrad, ljusrosa",Åhléns,unisex,tops and bodies,"Ljusrosa,Ljusgrön,",50,89:-,https://www.ahlens.se/Barn/nyfodd-stl-44-68/ov...,https://www.ahlens.se/INTERSHOP/static/WFS/Ahl...,88836791,https://storage.googleapis.com/urbankiddo/ahle...
2,"Omlottbody mönstrad, ljusrosa",Åhléns,unisex,tops and bodies,"Ljusrosa,Ljusgrön,",56,89:-,https://www.ahlens.se/Barn/nyfodd-stl-44-68/ov...,https://www.ahlens.se/INTERSHOP/static/WFS/Ahl...,88836791,https://storage.googleapis.com/urbankiddo/ahle...

In [3]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          21798
brand         21798
gender        21798
category      21798
color         21798
size          21798
price         21798
url           21798
img_url       21798
article_no    21798
blob_url      21798
dtype: int64

In [4]:
df['category'].unique()

array(['tops and bodies', 'bottoms', 'overall', 'nightwear', 'accesories',
       'bodies', 'tops', 'trojor-koftor', 'dresses and skirts', 'pants',
       'leggings', 'stockings', 'underwear', 'swimwear', 'sleepwear',
       'outerwear', 'shoes and acessories', 'shirts and blouses',
       'sweaters'], dtype=object)

In [5]:
df['price'].unique()

array(['89:-', '99:-', '179:-', '149:-', '239:-', '299:-', '509:-',
       '129:-', '280:-', '499:-', '379:-', '429:-', '224:50', '174:50',
       '49:50', '149:50', '239:50', '114:50', '189:50', '199:50',
       '139:50', '69:50', '179:95', '249:-', '129:95', '599:-', '399:-',
       '449:-', '229:-', '199:-', '199:95', '259:95', '149:95', '79:-',
       '279:-', '99:95', '329:-', '29:70', '360:-', '159:95', '415:-',
       '349:-', '549:-', '89:50', '44:70', '99:97', '49:97', '229:95',
       '169:-', '279:95', '249:95', '349:95', '899:-', '349:50', '850:-',
       '399:95', '299:50', '750:-', '299:95', '800:-', '375:-', '369:-',
       '379:95', '249:50', '449:50', '700:-', '900:-', '279:99', '399:50',
       '214:50', '382:50', '64:97', '364:50', '419:40', '239:97',
       '274:50', '124:97', '199:97', '159:97', '199:99', '349:30',
       '129:97', '164:50', '139:97', '119:50', '209:40', '139:99',
       '312:50', '229:90', '529:95', '729:-', '799:-', '699:-', '649:-',
       '529:-', '219:95', '459:95', '579:-', '180:-', '89:95', '119:95',
       '315:-', '335:-', '64:50', '167:50', '114:97', '89:97', '299:40',
       '169:95', '399:99', '189:95', '299:99', '329:95', '149:99',
       '134:97', '119:97', '59:70', '625:-', '99:50', '167:40', '209:30',
       '174:97', '194:99', '179:99', '107:97', '419:30', '124:50',
       '74:50', '39:50', '359:99', '259:99', '479:-', '999:-', '374:50',
       '419:-', '104:97', '149:97', '79:97', '99:99', '289:-', '159:99',
       '319:-', '129:99', '519:-', '49:-', '429:95', '164:97', '169:50',
       '425:-', '169:99', '109:99', '269:-', '139:95', '84:97', '74:97',
       '119:40', '77:97', '109:50', '109:97', '54:99', '69:99', '101:40',
       '144:50', '69:97', '449:95', '23:70', '89:70', '53:70', '460:-',
       '79:95', '234:50', '284:50', '259:50', '314:50', '119:-', '59:-',
       '1 149:-', '69:95', '60:-', '500:-', '849:-', '100:-', '227:40',
       '1 099:-', '749:-', '1 499:-', '479:95', '450:-', '139:-',
       '239:40', '649:95', '1 799:-', '839:-', '599:95', '1 095:-',
       '300:-', '650:-', '400:-', '350:-', '230:-', '179:50', '175:-',
       '250:-'], dtype=object)

In [7]:
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

df[df['price']=='599:95']

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url
26192,"Overall, mörkblå",Name It,unisex,pants,"Mörkblå,",104,599:95,https://www.ahlens.se/Barn/barnklader-stl-86-116/ytterklader-regnklader-213342/name-it-overall-morkbla-90723906/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/62AP4TNIZJ_90723906_front.jpg,90723906,https://storage.googleapis.com/urbankiddo/ahlens/90723906
26193,"Overall, mörkblå",Name It,unisex,pants,"Mörkblå,",74,599:95,https://www.ahlens.se/Barn/barnklader-stl-86-116/ytterklader-regnklader-213342/name-it-overall-morkbla-90723906/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/62AP4TNIZJ_90723906_front.jpg,90723906,https://storage.googleapis.com/urbankiddo/ahlens/90723906
26194,"Overall, mörkblå",Name It,unisex,pants,"Mörkblå,",80,599:95,https://www.ahlens.se/Barn/barnklader-stl-86-116/ytterklader-regnklader-213342/name-it-overall-morkbla-90723906/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/62AP4TNIZJ_90723906_front.jpg,90723906,https://storage.googleapis.com/urbankiddo/ahlens/90723906
26195,"Overall, mörkblå",Name It,unisex,pants,"Mörkblå,",86,599:95,https://www.ahlens.se/Barn/barnklader-stl-86-116/ytterklader-regnklader-213342/name-it-overall-morkbla-90723906/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/62AP4TNIZJ_90723906_front.jpg,90723906,https://storage.googleapis.com/urbankiddo/ahlens/90723906
26196,"Overall, mörkblå",Name It,unisex,pants,"Mörkblå,",92,599:95,https://www.ahlens.se/Barn/barnklader-stl-86-116/ytterklader-regnklader-213342/name-it-overall-morkbla-90723906/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/62AP4TNIZJ_90723906_front.jpg,90723906,https://storage.googleapis.com/urbankiddo/ahlens/90723906
26197,"Overall, mörkblå",Name It,unisex,pants,"Mörkblå,",98,599:95,https://www.ahlens.se/Barn/barnklader-stl-86-116/ytterklader-regnklader-213342/name-it-overall-morkbla-90723906/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/62AP4TNIZJ_90723906_front.jpg,90723906,https://storage.googleapis.com/urbankiddo/ahlens/90723906

In [9]:
pd.options.display.float_format = '{:,.0f}'.format
df2=df
df2.price=df2.price.str.strip(':-')

df2.price=df2.price.str.replace("\xa0", "")
df2.price=df2.price.str.replace(":",".")
df2.price=df2.price.str.replace(" ","")



df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)

df2.head(2)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url
0,"Omlottbody mönstrad, ljusrosa",Åhléns,unisex,tops and bodies,"Ljusrosa,Ljusgrön,",44,89,https://www.ahlens.se/Barn/nyfodd-stl-44-68/overdelar-bodies-15093/ahlens-omlottbody-monstrad-ljusrosa-88836791/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/36API81EQ1_88836793_front.jpg,88836791,https://storage.googleapis.com/urbankiddo/ahlens/88836791
1,"Omlottbody mönstrad, ljusrosa",Åhléns,unisex,tops and bodies,"Ljusrosa,Ljusgrön,",50,89,https://www.ahlens.se/Barn/nyfodd-stl-44-68/overdelar-bodies-15093/ahlens-omlottbody-monstrad-ljusrosa-88836791/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/36API81EQ1_88836793_front.jpg,88836791,https://storage.googleapis.com/urbankiddo/ahlens/88836791

In [12]:
df2['price'].unique()

array([  89,   99,  179,  149,  239,  299,  509,  129,  280,  499,  379,
        429,  224,  174,   50,  150,  240,  114,  190,  200,  140,   70,
        180,  249,  130,  599,  399,  449,  229,  199,  260,   79,  279,
        100,  329,   30,  360,  160,  415,  349,  549,   90,   45,  230,
        169,  250,  350,  899,  850,  400,  300,  750,  800,  375,  369,
        380,  450,  700,  900,  214,  382,   65,  364,  419,  274,  125,
        164,  120,  209,  312,  530,  729,  799,  699,  649,  529,  220,
        460,  579,  315,  335,   64,  168,  115,  170,  330,  135,   60,
        625,  167,  175,  195,  108,  124,   74,   40,  479,  999,  374,
        105,   80,  289,  319,  519,   49,  430,  165,  425,  110,  269,
         85,   75,  119,   78,   55,  101,  144,   24,   54,  234,  284,
        314,   59, 1149,  500,  849,  227, 1099,  749, 1499,  480,  139,
        650, 1799,  839,  600, 1095])

In [45]:
df2['size'].unique()

array(['44', '50', '56', '62', '68', '50/56', '62/68', '74/80', '86',
       '52/56', '0 month', '0-3 months', '3-6 months', '6-9 months',
       '9-12 months', '1 year', '2 months', '6 months', '9 months',
       '12-18 months', '6-12 months', '104/110', '116/122', '128/134',
       '140/146', '56/62', '68/74', '80/86', '92/98', '12 months',
       '18 months', '24 months', '3 months', '1 month', '74', '80', '104',
       '110', '92', '98', '18-24 months', '46', '100', '120', '130', '90',
       '2 years', '3 years', '4 years', '5 years', '6 years', '116',
       '122', '10 years', '12 years', '14 years', '8 years', '128', '140',
       '152', '164', '176', '134', '146', '2', '4', '5', '6', '122/128',
       '134/140', '146/152', '158/164', '170/176', '110/116', '86/92',
       '98/104', '10-11 years', '12-13 years', '6-7Y(S)', '6-7YEARS',
       '8-9 years', 'L', 'M', 'S', 'XL', '150', '160', '170',
       '14-15 years', 'XXL', '12', '8', '10', '44/46', '48/50', '52/54',
       '56/58', '20', '21', '22', '23.5', '24', '25', '26', '7 years',
       '3', '158', '3Y', '4Y', '5Y', '2Y', '11 years', '13 years',
       '9 years', '16 years', '152-164', '4-6 years', '8-10 years', '27',
       '28', '29', '31', '32', '33', '35', '36', '15/18', '19/22',
       '23/26', '27/30', '31/34', '19', '23', '30', '37.5', '38', '39',
       '40', '5.5Y', '6.5Y', '7Y', '1.5Y', '11C', '12.5C', '12C', '13C',
       '1Y', '2.5Y', '29.5', '34', '37', '50/52', '54/56', '3.5Y', '6Y',
       '0 year', '100CL', '110CM', '120CM', '130CM', '80CM', '90CM',
       '22/25', '26/29', '30/33', '34/36', '37/39', '52', '54',
       '11-12 years', '5-7 years', '2-5 years', '6-8 years', '9-12 years',
       '0-6 years', 'M/L', 'S/M', 'XS/S', '1', '4.5', '48', '55', '65',
       '75', '0', '13/15', '16/18', '19/21', '7', 'CHLD', 'YTH', '10C',
       '4C', '5C', '6C', '7.5', '7C', '8C', '9', '9C', '1-3 years',
       '42/44', '46/48', '22/24', '25/27', 'L/XL', 'ONE SIZE', '116/128',
       '128/140', '140/152', '10-12 years', '12-14 years', 'XS'],
      dtype=object)

In [46]:
sz_list=df2['size'].tolist()

In [20]:
df2[df2['size']=='14-15 years'].count()

name          33
brand         33
gender        33
category      33
color         33
size          33
price         33
url           33
img_url       33
article_no    33
blob_url      33
dtype: int64

In [92]:
new_sz=[]
for s in sz_list:
    
    s=s.rstrip('CM')
    s=s.rstrip('C')
    s=s.rstrip('CL')
    if s.find("/")!=-1:
#         print('splitting',s.split("/")[0])
        s=s.split("/")[0]

        
    if s.find('.')!=-1:
        s=s.split('.')[0]
    
    if s.find(' years')!=-1:
        s=s.replace(' years','Y')
        
    
    if s.find(' months')!=-1:
        s=s.replace(' months','M')
     
    if s.find(' month')!=-1:
        s=s.replace(' month','M')
     
    if s.find(' year')!=-1:
        s=s.replace(' year','Y')

    if s.find('6-7YEARS')!=-1:
        s=s.replace('YEARS','Y')
    
    if s.find('6-7Y(S)')!=-1:
        s=s.replace('(S)','')
    
    if s.find('XX')!=-1:
        s=s.replace('XX','XXL')
    
    if s.find('ONE SIZE')!=-1:
        s=s.replace('ONE SIZE','1')
    
     
     
        
    new_sz.append(s)
set(new_sz) #unique values

{'',
 '0',
 '0-3M',
 '0-6Y',
 '0M',
 '0Y',
 '1',
 '1-3Y',
 '10',
 '10-11Y',
 '10-12Y',
 '100',
 '104',
 '10Y',
 '11',
 '11-12Y',
 '110',
 '116',
 '11Y',
 '12',
 '12-13Y',
 '12-14Y',
 '12-18M',
 '120',
 '122',
 '128',
 '12M',
 '12Y',
 '13',
 '130',
 '134',
 '13Y',
 '14-15Y',
 '140',
 '146',
 '14Y',
 '15',
 '150',
 '152',
 '152-164',
 '158',
 '16',
 '160',
 '164',
 '16Y',
 '170',
 '176',
 '18-24M',
 '18M',
 '19',
 '1M',
 '1Y',
 '2',
 '2-5Y',
 '20',
 '21',
 '22',
 '23',
 '24',
 '24M',
 '25',
 '26',
 '27',
 '28',
 '29',
 '2M',
 '2Y',
 '3',
 '3-6M',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '3M',
 '3Y',
 '4',
 '4-6Y',
 '40',
 '42',
 '44',
 '46',
 '48',
 '4Y',
 '5',
 '5-7Y',
 '50',
 '52',
 '54',
 '55',
 '56',
 '5Y',
 '6',
 '6-12M',
 '6-7Y',
 '6-8Y',
 '6-9M',
 '62',
 '65',
 '68',
 '6M',
 '6Y',
 '7',
 '74',
 '75',
 '7Y',
 '8',
 '8-10Y',
 '8-9Y',
 '80',
 '86',
 '8Y',
 '9',
 '9-12M',
 '9-12Y',
 '90',
 '92',
 '98',
 '9M',
 '9Y',
 'CHLD',
 'L',
 'M',
 'S',
 'X',
 'XS',
 'XXL',
 'YTH'}

In [93]:
df2['new_size']=new_sz

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
colunms=['article_no','gender','category','price','new_size','brand']
df3=df2[colunms]
df3.head(2)

   article_no  gender         category  price new_size   brand
0  88836791    unisex  tops and bodies  89     44       Åhléns
1  88836791    unisex  tops and bodies  89     50       Åhléns

In [95]:
df3['new_size'].unique()

array(['44', '50', '56', '62', '68', '74', '86', '52', '0M', '0-3M',
       '3-6M', '6-9M', '9-12M', '1Y', '2M', '6M', '9M', '12-18M', '6-12M',
       '104', '116', '128', '140', '80', '92', '12M', '18M', '24M', '3M',
       '1M', '110', '98', '18-24M', '46', '100', '120', '130', '90', '2Y',
       '3Y', '4Y', '5Y', '6Y', '122', '10Y', '12Y', '14Y', '8Y', '152',
       '164', '176', '134', '146', '2', '4', '5', '6', '158', '170',
       '10-11Y', '12-13Y', '6-7Y', '8-9Y', '', 'S', 'X', '150', '160',
       '14-15Y', 'XXL', '12', '8', '10', '48', '20', '21', '22', '23',
       '24', '25', '26', '7Y', '3', '11Y', '13Y', '9Y', '16Y', '152-164',
       '4-6Y', '8-10Y', '27', '28', '29', '31', '32', '33', '35', '36',
       '15', '19', '30', '37', '38', '39', '40', '1', '11', '13', '34',
       '54', '0Y', '11-12Y', '5-7Y', '2-5Y', '6-8Y', '9-12Y', '0-6Y', 'M',
       'XS', '55', '65', '75', '0', '16', '7', 'CHLD', 'YTH', '9', '1-3Y',
       '42', 'L', '10-12Y', '12-14Y'], dtype=object)

In [33]:
df2[df2['size']=='6-7Y(S)']

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url,new_size
6066,"Hoodie, galaxyblue",GAP,unisex,dresses and skirts,"Vit,Turkos,Rosa,Grå,GalaxyBlue,",6-7Y(S),329,https://www.ahlens.se/Barn/barnklader-stl-122-152/trojor-koftor-213352/gap-hoodie-galaxyblue-90313080/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/73AP63KCTG_90313081_front.jpg,90313080,https://storage.googleapis.com/urbankiddo/ahlens/90313080,6-7Y(S)
6161,"Hoodie, rosa",GAP,unisex,dresses and skirts,"Vit,Turkos,Rosa,Grå,GalaxyBlue,",6-7Y(S),329,https://www.ahlens.se/Barn/barnklader-stl-122-152/trojor-koftor-213352/gap-hoodie-rosa-90313077/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/73AP13PCNG_90313076_front.jpg,90313077,https://storage.googleapis.com/urbankiddo/ahlens/90313077,6-7Y(S)
6818,"Hoodie, grå",GAP,unisex,dresses and skirts,"Vit,Turkos,Rosa,Grå,GalaxyBlue,",6-7Y(S),150,https://www.ahlens.se/Barn/barnklader-stl-122-152/trojor-koftor-213352/gap-hoodie-gra-90224030/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/18APTHHNA6_90224027_front.jpg,90224030,https://storage.googleapis.com/urbankiddo/ahlens/90224030,6-7Y(S)

In [34]:
df2[df2['size']=='YTH']

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url,new_size
25767,"Keps, Kids league essential a-frame neyyan, svart",New Era,unisex,pants,"Svart,",YTH,249,https://www.ahlens.se/Barn/barnklader-stl-122-152/accessoarer-skor-213343/new-era-keps-kids-league-essential-a-frame-neyyan-svart-90524927/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/74APNT4F12_0192860134268_front.jpg,90524927,https://storage.googleapis.com/urbankiddo/ahlens/90524927,YTH
26043,"Keps, kids 9forty seasonal neyyan, korall",New Era,unisex,pants,"Korall,",YTH,199,https://www.ahlens.se/Barn/barnklader-stl-122-152/accessoarer-skor-213343/new-era-keps-kids-9forty-seasonal-neyyan-korall-90524911/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/78AP8TUFX2_0192860134176_front.jpg,90524911,https://storage.googleapis.com/urbankiddo/ahlens/90524911,YTH
26524,"Keps, Kids 9forty league essential neyyan, rosa",New Era,unisex,pants,"Rosa,",YTH,199,https://www.ahlens.se/Barn/barnklader-stl-122-152/accessoarer-skor-213343/new-era-keps-kids-9forty-league-essential-neyyan-rosa-90061147/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/52APNTRF02_0191715887434_front.jpg,90061147,https://storage.googleapis.com/urbankiddo/ahlens/90061147,YTH

In [96]:
df3=df3[df3['new_size']!='YTH']
df3=df3[df3['new_size']!='CHLD']
df3['new_size'].unique()

array(['44', '50', '56', '62', '68', '74', '86', '52', '0M', '0-3M',
       '3-6M', '6-9M', '9-12M', '1Y', '2M', '6M', '9M', '12-18M', '6-12M',
       '104', '116', '128', '140', '80', '92', '12M', '18M', '24M', '3M',
       '1M', '110', '98', '18-24M', '46', '100', '120', '130', '90', '2Y',
       '3Y', '4Y', '5Y', '6Y', '122', '10Y', '12Y', '14Y', '8Y', '152',
       '164', '176', '134', '146', '2', '4', '5', '6', '158', '170',
       '10-11Y', '12-13Y', '6-7Y', '8-9Y', '', 'S', 'X', '150', '160',
       '14-15Y', 'XXL', '12', '8', '10', '48', '20', '21', '22', '23',
       '24', '25', '26', '7Y', '3', '11Y', '13Y', '9Y', '16Y', '152-164',
       '4-6Y', '8-10Y', '27', '28', '29', '31', '32', '33', '35', '36',
       '15', '19', '30', '37', '38', '39', '40', '1', '11', '13', '34',
       '54', '0Y', '11-12Y', '5-7Y', '2-5Y', '6-8Y', '9-12Y', '0-6Y', 'M',
       'XS', '55', '65', '75', '0', '16', '7', '9', '1-3Y', '42', 'L',
       '10-12Y', '12-14Y'], dtype=object)

In [97]:
df3.head(2)

   article_no  gender         category  price new_size   brand
0  88836791    unisex  tops and bodies  89     44       Åhléns
1  88836791    unisex  tops and bodies  89     50       Åhléns

In [101]:
dfr=df3
dfr.to_csv('åhlens_cleaned.csv',index=False) #for rows not showing

In [100]:
# df2[df2['article_no']==88836791]

In [91]:
df2[df2['size']=='ONE SIZE']

,name,brand,gender,category,color,size,price,url,img_url,article_no,blob_url,new_size
26218,"Ryggsäck , black/white",Molo,unisex,pants,"Multi,Black/White,",ONE SIZE,399,https://www.ahlens.se/Barn/barnklader-stl-86-116/accessoarer-skor-213331/molo-ryggsack-black-white-90589862/,https://www.ahlens.se/INTERSHOP/static/WFS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/04APB3AL7F_5714210089315_front.jpg,90589862,https://storage.googleapis.com/urbankiddo/ahlens/90589862,ONE SIZE

In [58]:
i2=df3[df3['new_size']=='XX'].index.values
i2

array([ 6181,  6190, 24015, 24383, 24404, 24648, 24942, 25029])

In [69]:
df3=df3[df3['new_size']!='XX']

In [71]:
df3['new_size'].unique()

array(['44', '50', '56', '62', '68', '74', '86', '52', '0 month',
       '0-3 months', '3-6 months', '6-9 months', '9-12 months', '1 year',
       '2 months', '6 months', '9 months', '12-18 months', '6-12 months',
       '104', '116', '128', '140', '80', '92', '12 months', '18 months',
       '24 months', '3 months', '1 month', '110', '98', '18-24 months',
       '46', '100', '120', '130', '90', '2 years', '3 years', '4 years',
       '5 years', '6 years', '122', '10 years', '12 years', '14 years',
       '8 years', '152', '164', '176', '134', '146', '2', '4', '5', '6',
       '158', '170', '10-11 years', '12-13 years', '6-7YEARS',
       '8-9 years', '', 'S', 'X', '150', '160', '14-15 years', '12', '8',
       '10', '48', '20', '21', '22', '23', '24', '25', '26', '7 years',
       '3', '3Y', '4Y', '5Y', '2Y', '11 years', '13 years', '9 years',
       '16 years', '152-164', '4-6 years', '8-10 years', '27', '28', '29',
       '31', '32', '33', '35', '36', '15', '19', '30', '37', '38', '39',
       '40', '7Y', '1', '11', '13', '1Y', '34', '54', '6Y', '0 year',
       '11-12 years', '5-7 years', '2-5 years', '6-8 years', '9-12 years',
       '0-6 years', 'XS', '55', '65', '75', '0', '16', '7', '9',
       '1-3 years', '42', 'ONE SIZE', '10-12 years', '12-14 years'],
      dtype=object)