In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly

result=pd.read_csv("Image-Classification-and-Price-prediction/scrapping/data/ellos.csv", encoding='utf-8',index_col=False)
print(result.count())
result.head(3)

name          7450
brand         7450
gender        7450
category      7450
size          7450
price         7450
url           7450
img_url       7450
article_no    7450
blob_url      0
dtype: int64

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
0,Leggings,Ellos Kids,girl,byxor-shorts,86/92,74,https://www.ellos.se/ellos-kids/leggings/7007355-04,https://assets.ellosgroup.com/i/ellos/b?%24eg%24&%24emz%24&%24ep%24&%24ez%24&n=ell_7007355-04_Ff_M0028018&mw=1000,7007355-04-07,NaN
1,Leggings,Ellos Kids,girl,byxor-shorts,98/104,74,https://www.ellos.se/ellos-kids/leggings/7007355-04,https://assets.ellosgroup.com/i/ellos/b?%24eg%24&%24emz%24&%24ep%24&%24ez%24&n=ell_7007355-04_Ff_M0028018&mw=1000,7007355-04-07,NaN
2,Leggings,Ellos Kids,girl,byxor-shorts,110/116,74,https://www.ellos.se/ellos-kids/leggings/7007355-04,https://assets.ellosgroup.com/i/ellos/b?%24eg%24&%24emz%24&%24ep%24&%24ez%24&n=ell_7007355-04_Ff_M0028018&mw=1000,7007355-04-07,NaN

In [2]:
df=result.drop_duplicates()
result.drop_duplicates().count()

name          5803
brand         5803
gender        5803
category      5803
size          5803
price         5803
url           5803
img_url       5803
article_no    5803
blob_url      0
dtype: int64

In [3]:
df['price'].unique()

array(['74', '59', '149', '89', '75', '90', '134', '50', '107', '112',
       '65', '97', '125', '69', '104', '55', '127', '224', '187', '249',
       '129', '99', '244', '359', '199,50', '119', '339', '299,40',
       '104,30', '174', '139', '299', '209', '77', '137', '167', '195',
       '279', '199', '262', '179', '172', '47', '103', '79', '160', '116',
       '210', '239', '374', '524', '599', '674', '489', '899', '100',
       '40', '111', '212', '44', '41', '319', '269', '169', '52', '949'],
      dtype=object)

In [4]:
pd.options.display.float_format = '{:,.0f}'.format
df2=df
df2.price=df2.price.str.replace(",", ".")



df2['price']=df2['price'].astype(float)
df2['price']=df2['price'].round()
df2['price']=df2['price'].astype(int)

df2.head(2)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:5209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
0,Leggings,Ellos Kids,girl,byxor-shorts,86/92,74,https://www.ellos.se/ellos-kids/leggings/7007355-04,https://assets.ellosgroup.com/i/ellos/b?%24eg%24&%24emz%24&%24ep%24&%24ez%24&n=ell_7007355-04_Ff_M0028018&mw=1000,7007355-04-07,nan
1,Leggings,Ellos Kids,girl,byxor-shorts,98/104,74,https://www.ellos.se/ellos-kids/leggings/7007355-04,https://assets.ellosgroup.com/i/ellos/b?%24eg%24&%24emz%24&%24ep%24&%24ez%24&n=ell_7007355-04_Ff_M0028018&mw=1000,7007355-04-07,nan

In [5]:
df2['size'].unique()

array(['86/92', '98/104', '110/116', '122/128', '134/140', '74/80', '92',
       '98', '104', '110', '116', '122', '128', '134', '140', '146/152',
       '158/164', '170', '110/120', '130/140', '62', '68', '74', '80',
       '86', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
       '30', '31', '32', '33', '34', '35', '36', '37', '38', '39',
       '16/17', '18/19', '20/21', '22/23', '18-19', '24/25', '26/27',
       '28/29', '30/31', '170/176', '62/68', '22/24', '25/27', '28/30',
       '31/33', '34/36', '37/39', '40/42', '110-116', '74-80', '86-92',
       '98-104', '122-128', '134-140', '146-152', '158-164', '146', '152',
       '158', '164', '176', '40', '41', 'S/10', 'M/12', 'L/14', 'XL/16',
       'One Size', '92/110', '116/140', '146/164', '50', '56', '2', '4',
       '6', '16/18', '19/21', 'ONE SIZE', 'S', 'M', '200 [20]',
       '210 [21]', '220 [22]', '230 [23]', '240 [24]', '250 [25]',
       '260 [26]'], dtype=object)

In [9]:
df2[df2['size']=='230 [23]']

,name,brand,gender,category,size,price,url,img_url,article_no,blob_url
7446,Kängor Yxhult EP,Kavat,unisex,babyskor,230 [23],949,https://www.ellos.se/kavat/kangor-yxhult-ep/1523187-01,https://assets.ellosgroup.com/i/ellos/b?%24eg%24&%24emz%24&%24ep%24&%24ez%24&n=ell_1523187-01_Fs&mw=1000,1523187-01-21,nan

In [20]:
sz_list=df2['size'].tolist()

new_sz=[]
for s in sz_list:
    if s.find("/")!=-1:
        s=s.split('/')[1]
    
    if s.find('[')!=-1:
        s=s.split('[')[1]
        s=s.strip(']')
        
    
    if s.find('ONE SIZE')!=-1:
        s=s.replace('ONE SIZE','One Size')
    
    if s.find('-')!=-1:
        s=s.split('-')[1]
    
    new_sz.append(s)
    
set(new_sz)

{'10',
 '104',
 '110',
 '116',
 '12',
 '120',
 '122',
 '128',
 '134',
 '14',
 '140',
 '146',
 '152',
 '158',
 '16',
 '164',
 '17',
 '170',
 '176',
 '18',
 '19',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '4',
 '40',
 '41',
 '42',
 '50',
 '56',
 '6',
 '62',
 '68',
 '74',
 '80',
 '86',
 '92',
 '98',
 'M',
 'One Size',
 'S'}

In [13]:
'200 [20]'.split('[')[1]

'20]'

In [21]:
df2['new_size']=new_sz

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
colunms=['article_no','gender','category','price','new_size','brand']
df3=df2[colunms]
df3.head(2)

       article_no gender      category  price new_size       brand
0   7007355-04-07  girl   byxor-shorts  74     92       Ellos Kids
1   7007355-04-07  girl   byxor-shorts  74     104      Ellos Kids

In [23]:
dfr=df3
dfr.to_csv('ellos_cleaned.csv',index=False) #for rows not showing