In [ ]:
import pandas as pd
df=pd.read_csv("cleaning_brand.csv")
dfr=pd.read_csv("raw_data.csv")
df2=df
df2['size']=df2['size'].str.lower()
df2['size']=df2['size'].replace(" ","")
df2['size']=df2['size'].str.upper()
df2['size']=df2['size'].str.strip("EU")
df2['size']=df2['size'].replace("ONESIZE","ONE SIZE")
df2['size']=df2['size'].replace("ONESIZ","ONE SIZE")
df2['size']=df2['size'].replace("ONE","ONE SIZE")
df2['size']=df2['size'].replace("ONE SIZ","ONE SIZE")

df2['size']=df2['size'].replace("56/1M","56")
df2['size']=df2['size'].replace("98/3Y","98")
df2['size']=df2['size'].replace("104/4Y","104")
df2['size']=df2['size'].replace("110/5Y","110")
df2['size']=df2['size'].replace("116/6Y","116")
df2['size']=df2['size'].replace("122/7Y","122")
df2['size']=df2['size'].replace("128/8Y","128")
df2['size']=df2['size'].replace("134/9Y","134")
df2['size']=df2['size'].replace("146/11Y","146")
df2['size']=df2['size'].replace("152/12Y","152")
df2['size']=df2['size'].replace("140/10Y","140")
df2['size']=df2['size'].replace("104/4Y","104")
df2['size']=df2['size'].replace("164/14Y","164")
df2['size']=df2['size'].replace("176/16Y","176")
df2['size']=df2['size'].replace("100/3Y","100")
df2['size']=df2['size'].replace("120/6Y","120")
df2['size']=df2['size'].replace("130/8Y","130")
df2['size']=df2['size'].replace("150/12Y","150")
df2['size']=df2['size'].replace("160/14Y","160")
df2['size']=df2['size'].replace("170/16Y","170")

df2['size']=df2['size'].replace("86/1½Y","86")
df2['size']=df2['size'].replace("92/2Y","92")
df2['size']=df2['size'].replace("90/2Y","90")
df2['size']=df2['size'].replace("3+Y","3Y")
df2['size']=df2['size'].replace("80/1Y","80")
df2['size']=df2['size'].replace("PREMATUR","44")
df2['size']=df2['size'].replace("6-7Å","6-7Y")
df2['size']=df2['size'].replace("NA","No Size")

df2['size']=df2['size'].replace("3-6KG","0-3M")
df2['size']=df2['size'].replace("6-9KG","3-9M")
df2['size']=df2['size'].replace("9-12KG","12-18M")
df2['size']=df2['size'].replace("12-18KG","2-6Y")

df2['size']=df2['size'].replace("62/3M","62")
df2['size']=df2['size'].replace("68/6M","68")
df2['size']=df2['size'].replace("74/9M","74")
df2['size']=df2['size'].replace("68M","68")
df2['size']=df2['size'].replace("24-36M","24-25")
df2['size']=df2['size'].replace("18-36M","23-26")
df2['size']=df2['size'].replace("6-24M","ONE SIZE")

df2['brand']=df2['brand'].replace("leksaker","No Brand")

df2['size']=df2['size'].replace("M","Medium")
df2['size']=df2['size'].replace("00-03M","0-3M")
df2['size']=df2['size'].replace("04-06M","4-6M")
df2['size']=df2['size'].replace("00-06M","0-6M")
df2['size']=df2['size'].replace("8M","74")
df2['size']=df2['size'].replace("1.5-2Y","90")
df2['size']=df2['size'].replace("3-4Y","100")
df2['size']=df2['size'].replace("4-5Y","110")
df2['size']=df2['size'].replace("6-7Y","120")
df2['size']=df2['size'].replace("7-8Y","130")
df2['size']=df2['size'].replace("9-10Y","140")
df2['size']=df2['size'].replace("11-12Y","150")
df2['size']=df2['size'].replace("12-13Y","160")
df2['size']=df2['size'].replace("0-3Y","52-98")
df2['size']=df2['size'].replace("0Y","50-80")
df2['size']=df2['size'].replace("2Y","92")
df2['size']=df2['size'].replace("4Y","104")
df2['size']=df2['size'].replace("6Y","122")
df2['size']=df2['size'].replace("2-4Y","92-104")
df2['size']=df2['size'].replace("4-6Y","110-116")
df2['size']=df2['size'].replace("6-8Y","122-128")
df2['size']=df2['size'].replace("0-2Y","50-92")
df2['size']=df2['size'].replace("2-3Y","92-100")
df2['size']=df2['size'].replace("10M-2Y","74-92")
df2['size']=df2['size'].replace("1-2Y","82-92")
df2['size']=df2['size'].replace("6-12Y","122-150")
df2['size']=df2['size'].replace("0-1Y","52-80")
df2['size']=df2['size'].replace("8-10Y","128-140")
df2['size']=df2['size'].replace("4-8Y","110-128")
df2['size']=df2['size'].replace("10-12Y","140-150")
df2['size']=df2['size'].replace("12-14Y","150-170")
df2['size']=df2['size'].replace("1Y","80")
df2['size']=df2['size'].replace("2-5Y","92-116")
df2['size']=df2['size'].replace("5-10Y","116-140")
df2['size']=df2['size'].replace("6-10Y","122-140")
df2['size']=df2['size'].replace("5-6Y","110-116")
df2['size']=df2['size'].replace("2-6Y","92-116")
df2['size']=df2['size'].replace("5-8Y","116-128")
df2['size']=df2['size'].replace("11Y","150")
df2['size']=df2['size'].replace("8Y","128")
df2['size']=df2['size'].replace("3-5Y","100-110")
df2['size']=df2['size'].replace("4-7Y","110-122")
df2['size']=df2['size'].replace("8-12Y","128-150")
df2['size']=df2['size'].replace("1-3Y","52-98")
df2['size']=df2['size'].replace("2-8Y","92-128")
df2['size']=df2['size'].replace("3-7Y","100-122")
df2['size']=df2['size'].replace("3Y","100")
df2['size']=df2['size'].replace("5Y","116")
df2['size']=df2['size'].replace("10Y","140")
df2['size']=df2['size'].replace("12Y","150")
df2['size']=df2['size'].replace("8-9Y","134")
df2['size']=df2['size'].replace("10-11Y","140-150")
df2['size']=df2['size'].replace("7Y","122")
df2['size']=df2['size'].replace("9Y","140")
df2['size']=df2['size'].replace("14Y","170")
df2['size']=df2['size'].replace("13-14Y","160-170")
df2['size']=df2['size'].replace("16Y","190")
df2['size']=df2['size'].replace("5-7Y","110-122")
df2['size']=df2['size'].replace("9-12Y","134-140")
df2['size']=df2['size'].replace("3-6Y","104-116")
df2['size']=df2['size'].replace("13-15Y","152-160")
df2['size']=df2['size'].replace("14Y-16Y","170-190")
df2['size']=df2['size'].replace("2-5Y","92-116")
df2['size']=df2['size'].replace("6-12Y","122-150")
df2['size']=df2['size'].replace("13-15Y","160-180")
df2['size']=df2['size'].replace("14-16Y","170-190")
df2['size']=df2['size'].replace("1-1.5Y","80-86")
df2['size']=df2['size'].replace("15-16Y","160-170")
df2['size']=df2['size'].replace("1.5Y","86")
df2['size']=df2['size'].replace("10-14Y","140-170")
df2['size']=df2['size'].replace("7-9Y","122-134")
df2['size']=df2['size'].replace("14-15Y","170-180")
df2['size']=df2['size'].replace("16-18Y","190-210")
df2['size']=df2['size'].replace("1-4Y","80-110")
df2['size']=df2['size'].replace("12Y","150")
df2['size']=df2['size'].replace("2.5Y","96")
df2['size']=df2['size'].replace("6-9Y","122-140")
df2['size']=df2['size'].replace("2Y-5Y","92-110")
df2['size']=df2['size'].replace("6Y-12Y","116-150")
df2['size']=df2['size'].replace("13Y","160")
df2['size']=df2['size'].replace("15Y","180")
df2['size']=df2['size'].replace("5-12Y","116-150")
df2['size']=df2['size'].replace("12-18Y","150-210")
df2['size']=df2['size'].replace("9-11Y","128-150")
df2['size']=df2['size'].replace("11-14Y","150-170")
df2['size']=df2['size'].replace("00-01Y","50-80")
df2['size']=df2['size'].replace("01-02Y","86-92")
df2['size']=df2['size'].replace("02-04Y","98-104")
df2['size']=df2['size'].replace("04-06Y","110-116")
df2['size']=df2['size'].replace("16-17Y","190-200")
df2['size']=df2['size'].replace("0-6Y","50-116")
df2['size']=df2['size'].replace("2/3Y","92-100")
df2['size']=df2['size'].replace("4/5Y","110")
df2['size']=df2['size'].replace("6/8Y","122-128")
df2['size']=df2['size'].replace("6-16Y","122-190")

df2['size']=df2['size'].replace("0-3M","50-62")
df2['size']=df2['size'].replace("3-6M","62-74")
df2['size']=df2['size'].replace("6-12M","74-80")
df2['size']=df2['size'].replace("12-18M","80-86")
df2['size']=df2['size'].replace("0-6M","50-74")
df2['size']=df2['size'].replace("9-12M","74-80")
df2['size']=df2['size'].replace("18-24M","92-98")
df2['size']=df2['size'].replace("2-6M","60-68")
df2['size']=df2['size'].replace("4-9M","58-74")
df2['size']=df2['size'].replace("0-2M","50-56")
df2['size']=df2['size'].replace("12-24M","80-98")
df2['size']=df2['size'].replace("6M","74")
df2['size']=df2['size'].replace("0M","50")
df2['size']=df2['size'].replace("1M","56")
df2['size']=df2['size'].replace("3M","62")
df2['size']=df2['size'].replace("1-4M","56-58")
df2['size']=df2['size'].replace("2-8M","60-72")
df2['size']=df2['size'].replace("12M","80")
df2['size']=df2['size'].replace("18M","88")
df2['size']=df2['size'].replace("24M","92")
df2['size']=df2['size'].replace("36M","96")
df2['size']=df2['size'].replace("6-9M","68-74")
df2['size']=df2['size'].replace("9M","74")
df2['size']=df2['size'].replace("1-3M","56-62")
df2['size']=df2['size'].replace("23M","94")
df2['size']=df2['size'].replace("1-2M","56-60")
df2['size']=df2['size'].replace("0-4M","50-64")
df2['size']=df2['size'].replace("4-10M","68-78")
df2['size']=df2['size'].replace("2-4M","62")
df2['size']=df2['size'].replace("4-6M","68")
df2['size']=df2['size'].replace("30M","94")
df2['size']=df2['size'].replace("S-M","S")
df2['size']=df2['size'].replace("3-9M","56-76")
df2['size']=df2['size'].replace("3-12M","56-80")

df2['size']=df2['size'].replace("4-5M","62")
df2['size']=df2['size'].replace("6-7M","68")
df2['size']=df2['size'].replace("7-9M","68-76")
df2['size']=df2['size'].replace("0-12M","54-80")
df2['size']=df2['size'].replace("9-18M","76-94")
df2['size']=df2['size'].replace("30-36M","94-104")
df2['size']=df2['size'].replace("0-9M","50-76")
df2['size']=df2['size'].replace("9-24M","76-88")
df2['size']=df2['size'].replace("48M","92")
df2['size']=df2['size'].replace("4M","62")
df2['size']=df2['size'].replace("2M","58")
df2['size']=df2['size'].replace("7-12M","68-80")
df2['size']=df2['size'].replace("0-1M","50-54")
df2['size']=df2['size'].replace("1-6M","54-68")
df2['size']=df2['size'].replace("5-8M","66-74")
df2['size']=df2['size'].replace("10-24M","80-92")
df2['size']=df2['size'].replace("13US","No Size")
df2['size']=df2['size'].replace("NEWBORN","50-74")
df2['size']=df2['size'].replace("ON","No Size")
df2['size']=df2['size'].replace("ONE-SIZ","ONE SIZE")
df2['size']=df2['size'].replace("2-4YS","92-104")
df2['size']=df2['size'].replace("ONE SIZE","74-90")
df2['size']=df2['size'].replace("4SR","No Size")
df2['size']=df2['size'].replace("XXXL","XL")
df2['size']=df2['size'].replace("XL-XXL","XL")
df2['size']=df2['size'].replace("XS-S","S")
df2['size']=df2['size'].replace("XXS","S")
df2['size']=df2['size'].replace("L-XL","L")
df2['size']=df2['size'].replace("XXL","XL")
df2['size']=df2['size'].replace("2Y-92","92")
df2['size']=df2['size'].replace("MEDIUM","M")
df2['size']=df2['size'].replace("XX","No Size")
df2['size']=df2['size'].replace("X","No Size")
df2['size']=df2['size'].replace("M-L","M")
df2['size']=df2['size'].str.replace(",",".")

df2['size']=df2['size'].replace("NO SIZ","No Size")
df2['size']=df2['size'].replace("Medium","M")
df2['size']=df2['size'].str.replace("/","-")

df2['size']=df2['size'].replace("","No Size")

df2['size'].unique()

df3=df2
df5= pd.DataFrame( columns=['article_no', 'gender','category', 'price','size','brand','name','url']) #creates a new dataframe that's empty
c=0
df4 = pd.DataFrame( columns=['article_no', 'gender','category', 'price','size','brand','name','url']) #creates a new dataframe that's empty

In [7]:
df2.count()

article_no    463828
gender        463828
category      463828
price         463828
size          463828
brand         463828
dtype: int64

In [10]:
nn

nan

In [ ]:
# for i in range(df3.count().values[0]):
for i in range(395952,463828):
    an=df2.iloc[i]['article_no']
    try:
        un=dfr[dfr['article_no']==an]['url'].values[0]
        nn=dfr[dfr['article_no']==an]['name'].values[0]
    except:
        un='Na'
        nn='Na'
        pass

    bn=df2.iloc[i]['brand']
    pn=df2.iloc[i]['price']
    gn=df2.iloc[i]['gender']
    cn=df2.iloc[i]['category']
    sn=df2.iloc[i]['size']

    if nn in ['2','3','4','5','6','7','8','9']:
        sn2=sn
        df5 = df5.append([{'article_no':an,'gender':gn,'category':cn,'price':pn,'size':sn2,'brand':bn,'name':nn,'url':un}], ignore_index = True)
        continue

    if sn in ['XS','S','M','L','XL','SL','No Size']:
        sn2=sn
        df4 = df4.append([{'article_no':an,'gender':gn,'category':cn,'price':pn,'size':sn2,'brand':bn,'name':nn,'url':un}], ignore_index = True)
        continue

    if sn.find('-')!=-1:

        la=sn.split('-')
        for sn2 in range(round(float(la[0])),round(float(la[1]))+1):
#             print(sn2)
            df4 = df4.append([{'article_no':an,'gender':gn,'category':cn,'price':pn,'size':sn2,'brand':bn,'name':nn,'url':un}], ignore_index = True) # ignoring index is optional
    else:
        sn2=round(float(sn))
        df4 = df4.append([{'article_no':an,'gender':gn,'category':cn,'price':pn,'size':sn2,'brand':bn,'name':nn,'url':un}], ignore_index = True) # ignoring index is optional

    with open('log.txt', 'a+') as file:
        # Use file to refer to the file object
        file.write('N'+str(i)+'S'+sn+'\t')
    c=c+1
#     print('count',c)

In [4]:
df4['article_no'].count()

740106

In [15]:
df5.count()

article_no    45245
gender        45245
category      45245
price         45245
size          45245
brand         45245
name          45245
url           45245
dtype: int64

In [16]:
df5.drop_duplicates().count()

article_no    28367
gender        28367
category      28367
price         28367
size          28367
brand         28367
name          28367
url           28367
dtype: int64

In [17]:
df6=df4.drop_duplicates()
df7=df5.drop_duplicates()

In [18]:
df6.to_csv('data.csv',index=False) #for rows not showing
df7.to_csv('data2.csv',index=False) #for rows not showing

In [19]:
df2.to_csv('raw_data.csv',index=False) #for rows not showing